<header class="font-4xl my-4">Dashboard Ordenes</header>
<div>
  <div>
    <section class="grid-header-dashboard-orders">
      <div>
        <span><i class="far fa-shopping-cart fa-4x"></i></span>
        <span># Ordenes</span>
        <span>1500</span>
      </div>
      <div>
        <span><i class="fas fa-shopping-cart fa-4x"></i></span>
        <span># Productos</span>
        <span>1500</span>
      </div>
      <div>
        <span><i class="fas fa-dollar-sign fa-4x"></i></span>
        <span># Ventas</span>
        <span>1500</span>
      </div>
      <div>
        <span><i class="fas fa-dollar-sign fa-4x"></i></span>
        <span># Ventas</span>
        <span>1500</span>
      </div>
    </section>
  </div>
</div>
