.grid-header-dashboard-orders {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
}

.grid-header-dashboard-orders div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
    color: #8e8e8e;
}