<div>
  <h2 class="my-0">Orden # {{order.id}}</h2>
  <div class="mb-2">
    <mat-chip-list>
      <mat-chip>Canal: {{channel(order.channel_id) | translatefz:'order_channels'}}</mat-chip>
      <mat-chip>Tipo de orden: {{order.type | translatefz:'orders'}}</mat-chip>
    </mat-chip-list>
    <app-state-flow-order [newStatus]="order.status"></app-state-flow-order>
    <div>
      <div>
        <div class="node"></div>
      </div>
    </div>
  </div>
  <div class="grid-two-columns">
    <div class="section-order">
      <h3 class="font-3xl font-weight-bold">Datos del cliente</h3>
      <div class="container-info">
        <table>
          <tbody>
            <tr>
              <td><span>Nombres del cliente : </span></td>
              <td>{{client.first_name}} {{client.last_name}}</td>
            </tr>
            <tr>
              <td><span>Tipo de documento :</span></td>
              <td>{{client.doc_type}}</td>
            </tr>
            <tr>
              <td><span>Numero de identificación :</span></td>
              <td>{{client.doc_id}}</td>
            </tr>
            <tr>
              <td><span>Correo electrónico :</span></td>
              <td>{{client.email}}</td>
            </tr>
            <tr>
              <td><span>Teléfono :</span></td>
              <td>{{client.phone}}</td>
            </tr>
            <tr>
              <td><span>Ciudad :</span></td>
              <td>{{client.city}}</td>
            </tr>
            <tr>
              <td><span>Estado o provincia :</span></td>
              <td>{{client.state}}</td>
            </tr>
            <tr>
              <td><span>País :</span></td>
              <td>{{client.country}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="section-order">
      <h3 class="font-3xl font-weight-bold">Datos de la dirección</h3>
      <div class="container-info">
        <table>
          <tbody>
            <tr>
              <td><span>Nombres de la persona que recibe : </span></td>
              <td>{{address.first_name}} {{address.last_name}}</td>
            </tr>
            <tr>
              <td><span>Calles :</span></td>
              <td>{{address?.street}}</td>
            </tr>
            <tr>
              <td><span>Numero :</span></td>
              <td>{{address?.number}}</td>
            </tr>
            <tr>
              <td><span>Vecindario :</span></td>
              <td>{{address?.neighborhood}}</td>
            </tr>
            <tr>
              <td><span>Ciudad :</span></td>
              <td>{{address?.city}}</td>
            </tr>
            <tr>
              <td><span>Estado o provincia :</span></td>
              <td>{{address?.state}}</td>
            </tr>
            <tr>
              <td><span>Codigo zip :</span></td>
              <td>{{address?.zip_code}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-3 section-order">
    <h3 class="font-3xl font-weight-bold">Productos</h3>
    <div>
      <div [formGroup]="classOrderItem.form">
        <div class="row">
          <mat-form-field class="col-md-5">
            <input appearance="outline" matInput formControlName="product" placeholder="Producto">
            <button class="bg-gray-200" mat-icon-button matSuffix (click)="isOpenSearchProducts = !isOpenSearchProducts">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="col-md-2">
            <input appearance="outline" matInput formControlName="price" type="number" placeholder="Precio">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
          <mat-form-field class="col-md-2">
            <input appearance="outline" matInput type="number" formControlName="quantity" placeholder="Cantidad">
          </mat-form-field>
          <div class="col-md-3">
            <button [disabled]="classOrderItem.form.invalid || isLoadingItem || classOrderItem.isEditingItem" color="primary" mat-raised-button
             (click)="createOrEditItemOrder()" >Agregar</button>
          </div>
        </div>
        <div class="editing-item" *ngIf="classOrderItem.isEditingItem">
          <div>
            <h4 class="parpadeo">Editando</h4>
            <div [formGroup]="classOrderItem.formEdit" class="row">
              <mat-form-field class="col-md-5">
                <input matInput disabled formControlName="product" placeholder="Producto">
                <button class="bg-gray-200" mat-icon-button matSuffix (click)="isOpenSearchProducts = !isOpenSearchProducts">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field class="col-md-2">
                <input matInput formControlName="price" type="number" placeholder="Precio">
                <span matPrefix>$&nbsp;</span>
              </mat-form-field>
              <mat-form-field class="col-md-2">
                <input matInput formControlName="quantity" type="number" placeholder="Cantidad">
              </mat-form-field>
              <div>
                <button [disabled]="classOrderItem.form.invalid || isLoadingItem" color="primary" mat-raised-button
                  (click)="createOrEditItemOrder()">Actualizar</button>
                  <button [disabled]="isLoadingItem" color="warn" mat-raised-button
                  (click)="classOrderItem.disabledEditingItemOrder()">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h4 class="font-2xl font-weight-bold">Lista de productos</h4>
        <div>
          <div data>
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Imagen</th>
                  <th>Producto</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Acciones</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of itemsOrder | keyvalue">
                  <td class="py-0">
                    <img class="img-product-item" mat-list-avatar [src]="item.value.product.value?.img || 'assets/img/img_default_null.jpg'"
                      alt="imagen producto">
                  </td>
                  <td>
                    {{item.value.product?.code}} - {{item.value.product?.name}}
                  </td>
                  <td class="text-muted">${{item.value.price}}</td>
                  <td class="text-muted">{{item.value.quantity}}</td>
                  <td>
                    <mat-chip-list>
                      <mat-chip (click)="classOrderItem.enabledEditingItemOrder(item.key)" selected color="accent">Editar &nbsp; <mat-icon>edit</mat-icon>
                      </mat-chip>
                      <mat-chip selected (click)="deleteItemOrder(order.id, item.key)" color="warn">Eliminar &nbsp; <mat-icon>delete</mat-icon>
                      </mat-chip>
                    </mat-chip-list>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-3 section-order">
    <h3 class="font-3xl font-weight-bold">Envió</h3>
    <button color="accent" class="mb-1" mat-raised-button (click)="openDialogShipping()">Agregar envió <mat-icon>add</mat-icon></button>
    <div>
      <table class="table overflow-auto">
        <thead>
          <tr>
            <th>Tipo de envío</th>
            <th>Monto</th>
            <th>Peso cubico</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Ancho</th>
            <th>Largo</th>
            <th>Bodega</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shipping of order.shippings">
            <td>{{shipping.type}}</td>
            <td>{{shipping.amount}}</td>
            <td>{{shipping.cubicweight}}</td>
            <td>{{shipping.weight}}</td>
            <td>{{shipping.height}}</td>
            <td>{{shipping.width}}</td>
            <td>{{shipping.length}}</td>
            <td>{{shipping.origin_warehouse_id+ "-"+ shipping.origin_warehouse.name}}</td>
            <td>
              <mat-chip-list>
                <mat-chip selected color="accent" (click)="openDialogShipping(shipping.id)">Editar &nbsp; <mat-icon>edit</mat-icon>
                </mat-chip>
                <mat-chip selected color="warn" (click)="deleteShipping(shipping.id)">Eliminar &nbsp; <mat-icon>delete</mat-icon>
                </mat-chip>
              </mat-chip-list>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-two-columns">
    <div class="my-3 section-order">
      <div>
        <h3 class="font-3xl font-weight-bold">Impuestos y descuentos</h3>
        <button color="accent" class="mb-1" mat-raised-button (click)="openDialogCreateOrEditDiscountOrTax()">Agregar monto <mat-icon>add</mat-icon></button>
      </div>
      <div>
        <table class="table">
          <thead>
            <tr class="text-primary">
              <th>Tipo</th>
              <th>Tipo de Monto</th>
              <th>Nombre</th>
              <th>Monto</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let discountOrTax of discountsAndTaxes | keyvalue">
              <td>{{discountOrTax.value.type | translatefz:'orders'}}</td>
              <td>{{discountOrTax.value.amount_type | translatefz:'orders'}}</td>
              <td>{{discountOrTax.value.name}}</td>
              <td>{{discountOrTax.value.amount}}</td>
              <td>
                <mat-chip-list>
                  <mat-chip selected color="accent" (click)="openDialogCreateOrEditDiscountOrTax(discountOrTax.key)">Editar &nbsp; <mat-icon>edit</mat-icon>
                  </mat-chip>
                  <mat-chip selected color="warn" (click)="deleteAdditionalAmount(discountOrTax.key)">Eliminar &nbsp; <mat-icon>delete</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mt-3 section-order">
      <h3 class="font-3xl font-weight-bold">Totales</h3>
      <div>
        <table>
          <tbody class="text-uppercase">
            <tr>
              <td>Subtotal:&nbsp;</td>
              <td>$ {{order.subtotal}}</td>
            </tr>
            <tr>
              <td>Descuento:&nbsp;</td>
              <td>$ {{order.discount}}</td>
            </tr>
            <tr>
              <td>Impuestos:&nbsp;</td>
              <td>$ {{order.tax}}</td>
            </tr>
            <tr>
              <td>Retención:&nbsp;</td>
              <td>$ {{order.retention}}</td>
            </tr>
            <tr>
              <td>Total:&nbsp;</td>
              <td>$ {{order.total}}</td>
            </tr>
            <tr>
              <td>Total pagado:&nbsp;</td>
              <td>$ {{order.total_paid}}</td>
            </tr>
            <tr>
              <td>Costo de envió:&nbsp;</td>
              <td>$ {{order.shipping}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'close-search-product': !isOpenSearchProducts}" class="search-product col-md-6 col-9">
  <button mat-mini-fab class="close-search-product-btn"><mat-icon>close</mat-icon></button>
  <div>
    <app-search [url]="urlProducts" placeholder="Buscador de productos" (data)="getDataProducts($event)">
      <mat-selection-list data [multiple]="false" (selectionChange)="selectedProduct($event)">
        <mat-list-option [value]="product.key" *ngFor="let product of products | keyvalue">
          <img mat-list-avatar [src]="product.value?.img || 'assets/img/img_default_null.jpg'" alt="imagen producto">
          <div mat-line>{{product.value.name}}</div>
          <div mat-line>{{product.value.code}}</div>
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </app-search>
  </div>
</div>