
// .grid-info {
//     display: grid;
//     grid-template-columns: 50% 50%;
//     gap: 10px;
// }
.section-order {
    border: 3px solid #dadadaa1;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.grid-two-columns {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.grid-footer-columns {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
}

.container-info table tbody tr > td span {
 color: #00838F;
}

.container-info {
    font-size: 15px;
}

.loader-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}



// .search-product {
//     position: fixed;
//     top: 0;
//     right: 0;
//     z-index: 9999;
//     // width: 300px;
//     background-color: white;
//     height: 100vh;
//     overflow: initial;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//     transition: all 0.3s ease-in-out;
// }

// .close-search-product {
//     transform: translateX(calc(100% + 40px));
//     transition: all 0.3s;
// }

h3 {
    border-bottom: 2px solid #0e7caf;
    padding-bottom: 4px;
}

.grid-footer {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
    .total {
        font-size: 15px;
    }
}

// .img-product-item {
//     width: 50px;
//     height: 50px;
//     object-fit: contain;
// }

// .editing-item {
//     position: fixed;
//     display: flex;
//     height: 100vh;
//     top: 0;
//     z-index: 1025;
//     background: #ffffff8a;
//     width: 100%;
//     left: 0;
//     justify-content: center;
//     align-items: center;
//     backdrop-filter: blur(9px);
// }

// .close-search-product-btn{
//     position: absolute;
//     top: 16px;
//     left: -59px;
// }
