<div class="">
  <app-search-template
    [customLoader]="true"
    [customTemplate]="true"
    [title]="'Locaciones'"
    [columns]="1"
    placeholder="Escriba la locación a buscar"
    [url$]="'admin/locations'"
    (data)="loadData($event)"
    [filter_data]="filters"
    [active_filters_menu]="true"
    >
    <ng-container customTemplate>
      <div class="w-100">
        <div class="overflow-auto shadow">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Tipo</th>
              <td mat-cell *matCellDef="let element">{{ element.type }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Estado</th>
              <td mat-cell *matCellDef="let element">{{ element.status }}</td>
            </ng-container>
            <ng-container matColumnDef="mba_code">
              <th mat-header-cell *matHeaderCellDef>Código mba</th>
              <td mat-cell *matCellDef="let element">{{ element.mba_code }}</td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef>Dirección</th>
              <td mat-cell *matCellDef="let element">{{ element.address }}</td>
            </ng-container>
            <ng-container matColumnDef="latitude">
              <th mat-header-cell *matHeaderCellDef>Latitud</th>
              <td mat-cell *matCellDef="let element">{{ element.latitude }}</td>
            </ng-container>
            <ng-container matColumnDef="longitude">
              <th mat-header-cell *matHeaderCellDef>Longitud</th>
              <td mat-cell *matCellDef="let element">{{ element.longitude }}</td>
            </ng-container>
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef>Ciudad</th>
              <td mat-cell *matCellDef="let element">{{ element.city.name }}</td>
            </ng-container>
            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef>Compañía</th>
              <td mat-cell *matCellDef="let element">{{ element.company.name }}</td>
            </ng-container>
            <ng-container matColumnDef="acciones" stickyEnd>
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element; let ind = index">
                <button
                  *ngxPermissionsOnly="permission_edit"
                  mat-icon-button
                  color="primary"
                  [routerLink]="['./edit', element.id]">
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  *ngxPermissionsOnly="permission_destroy"
                  (click)="deleteItem(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row style="top: 67px" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </ng-container>
    <ng-container *ngxPermissionsOnly="permission_create" menuBar>
      <mat-chip class="ml-1 mat-btn-add" [routerLink]="['./create']">
        <mat-icon>add_location_alt</mat-icon>
        &nbsp;Agregar locación
      </mat-chip>
    </ng-container>
    <ng-container filterMenu>
      <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-label>Ciudades</mat-label>
          <mat-select [(ngModel)]="filters.city_id">
            <mat-option value="">Todos las ciudades</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city.id">
              {{ city.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-label>Compañía</mat-label>
          <mat-select [(ngModel)]="filters.company_id">
            <mat-option value="">Todos las compañía</mat-option>
            <mat-option *ngFor="let company of companies" [value]="company.id">
              {{ company.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="filters.status">
            <mat-option value="">Todos los estados</mat-option>
            <mat-option value="active">Activos</mat-option>
            <mat-option value="inactive">Inactivos</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="filters.type">
            <mat-option value="">Todos los tipos</mat-option>
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </app-search-template>

  <!-- <mat-paginator *ngIf="ELEMENT_DATA.length" [pageSizeOptions]="[10, 20, 30]" (page)="changePaginator($event)" showFirstLastButtons [pageSize]="paginator.per_page" [length]="paginator.total" [pageIndex]="paginator.current_page-1"></mat-paginator> -->

  <!-- <button *ngxPermissionsOnly="permission_create" mat-fab style="position: fixed;bottom: 10px;right: 10px;"
    [routerLink]="['./create']">
    <mat-icon>add</mat-icon>
  </button> -->
</div>
<div></div>
