.input-facebook{
  background: white;
    font-size: 20px;
}
.down {
  background-color: red;
  color: white;
}
.up {
  background-color: green;
  color: white;
}
.warehouse {
  height: 500px;
    overflow: auto;
}



.warehouse-item{
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row;
}

.rotate-180 {
  transform: rotateY(180deg);
}

/* .warehouse-add:hover::after{
  content: 'click para agregar';
} */
