.input-facebook {
  background: white;
  font-size: 20px;
  border: 3px solid #7b9d9d;
}
.down {
  background-color: red !important;
  color: white !important;
}
.up {
  background-color: green !important;
  color: white !important;
}
.warehouse {
  height: 500px;
  overflow: auto;
}

.warehouse-item {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row;
}

.rotate-180 {
  transform: rotateY(180deg);
}

/* .warehouse-add:hover::after{
  content: 'click para agregar';
} */
