<div class="display-4">
    {{title}}...
</div>
<form class="card" [formGroup]="formCreateOrEdit" (ngSubmit)="sendData()">
    <div class="card-body">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input formControlName="name" id="name" class="form-control" type="text" name="">
        </div>

        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                <label for="code_old">Codigo antiguo</label>
                <input id="code_old" class="form-control" type="text" name="">
            </div>

            <div class="form-group col-md-4 col-sm-12">
                <label for="code_alt">Codigo alternativo</label>
                <input id="code_alt" class="form-control" type="text" name="">
            </div>

            <div class="form-group col-md-4 col-sm-12">
                <label for="categories">Categorias</label>
                <select id="categories" formControlName="category" class="form-control">
                    <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
                </select>
            </div>

            <div class="form-group col-md-4 col-sm-12">
                <label for="categories">Prefijo</label>
                <select id="categories" formControlName="prefix" class="form-control">
                    <option *ngFor="let item of prefixes" [value]="item.id">{{item.type}}</option>
                </select>
            </div>

            <div class="form-group col-md-4 col-sm-12">
                <label for="categories">Marca</label>
                <select id="categories" formControlName="brand" class="form-control">
                    <option *ngFor="let item of brands" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Descripcion</label>
            <textarea id="description" formControlName="description" class="form-control" type="text" rows="3" name=""></textarea>
        </div>
        <div class="form-group">
            <label for="sequence_pre">Secuencia predefinida</label>
            <input id="sequence_pre" formControlName="sequence_pre" class="form-control" type="text" name="">
            <small>Secuencia predefinida: (Colocar solo en caso de que se requiera una secuencia especifica, esto modificara las secuencias siguientes)</small>
        </div>
        <div class="form-group">
            <label for="code_pre">Codigo predefinida</label>
            <input id="code_pre" formControlName="code_pre" class="form-control" type="text" name="">
            <small>Código Predefinido: (Colocar en el caso que se requiera un código especial)</small>
        </div>
        <button type="button" name="" id="" class="btn btn-primary">Enviar</button>
    </div>
</form>