<div>
    <h1 class="mt-3">Ticket # {{ticket?.code}}</h1>
    <div class="my-2 d-flex justify-content-between flex-wrap align-items-center">
        <mat-chip-list>
            <mat-chip selected [color]="ticket?.status == 'open' ? 'accent': 'success'">Estado: {{ticket?.status == 'open' ? 'Abierto': 'Cerrado'}}</mat-chip>
        </mat-chip-list>
        <ng-container *ngxPermissionsOnly="permissions.edit"><button *ngIf="ticket?.status == 'open'" color="warn" (click)="closeTicket()" mat-raised-button>Cerrar Ticket</button></ng-container>
    </div>
    <h3>{{ticket?.subject}}</h3>

    <mat-card>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div >
                        <mat-card class="mb-3">
                            <h3 class="font-2xl">Cliente</h3>
                            <p class="font-lg">{{ticket?.client?.first_name}} {{ticket?.client?.last_name}}</p>
                            <table class="table table-borderless table-sm">
                                <tbody>
                                    <tr>
                                        <td>Dirección:</td>
                                        <td>{{ticket?.client?.country}} {{ticket?.client?.state}}</td>
                                    </tr>
                                    <tr>
                                        <td>Documento:</td>
                                        <td>{{ticket?.client?.doc_id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>{{ticket?.client?.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>País:</td>
                                        <td>{{ticket?.client?.phone}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-card>
                        <mat-card class="mb-3">
                            <h3 class="font-2xl">Detalles</h3>
                            <table class="table table-borderless table-sm">
                                <tbody>
                                    <tr>
                                        <td>Departamento:</td>
                                        <td>{{ticket?.department?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td># Orden:</td>
                                        <td><button class="border-0" [routerLink]="['/system-orders/orders']" [queryParams]="{search:ticket?.order_id}">{{ticket?.order_id}}</button></td>
                                    </tr>
                                    <tr>
                                        <td>Creado:</td>
                                        <td>{{ticket?.created_at | date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Actualizado:</td>
                                        <td>{{ticket?.updated_at | date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-card>
                        <mat-card>
                            <div [formGroup]="form">
                                <mat-form-field class="col-12">
                                    <textarea matInput formControlName="message"  placeholder="Mensaje" ></textarea>
                                </mat-form-field>
                                <div *ngIf="fileUrl.url" class="col-12">
                                    
                                    <div class="position-relative" style="width: 200px;">
                                        <button class="btn-remove-img" (click)="removeImage()" mat-mini-fab><mat-icon>close</mat-icon></button>
                                        <ng-container *ngIf="fileUrl.file.type.includes('image'); else templateFile">
                                            <img class="rounded-fz shadow w-100" [src]="fileUrl.url" alt="">
                                        </ng-container>
                                        <ng-template #templateFile>
                                            <div class="bg-dark rounded-fz shadow center" style="height: 250px;">
                                                <div class="text-center">
                                                    <mat-icon class="text-center">insert_drive_file</mat-icon>
                                                    <div>Archivo</div>
                                                    <div class="text-muted">{{fileUrl.file.name}}</div>
                                                </div>
                                            </div>
                                        </ng-template>
                                        
                                    </div>
                                </div>
                                <div *ngxPermissionsOnly="permissions.edit" class="center">
                                    <div class="position-relative">
                                        <label class="file-img bg-orange center mr-1 mt-2 px-3 rounded-fz" for="file">
                                            <mat-icon>attach_file</mat-icon> Adjuntar archivo
                                        </label>
                                        <input formControlName="file" type="file" id="file" class="d-none" name="file" (change)="onFileChange($event)" accept="image/png,image/jpeg,application/pdf"/>
                                    </div>
                                    <button *ngxPermissionsOnly="permissions.edit" mat-raised-button [disabled]="isLoading" color="primary" (click)="saveInServer()">Enviar mensaje <mat-icon>send</mat-icon></button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="col-md-6">
                    <app-chat-ticket></app-chat-ticket>
                </div>
            </div>
        </div>
    </mat-card>
</div>