<app-header-search [filter_data]="{min:min,max:max,'warehouse_ids[]':warehouse_ids,prefix_id:prefix_id}"
  [placeholder]="'Buscador de vtex'" (isLoading)="isLoading = $event" [url]="url" (products)="loadData($event)">
  <mat-chip-list class="ml-1">
    <mat-chip [routerLink]="['./create-product-vtex']" class="text-truncate">
      <mat-icon class="text-black-50" type="search">add</mat-icon>
    </mat-chip>
  </mat-chip-list>
</app-header-search>

<div *ngIf="isLoading" class="mt-4 card-columns">
  <div *ngFor="let item of [1, 2, 3]" class="card border-0 rounded-fz text-center">
    <ngx-skeleton-loader count="1" [theme]="{
        'border-radius': '20px',
    height: '200px'
  }"></ngx-skeleton-loader>
    <div class="text-center">
      <ngx-skeleton-loader appearance="circle" count="1"></ngx-skeleton-loader>
    </div>
    <ngx-skeleton-loader count="1" [theme]="{
    'border-radius': '5px',
    height: '35px',
    width:'150px',
    'margin-right':'5px'
  }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="1" [theme]="{
    'border-radius': '5px',
    height: '25px',
    width:'150px',
    'margin-right':'5px'
  }"></ngx-skeleton-loader>
  </div>
</div>

<div *ngIf="!isLoading;" class="mt-4 card-columns">
  <div *ngFor="let p of products;let index_product=index" class="card border-0 rounded-fz overflow-hidden">
    <mat-card class="card-body">
      <div>
        <div>
          <span class="{{p.status}} text-uppercase vtex-status pill-fz">{{p.status}}</span><br>
          <span class="vtex-btn-edit">
            <button *ngxPermissionsOnly="permission_page.product_edit" [routerLink]="[ './edit-product-vtex/', p.vtex_api_id ]" color="primary" mat-mini-fab>
              <mat-icon>edit</mat-icon>
            </button>
          </span>
        </div>
        <div>
          {{p.name}}
        </div>
      </div>
      <div class="my-2">
        <span class="font-facebook font-2xl">Skus</span>
      </div>
      <div>
        <swiper [config]="config" [useSwiperClass]="false">
          <div class="shadow rounded-fz position-relative card-body" *ngFor="let sku of p.skus">
            <span class="vtex-reference pill-fz">{{sku.reference_code}}</span>
            <img class="w-100 img-product rounded-fz position-relative"
              [src]="sku?.images && sku.images.length > 0 ? sku.images[0]?.ImageUrl  :img_not" [alt]="p.name">
            <span class="vtex-btn-edit">
              <button (click)="openModalPrices(sku.vtex_api_id,index_product)" mat-mini-fab>
                <mat-icon>attach_money</mat-icon>
              </button>
              <button *ngxPermissionsOnly="permission_page.sku_edit" (click)="showSku(sku.vtex_api_id)" mat-icon-button class=" bg-gray-200">
                <mat-icon>edit</mat-icon>
              </button>
            </span>
          </div>
        </swiper>
      </div>
    </mat-card>
  </div>
</div>

<ng-container *ngIf="!isLoading && products.length < 1">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/img/respuesta_vacia.svg" alt="" width="100%">
    </div>
    <div class="col-md-6 font-facebook font-2xl d-flex align-items-center">
      Ups! Sin resultados en tu búsqueda
    </div>
  </div>
</ng-container>
<!-- <mat-paginator *ngIf="mlInfos.length > 0" class="float-right" #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="changedPaginator($event)"> -->
<mat-paginator [hidden]="isLoading" *ngIf="products.length > 0" [pageSizeOptions]="[10, 20, 30]"
  (page)="changePaginator($event)" showFirstLastButtons [pageSize]="paginator.per_page" [length]="paginator.total"
  [pageIndex]="paginator.current_page-1">
</mat-paginator>
