<div>
  <div>
    <h2 class="font-facebook font-3xl my-2">Crear de Chat Grupal</h2>
  </div>

  <mat-horizontal-stepper linear #stepper>
    <mat-step [editable]="true">
      <form  class="row">
        <ng-template matStepLabel>Selecionador de usuarios</ng-template>
        <div class="col-md-6">
          <div class="w-100">
            <input class="input-search" placeholder="Buscador de Usuario" [(ngModel)]="searchText" name="search">
            <button matSuffix (click)="searchUser()" mat-mini-fab><mat-icon>search</mat-icon></button>
          </div>
          <mat-card>
            <mat-selection-list [multiple]="false">
              <mat-list-option (click)="addUser(user.id)" [value]="user.id" *ngFor="let user of users">
               <div class="d-flex align-items-center">
                <img class="photo-user" [src]="getPhoto(user?.person?.photo?.real_permalink)" />
                &nbsp; {{user?.name}}
               </div>
              </mat-list-option>
            </mat-selection-list>
          </mat-card>
        </div>
        <div class="col-md-6">
          <h2 class="font-facebook font-2xl">Usuarios seleccionados</h2>
          <mat-card>
            <mat-selection-list [multiple]="false"  >
              <mat-list-option [value]="user.id" *ngFor="let user of usersSelect">
                <div class="d-flex align-items-center">
                  <img class="photo-user" [src]="getPhoto(user?.person?.photo?.real_permalink)" />
                  &nbsp; {{user?.name}} <button color="warn" mat-icon-button (click)="removeUser(user.id)"><mat-icon>close</mat-icon></button>
                </div>
              </mat-list-option>
            </mat-selection-list>
          </mat-card>
        </div>
        <div>
          <button mat-raised-button matStepperNext color="primary" class="my-2">Siguiente</button>
        </div>
      </form>
    </mat-step>
   <!--  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>-->
    <mat-step>
      <ng-template matStepLabel>Datos del Grupo</ng-template>
      <div class="form-group">
        <label for="file">Seleccione una imagen</label>
        <input (change)="getBase64($event)" type="file" class="form-control" name="file">
      </div>
      <div class="row align-items-center ">
        <div class="img-container col-md-4 col-12">
          <div *ngIf="img?.base64" class="position-relative">
            <button (click)="removeImg()" class="position-absolute" color="warn" mat-icon-button><mat-icon>delete</mat-icon></button>
            <img  [src]="img?.base64"  class="img rounded-circle">
          </div>
        </div>
        <mat-form-field class="col-md-8 col-12">
          <input [(ngModel)]="nameGroup" matInput placeholder="Ingrese el nombre del grupo" required>
        </mat-form-field>
      </div>
      <div class="my-2">
        <button mat-raised-button matStepperPrevious>Retroceder</button>
        <button mat-raised-button color="primary" [disabled]="isload" (click)="saveInServer()">Guardar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
