<div class="">
    <mat-card class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="fa fa-align-justify"></i> Tabla de Productos
            </div>
            <button type="button" *ngxPermissionsOnly="permission_create" (click)="goCreate()" class="btn btn-pill btn-warning">Crear Producto</button>
        </div>
        <div class="card-body" [formGroup]="formProducts">
            <table class="table table-responsive table-striped">
                <caption>Resultados de {{products?.total}} productos</caption>
                <thead>
                    <tr>
                        <th scope="col"># <br><input required formControlName="id" class="form-control"></th>
                        <th scope="col">Código <br><input formControlName="code" class="form-control" type="text"></th>
                        <th scope="col">Alt. <br><input formControlName="code_alt" class="form-control" type="text"></th>
                        <th scope="col" colspan="2">Nombre <br><input formControlName="name" class="form-control" type="text"></th>
                        <th scope="col" colspan="2">Descripcion <br><input formControlName="description" class="form-control" type="text">
                        </th>
                        <th scope="col">Tipo <br><input formControlName="prefix" class="form-control" type="text"></th>
                        <th scope="col">Categoria <br><input formControlName="category" class="form-control" type="text"></th>
                        <th scope="col">Secuencia <br><input formControlName="sequence" class="form-control" type="text"></th>
                        <th scope="col">Marca <br><input formControlName="brand" class="form-control" type="text"></th>
                        <th scope="col"><button class="btn btn-primary" (click)="nextPage()" type="button">Buscar</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products?.data | paginate: {
                    itemsPerPage: perPage,
                    currentPage: pageCurrent,
                    totalItems: totalItem
                }">
                        <td>{{item.id}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.code_alt}}</td>
                        <td colspan="2">{{item.name}}</td>
                        <td colspan="2">{{item.description}}</td>
                        <td>{{item.prefix?.type}}</td>
                        <td>{{item.category?.name}}</td>
                        <td>{{item.sequence?.sequence_number}}</td>
                        <td>{{item.brand?.name}}</td>
                        <td class="d-flex"><span [routerLink]="['edit',item.id]" *ngxPermissionsOnly="permission_edit" routerLinkActive="router-link-active" class="mr-1 btn btn-sm btn-spotify" role="button"><i class="far fa-edit"></i></span><span (click)="destroyProduct(item.id)"
                                *ngxPermissionsOnly="permission_destroy" class="btn btn-html5 btn-sm"><i class="far fa-trash-alt"></i></span></td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="nextPage($event)" (pageBoundsCorrection)="nextPage($event)" maxSize="9" directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
            </pagination-controls>

        </div>
    </mat-card>
</div>
