<app-search-template
  [title]="'Productos'"
  active_filters_menu="true"
  [columns]="2"
  (data)="getData($event)"
  placeholder="Buscar producto"
  [url$]="pathProductIndex"
  [filter_data]="filter">
  <ng-container data>
    <mat-card @fade class="card border-0" *ngFor="let p of products; index as ind">
      <mat-card-header [id]="p.id" class="d-block mat-card-header-m-0" style="top: 68px; background: inherit">
        <div class="font-weight-light font-2xl mb-2">
          <mat-chip (click)="copyCodigo(p.code)">
            <small>
              {{ p?.code }}
              <i class="far fa-copy"></i>
            </small>
          </mat-chip>
          {{ p.name }}
          <button
            color="orange"
            *ngxPermissionsOnly="permission.product_edit"
            [routerLink]="['/admin-products/productos/edit/' + p.id]"
            routerLinkActive="router-link-active"
            mat-icon-button>
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div class="info-prices">
            <span class="badge-fz">
             <span>Ultimas unidades vendidas:</span> {{p.last_sold_count}}
            </span>
            <span class="badge-fz">
              <span>Ultimo precio de venta:</span> ${{p.last_price_sold}}
             </span>
             <span class="badge-fz">
              <span>Mínimo precio de vendido:</span> ${{p.min_price_sold}}
             </span>
             <span class="badge-fz">
              <span>Máximo precio de vendido:</span> ${{p.max_price_sold}}
             </span>
          </div>
          <hr>
          <div class="mt-2">
            <button mat-button class="mr-1" type="button" color="primary" (click)="viewWareHouse(ind)">
              <i class="fa-solid fa-cubes-stacked"></i>
             Ver stock en bodegas {{ p.available }}
            </button>
            <button mat-button color="accent" class="my-1" (click)="openDialogHistoryPrices(p.id)">
              <i class="fa-solid fa-clock-rotate-left"></i>
              Ver historial de precios
            </button>
            <button (click)="toggle.classList.toggle('show')" mat-button class="my-1">
              <i class="fa-solid fa-arrows-up-down"></i> Ver más 
            </button>
          </div>
          <div #toggle class="collapse-fz">
            <div class="mt-3 px-3">
              <h3 class="font-2xl my-1">Descripción</h3>
              <p class="text-muted">{{p?.description}}</p>
            </div>
            <hr>
            <div class="items-info d-flex flex-wrap">
              <span>
                <small>
                  <strong>Identificador:</strong>
                  #{{ p?.id }}
                </small>
              </span>
              <span>
                <small>
                  <strong>Tipo:</strong>
                  {{ p?.prefix?.type }}
                </small>
              </span>
              <span>
                <small>
                  <strong>Marca:</strong>
                  {{ p.brand.name }}
                </small>
              </span>
              <span>
                <small>
                  <strong>Categoría:</strong>
                  {{ p?.category?.name }}
                </small>
              </span>
            </div>
          </div>
          <div>
            <div *ngIf="p?.last_prices?.length > 0" class="col-12">
              <div class="header">
                <div class="font-3xl my-4">Precios</div>
              </div>
              <ul class="card-body rounded-fz shadow list-unstyled">
                <li *ngFor="let price of p.last_prices" class="border-bottom font-xl p-1">
                  <span class="text-muted mr-2">{{ price.group.name }}:</span>
                  <b>${{ price?.full_price_formated }}</b>
                </li>
              </ul>
            </div>
            <div *ngIf="p.promotions?.length > 0" class="card-body">
              <div class="font-3xl my-4">Promociones</div>
              <mat-card *ngFor="let promotion of p.promotions" class="my-3">
                <mat-card-header>
                  <mat-card-title>
                    <div class="font-2xl">{{ promotion.title }}</div>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p *ngIf="promotion.description">{{ promotion.description }}</p>
                  <div>
                    <small>Detalles</small>
                    <ul class="list">
                      <li>
                        Precio:
                        <b class="text-primary">{{ promotion.price_formated | currency }}</b>
                      </li>
                      <li>
                        Creado:
                        <b>{{ promotion.created_at | date: "medium" }}</b>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="promotion.duration_type === 'date_range'">
                    <hr />
                    <small>Fecha de inicio y fin</small>
                    <ul class="list">
                      <li>
                        Inicio:
                        <b>{{ promotion.start_date | date: "medium" }}</b>
                      </li>
                      <li>
                        Fin:
                        <b>{{ promotion.end_date | date: "medium" }}</b>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <hr />
                    <small>Productos</small>
                    <div>
                      <table class="table table-sm">
                        <thead class="text-black-50">
                          <tr>
                            <th>Imagen</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let product of promotion?.products">
                            <td>
                              <img
                                class="shadow rounded-lg"
                                [src]="product.image || 'assets/img/img_default_null.jpg'"
                                alt=""
                                width="50"
                                height="50" />
                            </td>
                            <td>
                              <span class="text-danger">{{ product.code }}</span>
                              {{ product.name }}
                            </td>
                            <td>{{ product.pivot.quantity }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
              <!-- <app-promociones *ngFor="let promotion of p.promotions" [promotion]="promotion"></app-promociones> -->
            </div>
            <!-- <div *ngIf="p.imports.length > 0" class="">
              <div class="header">
                <div class="font-3xl my-4">Historial de importaciones</div>
              </div>
              <mat-chip-list aria-label="Importaciones">
                <mat-chip *ngFor="let imports of p.imports">
                  {{ imports.sequence.origin.name }} #{{ imports.sequence.sequence_number }}
                </mat-chip>
              </mat-chip-list>
            </div> -->
          </div>
          <ng-container *ngIf="p.vtex_skus?.length > 0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="header">
                <div class="font-3xl my-4">PÁGINA WEB</div>
              </div>
            </div>
            <div class="container">
              <swiper [config]="config" [useSwiperClass]="false">
                <mat-card style="background: inherit" *ngFor="let i of p.vtex_skus">
                  <app-pagina-web [prestashop_product]="i"></app-pagina-web>
                </mat-card>
              </swiper>
            </div>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container filterMenu>
    <!-- <mat-menu #menu="matMenu" [overlapTrigger]="false"> -->
    <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <mat-form-field class="w-100">
        <mat-label>Prefijos</mat-label>
        <mat-select [(ngModel)]="filter.prefix_id">
          <mat-option value="">Todos</mat-option>
          <mat-option *ngFor="let prefix of prefixes" [value]="prefix.id">{{ prefix.type }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="row m-0 p-0"
      style="text-overflow: initial"
      mat-menu-item
      (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()">
      <mat-form-field class="col-6">
        <mat-label>Stock Min</mat-label>
        <input matInput type="number" [(ngModel)]="filter.min" type="number" class="" />
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Stock Max</mat-label>
        <input [(ngModel)]="filter.max" type="number" matInput class="" />
      </mat-form-field>
    </div>
    <div
      mat-menu-item
      [disableRipple]="true"
      (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()"
      class="h-100">
      <mat-form-field class="w-100">
        <mat-label>Todas las Bodegas</mat-label>
        <mat-select type="text" #select_warehouse [(ngModel)]="filter['warehouse_ids[]']" multiple>
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip
                (removed)="removeWarehouse(warehouse_id)"
                *ngFor="let warehouse_id of filter['warehouse_ids[]']"
                [removable]="true">
                {{ getNameWareHouse(warehouse_id) }}
                <i class="fa-solid fa-xmark"></i>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
            {{ warehouse.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- </mat-menu> -->
  </ng-container>
</app-search-template>

<!-- <div *ngIf="isLoading" class="card-columns">
      <div *ngFor="let item of [1, 2, 3]" class="my-1 card rounded-fz card-body border-0">
        <ngx-skeleton-loader count="1" [theme]="{
            'border-radius': '5px',
            height: '50px'
          }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" [theme]="{
            'border-radius': '5px',
            height: '30px'
          }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="3" [theme]="{
            'border-radius': '5px',
            height: '40px',
            width: '150px',
            'margin-right': '5px'
          }"></ngx-skeleton-loader>
      </div>
    </div> -->

<!-- <div *ngIf="!isLoading" class="card-columns">

    </div>

    <ng-container *ngIf="!isLoading && products.length < 1">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/img/respuesta_vacia.svg" alt="" width="100%" />
        </div>
        <div style="line-height: 1" class="col-md-6 font-facebook font-2xl d-flex align-items-center">
          Ups! Sin resultados en tu búsqueda
        </div>
      </div>
    </ng-container>

    <mat-paginator *ngIf="products.length > 0" [hidden]="isLoading" [pageSizeOptions]="[10, 20, 30]"
      (page)="changePaginator($event)" showFirstLastButtons [pageSize]="paginator.per_page" [length]="paginator.total"
      [pageIndex]="paginator.current_page-1">
    </mat-paginator> -->
