

.cursor_copy {
  cursor: copy;
  color: darkcyan;
}

.cursor_copy:hover {
  color: green;
}

.cursor_copy:active {
  /* transform: scale(.2); */
  font-size: xx-small;
  transition: 1s all;
}

.card-columns {
  column-count: 2;
}

@media (max-width: 600px) {
  .card-columns {
    column-count: 1;
  }
}

.list {
  list-style: disc;
  padding-left: 25px;
  color: gray;
}

.collapse-fz:not(.show) {
  visibility: collapse;
  height: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: all 1s;
}

.show {
  visibility: visible;
  height: auto;
  opacity: 1;
  pointer-events: auto;
  overflow: visible;
  transition: all 1s;
}

.items-info span {
  padding: 5px 8px;
  border-radius: 8px;
  color: gray;
}

.info-prices {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
  padding-top: 20px;
  margin-top: 15px;
  > span {
    background-color: rgb(3 169 244 / 7%);
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  span span {
    color: gray;
  }

  .label-info-prices {
    position: absolute;
    top: -16px;
    display: inline-block;
    padding: 5px;
    left: 5px;
    border-radius: 5px;
  }
}
