<div style="background-image: url('assets/img/login.svg');background-size: cover;" class="pt-sm-0 pt-4 vh-100 bg-login">
    <div class="row m-0 vh-100">
        <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
            <!-- <div class=" m-0 p-0"> -->
            <div class="text-info">
                <!-- <div>
                    <div class="font-facebook mb-md-5 mb-3" style="font-size: 5vw;">NOVISOLUTIONS</div>
                    <p class="lead">Este sistemas de información ayuda a administrar, recolectar, recuperar, procesar, almacenar y distribuir información relevante para los procesos fundamentales y las particularidades de la organización.
                    </p>
                </div> -->
                <!-- </div> -->
                <form [formGroup]="formPassword" (ngSubmit)="saveInServer()" class="">
                    <mat-card class="">
                        <mat-card-header>
                            <mat-card-title>ESTABLECER CONTRASEÑA SYSTEM</mat-card-title>
                            <mat-card-subtitle>Formulario de inicio de establecer contraseña de Novisolutions</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <!-- <mat-form-field appearance="fill" class="d-block">
                            <mat-label>Correo</mat-label>
                            <input matInput autocomplete type="email" formControlName="email">
                            <mat-error *ngIf="formLogin.get('email').invalid">Ingrese un correo valido</mat-error>
                        </mat-form-field> -->
                            <mat-form-field appearance="fill" class="d-block">
                                <mat-label>Contraseña</mat-label>
                                <input autocomplete matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                                <!-- <mat-error *ngIf="formPassword.get('password').invalid">Ingrese la contraseña</mat-error> -->
                                <mat-error *ngIf="formPassword.controls['password'].invalid">La contraseña debe contener minusculas y al menos una mayuscula, numero y simbolo</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="d-block">
                                <mat-label>Confirmar Contraseña</mat-label>
                                <input autocomplete matInput [type]="hide2 ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix type="button" (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                                <!-- <mat-error *ngIf="formPassword.get('password').invalid">Ingrese la contraseña</mat-error> -->
                                <mat-error *ngIf="formPassword.controls['password'].invalid">La contraseña debe contener minusculas y al menos una mayuscula, numero y simbolo</mat-error>
                            </mat-form-field>
                            <!-- <div class="col-12 mt-3 font-2xl font-facebook">
                                {{count_down.hour}}:{{count_down.min}}
                                <span class="font-weight-normal">
                                  Tiempo para ingresar el codigo
                                </span>
                            </div> -->
                        </mat-card-content>
                        <mat-card-actions>
                            <button color="primary" [disabled]="formPassword.invalid || isLoad" type="submit" mat-raised-button>Iniciar sesion</button>
                        </mat-card-actions>
                    </mat-card>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex p-0 align-items-center ">
            <img src="/assets/img/capture-password.svg" class="w-100 position-absolute" alt="">

        </div>
    </div>
</div>
