.input-product {
  background: #dadada;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  border: none;
  outline: none;
  margin-right: 10px;
  width: 100%;
}

.input-price {
    width: 84px;
  }