.pending {
    color: #f0ad4e;
    background-color: #f0ac4e2d;
}

.processed {
    color: #5cb85c;
    background-color: #5cb85c2d;
}

.delivered {
    color: #5bc0de;
    background-color: #5bc0de2d;
}

.cancelled {
    color: #d9534f;
    background-color: #d9534f2d;
}