<app-header-fz (isOpenOrCloseMenu)="openOrCloseMenu()" class="app-header-fz main-style">
  <ul class="d-flex m-0 align-items-center">
    <li class="nav-item d-md-down-none d-flex align-items-center justify-content-center p-1 rounded-fz">
      <i class="fa-regular fa-sun text-warning icon-size" [ngClass]="{ 'text-muted': isDark }"></i>
      &nbsp;
      <mat-slide-toggle [(ngModel)]="isDark" (change)="onSetTheme($event)"></mat-slide-toggle>
      &nbsp;
      <i [ngClass]="{ 'text-muted': !isDark }" class="fa-regular fa-moon text-white icon-size"></i>
    </li>
    <li class="nav-item">
      <app-menu-notifications></app-menu-notifications>
    </li >
    
    <li class="nav-item">
      <button mat-icon-button (click)="openOrCloseChats()">
        <i [matBadge]="countMessages"
        class="d-inline-flex"
        matBadgePosition="above after"
        matBadgeColor="accent"
        color="primary" class="fa-regular fa-comment icon-size"></i>
      </button>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" [matMenuTriggerFor]="menu2">
        <img [src]="user?.person?.photo?.permalink || url_img" class="img-avatar custom-avatar" alt="user" />
      </a>
      <mat-menu #menu2="matMenu">
        <button [routerLink]="['home/perfil']"  mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Mi perfil</span>
        </button>
        <button mat-menu-item (click)="sa.logout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </li>
    <li class="nav-item">
      <app-configuration-menu></app-configuration-menu>
    </li>
  </ul>
</app-header-fz>

<div class="app-body main-style">

  <app-sidebar-fz (hiddenSidebar)="hiddenSidebar = $event" (isMinimizeSidebar)="sidebarMinimized = $event" class="main-style sidebar1 scroll scrollbar-sidebar-fz"></app-sidebar-fz>

  <main [ngClass]="{ 'open-menu-chat': hideUsersChat, 'minimize-sidebar': sidebarMinimized, 'hidden-sidebar': hiddenSidebar }" class="main scroll body">
    
    <div class="container-fluid scroll">
      <router-outlet></router-outlet>
    </div>
  </main> 

  <app-chat-template
    class="chat-template"
    (newMessageEmit)="newMessage($event)"
    [isOpen]="hideUsersChat"></app-chat-template>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white">Cargando espere...</p>
  </ngx-spinner>
</div>

