button {
  outline: none;
}


.disabled {
  pointer-events: none;
  cursor: default;
}

.custom-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.open-menu-chat {
  margin-right: 250px;
}

.logo-chat {
  width: 28px;
}

.line-1 {
  line-height: 1;
}

.action-notification {
  position: sticky;
  bottom: 0;
}

.action-notification:hover {
  background-color: white !important;
  border-top: 1px solid #c8ced3 !important;
}

.search-page {
  width: 300px;
  border: none;
  padding: 9px 10px 7px 35px;
  outline: none;
  background: #ededed;
}

.search-page-container:active .container-search {
  display: block;
}

.container-search {
  max-height: 350px;
  padding: 10px;
  overflow: auto;
}
@media screen and (max-width: 600px) {
  .open-menu-chat {
    margin-right: 0px;
  }
}

.before-version {
  background-color: #dadada;
}

.bg-sidebar {
  background: #f7f7f7;
}

.btn-search-page {
  position: absolute;
  left: 2px;
  height: 37px;
}



.sidebar1 {
  position: fixed;
  z-index: 1019;
  height: 100vh;
  height: calc(100vh - 55px);
  top: 55px;
}

@media screen and (min-width: 600px) {
  .body {
    margin-left: 200px;
  }
}

.minimize-sidebar {
  margin-left: 60px;
}

.app-header-fz {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1020;
  width: 100%;
}

.hidden-sidebar {
  margin: 0 !important;
}

.app-body {
  margin-top: 55px;
}

.icon-size {
  font-size: 20px;
}
