<div class="my-3 section-order">
  <div class="center justify-content-between flex-wrap">
    <h3 class="font-3xl font-weight-bold m-0">Impuestos Retenciones y Descuentos</h3>
    <ng-container
    *ngxPermissionsOnly="permissionTaxAndDiscount.create"
      ><button
        *ngIf="!isCancelled"
        color="accent"
        class="mb-1"
        mat-raised-button
        (click)="openDialogCreateOrEditDiscountOrTax()"
      >
        Agregar monto <mat-icon>add</mat-icon>
      </button></ng-container
    >
  </div>
  <hr />
  <div class="row">
    <div
      class="col-md-4 p-2"
      *ngFor="let discountOrTax of discountsAndTaxes | keyvalue"
    >
      <mat-card>
        <div class="d-flex justify-content-between align-items-center">
          <span class="badge bg-info font-sm">{{
            discountOrTax.value.type | translatefz: "orders"
          }}</span>
          <button *ngIf="discountOrTax.value.type == 'retention'" (click)="confirmedRetention(discountOrTax.key)"  color="accent" mat-button>Activar</button>
        </div>
        <table class="table table-sm table-borderless">
          <tbody class="body-info">
            <tr>
              <td>Tipo de monto:</td>
              <td>
                {{ discountOrTax.value.amount_type | translatefz: "orders" }}
              </td>
            </tr>
            <tr>
              <td>Descripción:</td>
              <td>{{ discountOrTax.value.name }}</td>
            </tr>
            <tr>
              <td>Monto:</td>
              <td>$ {{ discountOrTax.value.amount }}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!isCancelled">
          <button
            *ngxPermissionsOnly="permissionTaxAndDiscount.edit"
            mat-icon-button
            color="primary"
            (click)="openDialogCreateOrEditDiscountOrTax(discountOrTax.key)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            *ngxPermissionsOnly="permissionTaxAndDiscount.destroy"
            mat-icon-button
            color="warn"
            (click)="deleteAdditionalAmount(discountOrTax.key)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
