<h1 matDialogTitle class="font-weight-bold">{{title}}</h1>

<mat-dialog-content>
    <div [formGroup]="form" class="row">
        <mat-form-field class="col-md-6">
            <input matInput required placeholder="Descripción" formControlName="name">
        </mat-form-field>
        <mat-form-field  class="col-md-6">
            <mat-select placeholder="Tipo" formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type">
                    {{type | translatefz:'orders'}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field  class="col-md-6">
            <mat-select placeholder="Tipo de monto" formControlName="amount_type">
                <mat-option *ngFor="let typesAmount of typesAmounts" [value]="typesAmount">
                    {{typesAmount | translatefz:'orders'}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field  class="col-md-6">
            <input matInput required placeholder="Monto" formControlName="amount">
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button [disabled]="isLoading" color="warn" matDialogClose>Cerrar</button>
    <button mat-raised-button [disabled]="isLoading" (click)="saveInServer()" color="primary">Guardar <mat-icon>save</mat-icon></button>
</mat-dialog-actions>
