
<div>
    <div class="">
        <h1 class="m-0 font-4xl mt-3">Chatbots</h1>
    </div>
    <div>
        <app-search-template [url$]="url" (data)="getData($event)">
            <ng-container menuBar>
                <mat-chip-list class="ml-1">
                    <mat-chip [routerLink]="['./create']">
                        <mat-icon>add_circle_outline</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </ng-container>
            <ng-container data>
                <mat-card *ngFor="let chatbot of data | keyvalue" class="card rounded-fz border-0 shadow">
                    <mat-card-header>
                        <mat-card-title>{{chatbot.value?.info?.name}}</mat-card-title>
                        <mat-card-subtitle>{{chatbot.value?.status}}</mat-card-subtitle>
                    </mat-card-header>
                    <img matCardImage [src]="chatbot.value?.info?.photo || 'assets/img/img_not_available.png'">
                    <mat-card-content>
                        <mat-chip-list>
                            <mat-chip>Id chat: {{chatbot.value?._id}}</mat-chip>
                            <mat-chip>Tipo: {{chatbot.value?.type}}</mat-chip>
                        </mat-chip-list>
                        <div class="mt-2 p-3 rounded-fz shadow bg-dark cursor-pointer pulso" (click)="copyToken(chatbot.value?.api_token)">Token: <span>{{chatbot.value?.api_token}}&nbsp;<i class="far fa-copy"></i></span> </div>
                    </mat-card-content>
                    <mat-card-actions align="start">
                        <!-- <button mat-raised-button >Action1</button> -->
                        <button mat-mini-fab [routerLink]="['../',chatbot.key,'edit']" routerLinkActive="router-link-active"  >
                            <mat-icon >edit</mat-icon>
                        </button>
                        <button mat-mini-fab (click)="deleteData(chatbot.key)"  color="warn">
                            <mat-icon >delete</mat-icon>
                        </button>  
                        <button mat-mini-fab [routerLink]="['./',chatbot.key,'webhooks']" [queryParams]="{name: chatbot.value.info.name}"  color="primary">
                            <mat-icon>webhook</mat-icon>
                        </button>                  
                    </mat-card-actions> 
                </mat-card>
            </ng-container>
            
        </app-search-template>
    </div>
</div>