<div>
    <h1 class="font-4xl list-group-item-accent-warning font-weight-bold my-3">{{title}}</h1>
    <mat-card class="rounded-fz shadow-sm">
        <form class="row card-body" [formGroup]="form" (ngSubmit)="saveInServer()">
            <mat-form-field class="col-12">
                <input matInput placeholder="Titulo" formControlName="title">
            </mat-form-field>
            <div class="w-100 mb-5" [ngClass]="{'expand-quill': expandQuill}">
                <quill-editor formControlName="description" required  placeholder="Ingrese la descripción" [styles]="editorStyle" class="w-100 h-100">
                    <div quill-editor-toolbar>
                        <span class="ql-formats">
                            <select class="ql-font">
                              <option selected></option>
                              <option value="serif"></option>
                              <option value="monospace"></option>
                            </select>
                            <select class="ql-size">
                              <option value="small"></option>
                              <option selected></option>
                              <option value="large"></option>
                              <option value="huge"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                          </span>
                          <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <select class="ql-align">
                              <option selected></option>
                              <option value="center"></option>
                              <option value="right"></option>
                              <option value="justify"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-image"></button>
                          </span>
                    </div>
                  </quill-editor>
                </div>
              <div class="col-12 p-0">
                <button class="" mat-button type="button" color="primary" (click)="expandQuillEditor()">Expandir editor de texto <mat-icon>crop_free</mat-icon></button>
              </div>
              <mat-form-field class="col-md-6">
                <mat-label>Todas los roles</mat-label>
                <mat-select type="text" #select_warehouse
                formControlName="roles" multiple>
                  <mat-select-trigger>
                    <mat-chip-list>
                      <mat-chip (removed)="removeRol(_rol)" *ngFor="let _rol of form.get('roles').value"
                      [removable]="true">
                        {{ getNameRol(_rol) }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                    </mat-chip-list>
                  </mat-select-trigger>
                  <mat-option *ngFor="let rol of roles" [value]="rol.id">
                    {{ rol.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-md-6">
                  <mat-label>Fecha de financiación <small>(d/m/yyyy)</small></mat-label>
                  <input matInput  formControlName="end_date" [matDatepicker]="dp4">
                  <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                  <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                  <mat-error *ngIf="form.controls['end_date'].invalid">Fecha de financiación requerida</mat-error>
              </mat-form-field>

            <button [disabled]="form.invalid" type="submit" mat-raised-button>Guardar</button>
        </form>
    </mat-card>
    <button mat-fab class="quill-expand-btn" type="button" *ngIf="expandQuill" (click)="expandQuillEditor()"><mat-icon>close</mat-icon></button>
</div>
