<div>
  <div class="mt-3 section-order">
    <h3 class="font-3xl font-weight-bold">Transferencias</h3>
    <div>
      <div>
        <div class="row m-0">
          <div class="col-md-6 p-2" *ngFor="let transfer of transfers;let index= index">
            <mat-card>
              <div class="d-md-flex justify-content-between align-items-center">
                <div>Estado: <span class="badge font-sm {{transfer.status}}"> {{transfer.status | translatefz:
                    'orders'}}</span></div>
                <div class="text-success">Doc ID:<span>  {{transfer.doc_id}}</span></div>
              </div>
              <p>
                <span>Memo:</span> {{transfer.memo}}
              </p>
              <hr>
              <div class="rounded-lg p-2">
                <div>Bodega de origen: <span class="text-danger">  {{transfer.origin_warehouse?.code}} -
                    {{transfer.origin_warehouse?.name}}</span></div>
                <div>Bodega de destino: <span class="text-success">  {{transfer.destination_warehouse?.code}} -
                    {{transfer.destination_warehouse?.name}}</span></div>
              </div>
              <div>
                <div>
                    <button type="button" data-toggle="collapse" attr.data-target="#collapseExample{{index}}" aria-expanded="false" attr.aria-controls="collapseExample{{index}}">Productos <span class="badge bg-github">{{transfer?.items?.length}}</span></button>
                </div>
                <div class="collapse" id="collapseExample{{index}}">
                  <div *ngFor="let item of transfer?.items">
                    <div>
                      <div>{{item?.product.name}}</div>
                      <div>Código:{{item?.product.code}}</div>
                      <div>Cantidad:{{item.quantity}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
        <button class="mt-2" mat-raised-button color="accent" (click)="isOpenAddTransfer = !isOpenAddTransfer">Agregar
          manualmente</button>
        <div class="add-transfer-container" *ngIf="isOpenAddTransfer">
          <button (click)="isOpenAddTransfer = !isOpenAddTransfer" class="btn-close-add-transfer" mat-mini-fab
            color="warn">
            <mat-icon>close</mat-icon>
          </button>
          <div>
            <mat-form-field>
              <input [formControl]="formControl" matInput placeholder="Doc Id de la transacción">
            </mat-form-field>
            <button [disabled]="isLoading || formControl.invalid" color="primary" mat-raised-button
              (click)="addTransferManually()">enviar</button>
          </div>
        </div>

      </div>
    </div>
   
  </div>
  </div>
<!-- </div> -->
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>