<div class="vh-100">
    <div class="d-flex h-100 align-items-center">
        <div class="row m-0 p-0 w-100">
            <div class="col-md-6 col-12 d-flex align-items-center">
                <div class="">
                    <div class="display-3">Ups!</div>
                    <div class="display-4">Esta sección esta en constricción</div>
                    <p class="lead">Esta seccion se esta construyendo en este momento</p>
                    <hr class="my-4">
                    <button mat-raised-button color="primary" [routerLink]="['']">Ir a panel de control</button>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <img src="/assets/img/section_construction.svg" alt="seccion en construccion">
            </div>
        </div>
    </div>
</div>