<app-search-template title="Novedades" placeholder="Buscar novedades" [url$]="url" (data)="getData($event)">
  <ng-container menuBar>
    <mat-chip-list class="ml-1">
      <mat-chip class="mat-btn-add" [routerLink]="['../create']">
        <mat-icon>new_releases</mat-icon>&nbsp; Agregar novedades
      </mat-chip>
    </mat-chip-list>
  </ng-container>

  <ng-container data>
    <mat-card *ngFor="let data of newsletters | keyvalue" class="card shadow border-0 rounded-fz">
      <div class="card-body">
        <h3 class="font-2xl">{{data.value.title}}</h3>
        <p class="font-montserrat container-html" [innerHTML]="data.value.description"></p>
        <div class="d-flex">
          <h4>{{data.value?.start_date | date}} al {{data?.value.end_date | date}}</h4>
        </div>
        <div class="d-flex">
          <button mat-icon-button color="accent" [routerLink]="['./edit/'+data.value.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteData(data.value.id)" color="warn" class="ml-1">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </ng-container>

</app-search-template>
