/* @import 'https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css'; */
#map {
    /* position: absolute; */
    /* top: 0;
    bottom: 0; */
    width: 100% !important;
    min-height: 400px !important;
    height: 100%
    /* text-align: end */
}

.coordinate {
    position: absolute;
    top: 10px;
    left: 10px;
}

.block-map {
  left: 0;
  z-index: 1;
    background-color: rgba(144, 145, 147, 0.442);
}

input[type=time]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* display: none; */
}
input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    /* display: none; */
}

input[type=time]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    /* display: none; */
}

input[type=time]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 7px;
    width: 90%;
    background: #fff;
    color: #000;
    font-size: 18px;
    position: relative;
}


.suffix-fill  button {
    position: absolute;
    top: 0px;
    right: 27px;
}

td{
    vertical-align: middle;
    padding: 7px;
}

table {
    width: 100%;
}

tbody tr > td:first-child{
  font-size: 1rem !important;
}
