.font {
    font-family: "Montserrat", sans-serif !important;
}

.items {
    font-size: 1.5rem !important;
    font-weight: 300;
    margin-top: 10px;
    border-radius: 20px;
    flex: 1 1 auto;
    padding: 1.25rem;
    border: none !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.items>div {
    padding-bottom: 7px;
}

.img-background-profile {
    background-image: url('assets/backgrounds/profile.jpg');
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

@media (min-width: 576px) {
    .card-columns {
        -moz-column-count: 4;
        column-count: 4;
    }
}