<h3 class="m-0 mb-3 font-facebook font-2xl">
  Hola {{ data?.user?.name }}, necesitamos información para nuestra base de datos
</h3>
<div mat-dialog-content>
  <div>
    <form [formGroup]="form_person" class="card form-modal-person rounded-fz border-0 card-body">
      <div class="row">
        <div class="col-md-6">
          <label>Nombres</label>
          <input placeholder="Nombres" formControlName="first_name" type="text" required />
          <small class="text-danger" *ngIf="form_person.controls['first_name'].invalid">Nombres Requerido</small>
        </div>

        <div class="col-md-6">
          <label>Apellidos</label>
          <input formControlName="last_name" type="text" required />
          <small class="text-danger" *ngIf="form_person.controls['last_name'].invalid">Apellidos Requerido</small>
        </div>

        <div class="col-md-6">
          <label>Tipo de identificación</label>
          <select formControlName="identification_type" required>
            <option *ngFor="let keyType of id_types" [value]="keyType.id">{{ keyType.name }}</option>
          </select>
          <small class="text-danger" *ngIf="form_person.controls['identification_type'].invalid">
            Tipo de identificación Requerido
          </small>
        </div>

        <div class="col-md-6">
          <label>Número de identificación</label>
          <input matInput formControlName="identification_number" type="text" required />
          <small class="text-danger" *ngIf="form_person.controls['identification_number'].invalid">
            Número de identificación Requerido
          </small>
        </div>

        <div class="col-md-6">
          <label>
            Fecha de nacimiento
            <small>(d/m/yyyy)</small>
          </label>
          <input type="date" [max]="maxDateBirthDay" formControlName="birthday" />
          <!-- <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle> -->
          <!-- <mat-datepicker #dp4 disabled="false"></mat-datepicker> -->
          <small class="text-danger" *ngIf="form_person.controls['birthday'].invalid">Fecha de nacimiento Requerido</small>
        </div>

        <div class="col-md-6">
          <label>Sexo</label>
          <select formControlName="sex" required>
            <option *ngFor="let keySex of sexes" [value]="keySex.id">{{ keySex.name }}</option>
          </select>
          <small class="text-danger" *ngIf="form_person.controls['sex'].invalid">Sexo Requerido</small>
        </div>

        <div class="col-md-6">
          <label>
            Fecha de inicio laboral
            <small>(d/m/yyy)</small>
          </label>
          <input type="date" [max]="maxDate" formControlName="start_date" />
          <!-- <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker> -->
          <small class="text-danger" *ngIf="form_person.controls['start_date'].invalid">Fecha de inicio laboral Requerido</small>
        </div>
        <hr />
        <div class="col-12 font-3xl mt-3 mb-4">Información</div>

        <div class="col-md-6">
          <label>Seleccione una ciudad</label>
          <select formControlName="city_id" required>
            <option *ngFor="let keyCity of cities" [value]="keyCity.id">{{ keyCity.name }}</option>
          </select>
          <small class="text-danger" *ngIf="form_person.controls['city_id'].invalid">Cuidad Requerido</small>
        </div>

        <div class="col-md-6">
          <label>Seleccione un departamento</label>
          <select formControlName="department_position_id" required>
            <option *ngFor="let keyPosition of positions" [value]="keyPosition.id">
              {{ keyPosition.name }}
            </option>
          </select>
          <small class="text-danger" *ngIf="form_person.controls['department_position_id'].invalid">Departamento Requerido</small>
        </div>

        <div class="col-md-6">
          <label>Seleccione una oficina / local</label>
          <select formControlName="location_id" required>
            <option *ngFor="let keyLocation of locations" [value]="keyLocation.id">
              {{ keyLocation.name }}
            </option>
          </select>
          <small class="text-danger" *ngIf="form_person.controls['location_id'].invalid">Departamento Requerido</small>
        </div>

        <div class="form-group col-12">
          <label for="foto">Foto</label>
          <input
            #photoUserInput
            id="foto"
            accept=".png,.jpeg,.jpg"
            (change)="uploadImg($event)"
            class="form-control-file"
            type="file"
            name="" />
        </div>
        <div class="col-md-3 col-6 mb-3">
          <ng-container *ngIf="photo">
            <button mat-mini-fab color="warn" class="position-absolute m-1" (click)="clearPhoto()">
              <!-- <mat-icon class="mat-18">close</mat-icon> -->
              <i class="fa-solid fa-xmark"></i>
            </button>
            <img class="w-100" [src]="photo" alt="imagen de usuario" />
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button [disabled]="isLoading" mat-raised-button color="primary" (click)="saveInServer()">Guardar información</button>
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
</div>
