<h1 matDialogTitle class="font-weight-bold">{{title}}</h1>

<mat-dialog-content>
  <div class=" m-0">
    <div [formGroup]="form" class="grid-shipping">
      <mat-form-field>
        <mat-select formControlName="origin_warehouse_id" placeholder="Bodega de origen">
          <mat-option>
            <ngx-mat-select-search [noEntriesFoundLabel]="noEntriesFoundLabel " [searching]="searching"
              placeholderLabel="Buscador bodega" [formControl]="formSearch"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
            {{warehouse.code}} - {{warehouse.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select (selectionChange)="selectionType($event)" placeholder="Tipos" formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Monto" [readonly]="form.get('type').value == 'pickup'"
          formControlName="amount">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Peso" formControlName="weight">
        <div matSuffix>Kg</div>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Altura" formControlName="height">
        <div matSuffix>cm</div>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Ancho" formControlName="width">
        <div matSuffix>cm</div>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Largo" formControlName="length">
        <div matSuffix>cm</div>
      </mat-form-field>
      <!-- <div *ngIf="warehouse_select"><mat-chip>Bodega seleccionada:  {{warehouse_select.name + ' - ' + warehouse_select.city + ' - ' + warehouse_select.code }}</mat-chip></div> -->
    </div>
    <!-- <div class="col-md-6 col-12">
      <div>
        <h3>Productos Disponibles</h3>
        <div>
          <mat-card class="my-2" *ngFor="let product of products">
            <p>{{product?.name}}</p>
            <p>Codigo: {{product.code}}</p>
            <p>Disponible en orden: {{product.quantity_remaining}}</p>
            <div>
              <div class="container-quantity">
                <button (click)="inputQuantity.stepDown()" class="btn-sub">-</button>
                <input #inputQuantity class="input-quantity" min="0" max="3" type="number" name="" id="">
                <button (click)="inputQuantity.stepUp()" class="btn-add">+</button>
              </div>
            </div>
              <button [disabled]="inputQuantity.value < 1" (click)="addProductShipping(inputQuantity.value)" class="mt-2" color="warning" mat-raised-button>Agregar este producto</button>
          </mat-card>
        </div>
      </div>
    </div> -->
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [disabled]="isLoading" color="warn" matDialogClose>Cerrar</button>
  <button mat-raised-button [disabled]="isLoading" (click)="saveInServer()" color="primary">Guardar</button>
</mat-dialog-actions>
