<div class="container position-relative">
  <div>
    <h3 class="font-4xl font-weight-bold mt-3 m-0">Publicación # {{ publication?.id }}</h3>
    <h2 *ngIf="publication" class="font-2xl">
      {{ publication.name }}
      <!-- <button (click)="editNamePublication()" mat-mini-fab color="primary">
        <i class="fa-solid fa-pen"></i>
      </button> -->
    </h2>
  </div>
  <mat-card
    [formGroup]="form"
    class="overflow-auto"
    (drop)="onDrop($event)"
    (dragenter)="onDragEnter($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)">
    <mat-card-content>
      <div [hidden]="!isDrag" class="drag-file">
        <div>Se esta arrastrando un archivo si es correcto suelte el archivo</div>
      </div>
      <div [ngClass]="{ 'pointer-events-none': isDrag }" class="row height-wrap">
        <div class="col-md-6 px-3 height-wrap">
          <div class="row">
            <mat-form-field class="col-12">
              <mat-label>Cuentas de mercado libre</mat-label>
              <mat-select formControlName="mlaccounts" multiple>
                <mat-select-trigger class="h-auto" *ngIf="form.get('mlaccounts')?.value?.length > 0">
                  <mat-chip-set>
                    <mat-chip
                      (removed)="removeItemMlAccount(ml_account)"
                      *ngFor="let ml_account of form.get('mlaccounts')?.value"
                      [removable]="true">
                      {{ getNameMlAccount(ml_account) }}
                      <button matChipRemove><i class="fa-solid fa-xmark"></i></button>
                    </mat-chip>
                  </mat-chip-set>
                </mat-select-trigger>
                <mat-option *ngFor="let ml_account of mlAccounts" [value]="ml_account.id">
                  {{ ml_account.user_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-12">
              <mat-label>Nombre</mat-label>
              <input type="text" matInput formControlName="name" required />
            </mat-form-field>
            <mat-form-field class="col-12">
              <mat-label>Categoría</mat-label>
              <input readonly matInput formControlName="category_name" />
              <button matSuffix (click)="openSearchCategories()" mat-icon-button>
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <button mat-icon-button matSuffix (click)="openOrCloseCategoriesTree()">
                <i class="fa-solid fa-grip"></i>
              </button>
            </mat-form-field>
            <mat-form-field class="col-12">
              <mat-label>Descripción</mat-label>
              <textarea type="text" required formControlName="description" matInput rows="8"></textarea>
              <mat-error *ngIf="form.get('description')?.hasError('minlength')">Se requiere mínimo 20 letras</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Cantidad</mat-label>
              <input type="number" formControlName="quantity" matInput required />
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Precio</mat-label>
              <input type="number" formControlName="price" matInput required />
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Selecciones un tipo</mat-label>
              <mat-select formControlName="listing_type">
                <mat-option *ngFor="let key of keysListingTypes()" [value]="key">
                  {{ listingTypes[key] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-12">
              <div class="mb-2">
                Imágenes
                <label for="img-file">
                  <button style="pointer-events: none" mat-raised-button color="accent" class="ml-1">
                    <i class="fa-solid fa-plus"></i>
                    Imagen
                  </button>
                </label>
                <input (change)="addImage($event)" id="img-file" type="file" hidden />
              </div>
              <div>
                <app-img-upload
                  class="container-images"
                  [pathDelete]="pathDelete"
                  [pathPost]="pathPost"
                  [images]="images"></app-img-upload>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 border-left height-wrap">
          <div>
            <div class="font-3xl font-weight-bold mb-3">Atributos</div>
            <div>
              <h5 class="text-muted" *ngIf="attributes.length === 0">Se mostraran al seleccionar una categoria</h5>
            </div>
            <div formArrayName="attribute">
              <div *ngFor="let attribute_ of attributes; let i = index">
                <mat-label class="d-block">{{ attribute_.name }}</mat-label>
                <small class="text-danger" *ngIf="attribute_.tags.catalog_required">Se requiere completar uno o mas de estos campos</small>
                <div class="row">
                  <mat-form-field *ngIf="attribute_.values" class="col-md-6">
                    <mat-label>Seleccionar</mat-label>
                    <mat-select [formControlName]="'attribute_suggest_' + attribute_.id">
                      <mat-option *ngFor="let item of attribute_.values" [value]="item.id">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field [ngClass]="attribute_.values ? 'col-md-6' : 'col-md-12'">
                    <mat-label>Ingresa un valor</mat-label>
                    <input type="text" matInput [formControlName]="'attribute_manually_' + attribute_.id" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <button (click)="saveInServer()" type="button" mat-raised-button color="primary">
          Guardar
          <i class="fa-regular fa-paper-plane"></i>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <div
    class="shadow vh-100 panel-categories"
    [ngClass]="isOpenCategoriesTree ? 'open-categories' : 'close-categories'">
    <h2
      class="list-group-item-accent-warning sticky-top pl-2 bg-white font-weight-bold py-1 justify-content-between center">
      Categorías Ml
      <button mat-icon-button (click)="openOrCloseCategoriesTree()"><i class="fa-solid fa-xmark"></i></button>
    </h2>
    <app-list-tree-dynamic (selectedNode)="selectedCategories($event)"></app-list-tree-dynamic>
  </div>
</div>
 
<ng-template #templateMlCategories let-item>
  {{ item.value?.category_name }}
  <br />
  <small *ngIf="item.value?.domain_name">({{ item.value?.domain_name }})</small>
</ng-template>
