<div class="display-4">
    {{title}}...
</div>
<form class="card" [formGroup]="formCreateOrEdit" (ngSubmit)="sendData()">
    <div class="card-body">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input formControlName="name" id="name" class="form-control" type="text" name="">
        </div>
        <div class="form-group">
            <label for="sequence_pre">Codigo</label>
            <input id="sequence_pre" formControlName="code" class="form-control" type="text" name="">
        </div>
        <button type="button" name="" id="" class="btn btn-primary">Enviar</button>
    </div>
</form>