<div>
  <div>
    <div>
      <app-header-search
        [filter_data]="filters"
        [placeholder]="'#, ci, cliente, email'"
        [active_filters_menu]="true"
        [title]="'Ordenes'"
        [url]="url"
        (products)="getData($event)"
        (isLoading)="isLoading = $event">
        <ng-container menuBar>
          <mat-chip-list class="mx-1">
            <mat-chip>
              <mat-select
                [(ngModel)]="workspaceSelect"
                (selectionChange)="changeWorkspaces($event)"
                placeholder="Espacio de trabajo">
                <mat-option *ngFor="let workspace of workspaces" [value]="workspace.id">
                  {{ workspace.name }}
                </mat-option>
              </mat-select>
            </mat-chip>
            <mat-chip *ngxPermissionsOnly="permissions.create" [routerLink]="['./create']" class="ml-1 mat-btn-add">
              <mat-icon>add</mat-icon>
              Nueva
            </mat-chip>
          </mat-chip-list>
        </ng-container>
        <ng-container filterMenu>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Estados</mat-label>
              <mat-select [(ngModel)]="filters.status">
                <mat-option value="">Todos los estados</mat-option>
                <mat-option *ngFor="let status of statuses" [value]="status">
                  {{ status | translatefz: "orders" }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Tipos</mat-label>
              <mat-select [(ngModel)]="filters.type">
                <mat-option value="">Todos los tipos</mat-option>
                <mat-option *ngFor="let type of types" [value]="type">{{ type | translatefz: "orders" }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            style="text-overflow: initial"
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-50">
              <input
                readonly
                style="font-size: 11px"
                #filterOrderMin
                [(ngModel)]="filters.min"
                matInput
                placeholder="Fecha inicial" />
            </mat-form-field>
            <mat-form-field class="w-50">
              <input
                readonly
                style="font-size: 11px"
                #filterOrderMax
                [(ngModel)]="filters.max"
                matInput
                placeholder="Fecha final" />
            </mat-form-field>
          </div>

          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Transferencias</mat-label>
              <mat-select [(ngModel)]="filters.hasMbaTransfers">
                <mat-option value="">Todos</mat-option>
                <mat-option value="1">Con transferencias</mat-option>
                <mat-option value="0">Sin transferencias</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Anticipos</mat-label>
              <mat-select [(ngModel)]="filters.hasMbaPayments">
                <mat-option value="">Todos</mat-option>
                <mat-option value="1">Con anticipos</mat-option>
                <mat-option value="0">Sin anticipos</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Facturas</mat-label>
              <mat-select [(ngModel)]="filters.hasMbaInvoices">
                <mat-option value="">Todos</mat-option>
                <mat-option value="1">Con facturas</mat-option>
                <mat-option value="0">Sin facturas</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Retenciones confirmadas</mat-label>
              <mat-select [(ngModel)]="filters.hasConfirmedRetention">
                <mat-option value="">Todos</mat-option>
                <mat-option value="1">Con retenciones</mat-option>
                <mat-option value="0">Sin retenciones</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
                <input matInput [(ngModel)]="filters.paymentDocCode" placeholder="Código de documento" value="value">
            </mat-form-field>
          </div>
        </ng-container>
      </app-header-search>
    </div>

    <div class="position-relative">
      <div *ngIf="isLoading" class="is-loading center w-100 h-100">
        <div class="center">
          <mat-spinner [diameter]="25"></mat-spinner>
          <p class="m-0 ml-2">Cargando datos</p>
        </div>
      </div>
      <div class="position-relative table-container shadow">
        <table
          style="width: max-content !important"
          mat-table
          [dataSource]="dataSource"
          multiTemplateDataRows
          class="mat-elevation-z8 w-100"
          matSort
          matSortActive="created_at"
          matSortDisableClear
          matSortDirection="desc"
          (matSortChange)="changeSort($event)">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef># orden</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let element">
              {{ element.type | translatefz: "orders" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
              <span [class]="element.status" class="badge">{{ element.status | translatefz: "orders" }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.client?.first_name }} {{ element?.client?.last_name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="products">
            <th mat-header-cell *matHeaderCellDef># productos</th>
            <td mat-cell *matCellDef="let element">{{ element?.items_count }}</td>
          </ng-container>
          <ng-container matColumnDef="payments">
            <th mat-header-cell *matHeaderCellDef># pagos</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.payments_count }}
            </td>
          </ng-container>
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef>Compañía</th>
            <td mat-cell *matCellDef="let element">{{ element.company?.name }}</td>
          </ng-container>
          <ng-container matColumnDef="started_at">
            <th mat-sort-header disableClear mat-header-cell *matHeaderCellDef>Publicada</th>
            <td mat-cell *matCellDef="let element">
              {{ element.timing?.started_at | date: "medium" }}
              <span [hidden]="element.timing?.started_at" class="badge bg-warning">No publicada</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="ended_at">
            <th mat-sort-header disableClear mat-header-cell *matHeaderCellDef>Entregado</th>
            <td mat-cell *matCellDef="let element">
              {{ element.timing?.ended_at | date: "medium" }}
              <span [hidden]="element.timing?.ended_at" class="badge bg-warning">No entregado</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-sort-header disableClear mat-header-cell *matHeaderCellDef>Creado</th>
            <td mat-cell *matCellDef="let element">{{ element.created_at | date: "medium" }}</td>
          </ng-container>
          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <!-- <th></th> -->
            <td mat-cell *matCellDef="let element">
              <div>
                <button
                  mat-icon-button
                  *ngxPermissionsOnly="permissions.index"
                  color="primary"
                  class="mr-1"
                  (click)="openDetailOrder(element.id)">
                  <mat-icon class="mat-18">visibility</mat-icon>
                </button>
                <a
                  mat-icon-button
                  *ngxPermissionsOnly="permissions.edit"
                  color="accent"
                  [href]="'#/system-orders/orders/'+ element.id+ '/edit'"
                  [routerLink]="['/system-orders/orders', element.id, 'edit']">
                  <mat-icon class="mat-18">edit</mat-icon>
                </a>
                <button
                  mat-icon-button
                  *ngxPermissionsOnly="['super-admin']"
                  color="warn"
                  (click)="deleteOrder(element.id)">
                  <mat-icon class="mat-18">delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div
                class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="my-2">
                  <mat-chip-list>
                    <mat-chip>Email: {{ element.client.email }}</mat-chip>
                    <mat-chip>Teléfono: {{ element.client.phone }}</mat-chip>
                    <mat-chip>Dirección: {{ element.client.state }} - {{ element.client.city }}</mat-chip>
                    <mat-chip>Doc ID: {{ element.client.doc_id }}</mat-chip>
                    <mat-chip>Total: ${{ element.total }}</mat-chip>
                    <mat-chip>Total pagado: ${{ element.total_paid }}</mat-chip>
                    <mat-chip>Vendedor: {{ element.seller_code }}</mat-chip>
                    <!-- <mat-chip>Compañía:: ${{element.total_paid}}</mat-chip> -->
                  </mat-chip-list>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplay"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator
    [hidden]="isLoading"
    *ngIf="dataSource?.length > 0"
    [pageSizeOptions]="[10, 20, 30]"
    (page)="changePaginator($event)"
    showFirstLastButtons
    [pageSize]="detailPaginator.per_page"
    [length]="detailPaginator.total"
    [pageIndex]="detailPaginator.current_page - 1"></mat-paginator>
</div>
