<div>
  <div>
    <!-- <app-search-template [placeholder]="'#, ci, cliente, email'" [filter_data]="filters" [active_filters_menu]="true" textBtnAdd="Agregar orden" [title]="'Ordenes'"
      [url$]="url" (data)="getData($event)">
      <ng-container *ngxPermissionsOnly="permissions.create" menuBar>
        <mat-chip [routerLink]="['./create']" class="ml-1 mat-btn-add">
          <mat-icon>add</mat-icon> Agregar orden
        </mat-chip>
      </ng-container>
      <ng-container filterMenu>
        <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">
          <mat-form-field class="w-100">
            <mat-label>Estados</mat-label>
            <mat-select [(ngModel)]="filters.status">
              <mat-option value="">Todos los estados</mat-option>
              <mat-option *ngFor="let status of statuses" [value]="status">{{ status | translatefz:'orders' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">
          <mat-form-field class="w-100">
            <mat-label>Tipos</mat-label>
            <mat-select [(ngModel)]="filters.type">
              <mat-option value="">Todos los tipos</mat-option>
              <mat-option *ngFor="let type of types" [value]="type">{{ type | translatefz:'orders' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div mat-menu-item style="text-overflow: initial;" [disableRipple]="true" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">
          <mat-form-field class="w-50">
            <input readonly  style="font-size: 11px;" #filterOrderMin [(ngModel)]="filters.min" matInput placeholder="Fecha inicial">
          </mat-form-field>
          <mat-form-field class="w-50">
            <input readonly style="font-size: 11px;"  #filterOrderMax [(ngModel)]="filters.max" matInput placeholder="Fecha final">
          </mat-form-field>
        </div>
      </ng-container>

      <ng-container data>
        <mat-card class="card border-0" *ngFor="let order of data | keyvalue">
          <div>
            <div class="order-header m-2"><span>Orden #{{order.value.id}}</span> <small
                class="font-weight-bold text-info">{{order.value.created_at | date}}</small></div>
            <div>
              <div>
                <small class="text-muted">Tipo:</small>
                <mat-chip-list>
                  <mat-chip>{{order.value.type | translatefz: 'orders'}}</mat-chip>
                </mat-chip-list>
              </div>
              <div>
                <small class="text-muted">Estado:</small>
                <mat-chip-list>
                  <mat-chip>{{order.value.status | translatefz: 'orders'}}</mat-chip>
                </mat-chip-list>
              </div>
            </div>
            <small class="text-muted">Cliente:</small>
            <div>
              <div class="text-success">{{order.value.client?.first_name +" "+ order.value.client?.last_name}}</div>
              <table class="table table-borderless table-sm">
                <tbody class="body-info">
                  <tr>
                    <td>Email:</td>
                    <td>{{order.value.client.email}}</td>
                  </tr>
                  <tr>
                    <td>Teléfono:</td>
                    <td>{{order.value.client.phone}}</td>
                  </tr>
                  <tr>
                    <td>Dirección:</td>
                    <td>{{order.value.client.state}} - {{order.value.client.city}}</td>
                  </tr>
                  <tr>
                    <td>Doc ID:</td>
                    <td>{{order.value.client.doc_id}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <small class="text-muted">Detalles:</small>
            <div>
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <td>Número de productos:</td>
                    <td>{{order.value.items_count}}</td>
                  </tr>
                  <tr>
                    <td>Número de pagos:</td>
                    <td>{{order.value.payments_count}}</td>
                  </tr>
                  <tr>
                    <td>Total:</td>
                    <td>${{order.value.total}}</td>
                  </tr>
                  <tr>
                    <td>Total pagado:</td>
                    <td>${{order.value.total_paid}}</td>
                  </tr>
                  <tr>
                    <td>Vendedor:</td>
                    <td>{{order.value.seller_code}}</td>
                  </tr>
                  <tr>
                    <td>Compañía:</td>
                    <td>{{order.value?.company?.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <button *ngxPermissionsOnly="permissions.index" color="warning" class="mr-1" (click)="openDetailOrder(order.key)" mat-raised-button>Ver detalles
              </button>
              <button *ngxPermissionsOnly="permissions.edit" color="accent" [routerLink]="['/system-orders/orders',order.key, 'edit']" mat-raised-button>Editar
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </ng-container>
    </app-search-template> -->
  </div>

  <div>
    <div>
      <app-header-search
        [filter_data]="filters"
        [placeholder]="'#, ci, cliente, email'"
        [active_filters_menu]="true"
        [title]="'Ordenes'"
        [url]="url"
        (products)="getData($event)"
        (isLoading)="isLoading = $event"
      >
      <ng-container *ngxPermissionsOnly="permissions.create" menuBar>
        <mat-chip [routerLink]="['./create']" class="ml-1 mat-btn-add">
          <mat-icon>add</mat-icon> Agregar orden
        </mat-chip>
      </ng-container>
        <ng-container filterMenu>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
          >
            <mat-form-field class="w-100">
              <mat-label>Estados</mat-label>
              <mat-select [(ngModel)]="filters.status">
                <mat-option value="">Todos los estados</mat-option>
                <mat-option *ngFor="let status of statuses" [value]="status"
                  >{{ status | translatefz: "orders" }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
          >
            <mat-form-field class="w-100">
              <mat-label>Tipos</mat-label>
              <mat-select [(ngModel)]="filters.type">
                <mat-option value="">Todos los tipos</mat-option>
                <mat-option *ngFor="let type of types" [value]="type"
                  >{{ type | translatefz: "orders" }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            style="text-overflow: initial"
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
          >
            <mat-form-field class="w-50">
              <input
                readonly
                style="font-size: 11px"
                #filterOrderMin
                [(ngModel)]="filters.min"
                matInput
                placeholder="Fecha inicial"
              />
            </mat-form-field>
            <mat-form-field class="w-50">
              <input
                readonly
                style="font-size: 11px"
                #filterOrderMax
                [(ngModel)]="filters.max"
                matInput
                placeholder="Fecha final"
              />
            </mat-form-field>
          </div>
        </ng-container>
      </app-header-search>
    </div>

    <div class="position-relative">
      <div *ngIf="isLoading" class="is-loading center w-100 h-100">
        <div class="center">
          <mat-spinner [diameter]="25"></mat-spinner>
          <p class="m-0 ml-2">Cargando datos</p>
        </div>
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8 w-100"
        matSort matSortActive="created_at" matSortDisableClear matSortDirection="desc"
        (matSortChange)="changeSort($event)"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef># orden</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
  
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.type | translatefz: "orders" }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <span [class]="element.status" class="badge">{{
              element.status | translatefz: "orders"
            }}</span>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.client?.first_name }} {{ element?.client?.last_name }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="products">
          <th mat-header-cell *matHeaderCellDef># productos</th>
          <td mat-cell *matCellDef="let element">{{ element?.items_count }}</td>
        </ng-container>
  
        <ng-container matColumnDef="payments">
          <th mat-header-cell *matHeaderCellDef># pagos</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.payments_count }}
          </td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef>Compañía</th>

          <td mat-cell *matCellDef="let element">{{ element.company?.name }}</td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-sort-header disableClear mat-header-cell *matHeaderCellDef>Creado</th>
          <td mat-cell *matCellDef="let element">{{ element.created_at | date: 'dd/MM/yyy HH:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <th></th>
          <td mat-cell *matCellDef="let element">
            <div>
              <button
                mat-icon-button
                *ngxPermissionsOnly="permissions.index"
                color="primary"
                class="mr-1"
                (click)="openDetailOrder(element.id)"
              >
                <mat-icon class="mat-18">visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                *ngxPermissionsOnly="permissions.edit"
                color="accent"
                [routerLink]="['/system-orders/orders', element.id, 'edit']"
              >
                <mat-icon class="mat-18">edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplay.length"
          >
            <div
              class="example-element-detail"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="my-2">
                <mat-chip-list>
                  <mat-chip>Email: {{ element.client.email }}</mat-chip>
                  <mat-chip>Teléfono: {{ element.client.phone }}</mat-chip>
                  <mat-chip
                    >Dirección: {{ element.client.state }} -
                    {{ element.client.city }}</mat-chip
                  >
                  <mat-chip>Doc ID: {{ element.client.doc_id }}</mat-chip>
                  <mat-chip>Total: ${{ element.total }}</mat-chip>
                  <mat-chip>Total pagado: ${{ element.total_paid }}</mat-chip>
                  <mat-chip>Vendedor: {{ element.seller_code }}</mat-chip>
                  <!-- <mat-chip>Compañía:: ${{element.total_paid}}</mat-chip> -->
                </mat-chip-list>
              </div>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplay"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
    </div>
  </div>
  <mat-paginator
    [hidden]="isLoading"
    *ngIf="dataSource?.length > 0"
    [pageSizeOptions]="[10, 20, 30]"
    (page)="changePaginator($event)"
    showFirstLastButtons
    [pageSize]="detailPaginator.per_page"
    [length]="detailPaginator.total"
    [pageIndex]="detailPaginator.current_page - 1"
  >
  </mat-paginator>
</div>
