<div>
  <div>
    <app-search-template [placeholder]="'#, ci, cliente, email'" [filter_data]="filters" [active_filters_menu]="true" textBtnAdd="Agregar orden" [title]="'Ordenes'"
      [url$]="url" (data)="getData($event)">
      <ng-container *ngxPermissionsOnly="permissions.create" menuBar>
        <mat-chip [routerLink]="['./create']" class="ml-1 mat-btn-add">
          <mat-icon>add</mat-icon> Agregar orden
        </mat-chip>
      </ng-container>
      <ng-container filterMenu>
        <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">
          <mat-form-field class="w-100">
            <mat-label>Estados</mat-label>
            <mat-select [(ngModel)]="filters.status">
              <mat-option value="">Todos los estados</mat-option>
              <mat-option *ngFor="let status of statuses" [value]="status">{{ status | translatefz:'orders' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">
          <mat-form-field class="w-100">
            <mat-label>Tipos</mat-label>
            <mat-select [(ngModel)]="filters.type">
              <mat-option value="">Todos los tipos</mat-option>
              <mat-option *ngFor="let type of types" [value]="type">{{ type | translatefz:'orders' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div mat-menu-item style="text-overflow: initial;" [disableRipple]="true" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">
          <mat-form-field class="w-50">
            <mat-label>Mínimo</mat-label>
            <input min="0" [(ngModel)]="filters.min" type="number" matInput>
          </mat-form-field>
          <mat-form-field class="w-50">
            <mat-label>Máximo</mat-label>
            <input min="0" [(ngModel)]="filters.max" type="number" matInput>
          </mat-form-field>
        </div>
      </ng-container>

      <ng-container data>
        <mat-card class="card border-0" *ngFor="let order of data | keyvalue">
          <div>
            <div class="order-header m-2"><span>Orden #{{order.value.id}}</span> <small
                class="font-weight-bold text-info">{{order.value.created_at | date}}</small></div>
            <div>
              <mat-chip-list>
                <mat-chip>Tipo: {{order.value.type | translatefz: 'orders'}}</mat-chip>
                <mat-chip>Estado: {{order.value.status | translatefz: 'orders'}}</mat-chip>
              </mat-chip-list>
            </div>
            <h3 class="font-2xl font-weight-bold m-1">Cliente</h3>
            <div>
              <div>{{order.value.client?.first_name +" "+ order.value.client?.last_name}}</div>
              <table>
                <tbody class="body-info">
                  <tr>
                    <td>Email:</td>
                    <td>{{order.value.client.email}}</td>
                  </tr>
                  <tr>
                    <td>Teléfono:</td>
                    <td>{{order.value.client.phone}}</td>
                  </tr>
                  <tr>
                    <td>Dirección:</td>
                    <td>{{order.value.client.state}} - {{order.value.client.city}}</td>
                  </tr>
                  <tr>
                    <td>Doc ID:</td>
                    <td>{{order.value.client.doc_id}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h3 class="font-2xl font-weight-bold m-1">Detalles</h3>
            <div>
              <table>
                <tbody>
                  <tr>
                    <td>Número de productos:</td>
                    <td>{{order.value.items_count}}</td>
                  </tr>
                  <tr>
                    <td>Número de pagos:</td>
                    <td>{{order.value.payments_count}}</td>
                  </tr>
                  <tr>
                    <td>Total:</td>
                    <td>${{order.value.total}}</td>
                  </tr>
                  <tr>
                    <td>Total pagado:</td>
                    <td>${{order.value.total_paid}}</td>
                  </tr>
                  <tr>
                    <td>Vendedor:</td>
                    <td>{{order.value.seller_code}}</td>
                  </tr>
                  <tr>
                    <td>Compañía:</td>
                    <td>{{order.value?.company?.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <button *ngxPermissionsOnly="permissions.index" color="warning" class="mr-1" (click)="openDetailOrder(order.key)" mat-raised-button>Ver detalles
              </button>
              <button *ngxPermissionsOnly="permissions.edit" color="accent" [routerLink]="['/system-orders/orders',order.key, 'edit']" mat-raised-button>Editar
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </ng-container>
    </app-search-template>
  </div>
</div>
