<div>
    <div [formGroup]="form_filter" class=" sticky-top p-0 card-body   row" style="z-index: 10;">
        <mat-tab-group class="py-0 w-100" style="overflow: hidden;">
            <mat-tab label="Busqueda">
                <div class="position-relative col-12  w-100 p-3" style="overflow: hidden;">
                    <input style="padding-left: 45px;height: 50px;" class="form-control font-2xl shadow rounded-pill font-facebook" placeholder="Escriba el nombre del producto" (keyup)="searchBar()" formControlName="search">
                    <button class="position-absolute" style="top: 0px;
                    left: 22px;height: 100%;" mat-icon-button (click)="searchBar()">
                        <mat-icon style="font-size: 30px;" type="search">search</mat-icon>
                    </button>
                    <button [matMenuTriggerFor]="menu" class="position-absolute" style="top: 0px;
                    right: 32px;height: 100%;" mat-icon-button>
                        <mat-icon style="font-size: 30px;" type="search">menu</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu" [overlapTrigger]="false">
                        <div mat-menu-item (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                            <mat-form-field class="w-100">
                                <mat-label>Estados</mat-label>
                                <mat-select (selectionChange)="searchBar()" formControlName="state">
                                    <mat-option value="all">Todos</mat-option>
                                    <mat-option value="active">Activo</mat-option>
                                    <mat-option value="closed">Inactivo</mat-option>
                                    <mat-option value="payment_required">Pago requerido</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div mat-menu-item (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                            <mat-form-field>
                                <mat-label>Precio Min</mat-label>
                                <input matInput formControlName="min" class="example-right-align">
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>
                        </div>
                        <div mat-menu-item (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                            <mat-form-field>
                                <mat-label>Precio Max</mat-label>
                                <input formControlName="max" matInput class="example-right-align">
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>
                        </div>
                        <button mat-raised-button (click)="searchBar()" class="ml-3" color="primary">Aplicar Filtro</button>
                    </mat-menu>
                </div>
            </mat-tab>
            <mat-tab label="Filtros">
                <mat-card class="my-2">
                    <mat-card-content>
                        <div class=" row" style="overflow: hidden;">
                            <mat-form-field class=" col-md-6">
                                <mat-label>Estados</mat-label>
                                <mat-select (selectionChange)="searchBar()" formControlName="state">
                                    <mat-option value="all">Todos</mat-option>
                                    <mat-option value="active">Activo</mat-option>
                                    <mat-option value="closed">Inactivo</mat-option>
                                    <mat-option value="payment_required">Pago requerido</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-md-3" style="width: 150px;">
                                <mat-label>Precio Min</mat-label>
                                <input matInput formControlName="min" type="number" class="example-right-align">
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>
                            <mat-form-field class="col-md-3" style="width: 150px;">
                                <mat-label>Precio Max</mat-label>
                                <input formControlName="max" matInput type="number" class="example-right-align">
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <!-- <button mat-button>Ok</button> -->
                        <button mat-raised-button (click)="searchBar()" color="primary">Aplicar Filtro</button>
                    </mat-card-actions>
                </mat-card>
            </mat-tab>
            <!-- <mat-tab label="Paginacion">

            </mat-tab> -->
        </mat-tab-group>
    </div>


    <div *ngIf="isload" class="mt-4">
        <mat-card *ngFor="let item of [1,2,3]" class="my-1">
            <ngx-skeleton-loader count="1" [theme]="{
              'border-radius': '5px',
              height: '50px'
            }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{
                'border-radius': '5px',
                height: '30px'
              }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="3" [theme]="{
                'border-radius': '5px',
                height: '40px',
                width:'150px',
                'margin-right':'5px'
              }"></ngx-skeleton-loader>
        </mat-card>
    </div>


    <div *ngIf="hasData; else elseTemplate" class="mt-4 card-columns">
        <div *ngFor="let ml of mlInfos" class="card border-0 rounded-fz">
            <!-- <mat-card class=" "> -->
            <app-ml [withName]="true" (click_menu)="executeMenu($event)" [ml]="ml"></app-ml>
            <!-- </mat-card> -->
        </div>

    </div>

    <ng-template #elseTemplate>
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/img/respuesta_vacia.svg" alt="" width="100%">
            </div>
            <div class="col-md-6 font-facebook font-2xl d-flex align-items-center">
                Ups! Lo que Buscaste no lo encontramos mejorar el criterio de Busqueda
            </div>
        </div>
    </ng-template>
    <!-- <mat-paginator *ngIf="mlInfos.length > 0" class="float-right" #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="changedPaginator($event)"> -->
    <mat-paginator *ngIf="mlInfos.length > 0" class="float-right" #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="searchBar($event)">
    </mat-paginator>
</div>
