<app-header
  style="z-index: 3"
  class="border-0 shadow-sm"
  [navbarBrandRouterLink]="['/home/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{ src: imgCompany.url, width: imgCompany.size, height: imgCompany.size, alt: 'Novisolutions' }"
  [navbarBrandMinimized]="{ src: 'assets/icons_custom/icon-512x512.png', width: 30, height: 30, alt: 'Novisolutions' }"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">
  <div class="d-none d-md-block position-relative search-page-container">
    <input #inputSearchPage (keydown)="searchPage($event)" type="text" class="search-page rounded-fz"
      placeholder="Buscar pagina">
    <button mat-icon-button class="line-1 btn-search-page"><mat-icon class="text-muted">search</mat-icon></button>
  </div>
  <ul class="nav navbar-nav ml-auto">
    <li  class="nav-item d-md-down-none d-flex align-items-center justify-content-center p-1 rounded-fz">
      <mat-icon  class="text-warning" [ngClass]="{'text-muted': isDark}">light_mode</mat-icon>
      &nbsp;
      <mat-slide-toggle [(ngModel)]="isDark" (change)="onSetTheme($event)"></mat-slide-toggle>
      &nbsp;
      <mat-icon [ngClass]="{'text-muted': !isDark}" class="text-white">nightlight</mat-icon>
    </li>
    <li class="nav-item">
      <button (click)="unreadNotifications()" [matMenuTriggerFor]="menu1" mat-icon-button class="position-relative">
        <mat-icon
          color="primary"
          #IconNotify
          [matBadge]="countNotificationUnRead"
          matBadgePosition="above after"
          matBadgeColor="accent">
          notifications
        </mat-icon>
        <ng-container *ngIf="isProgressDownloadReport">
          <small class="progress-download">{{ progressDownloadReport }}%</small>
        </ng-container>
      </button>
      <mat-menu class="custom-menu-notification scrollbar-fz" #menu1="matMenu" [overlapTrigger]="false">
        <div
          mat-menu-item
          [disableRipple]="true"
          (click)="goRouteNotification(notification.data)"
          class="h-auto"
          *ngFor="let notification of notifications$ | async"
          (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">
          <div *ngIf="notification.data.image">
            <img style="width: 50px; height: 50px" [src]="notification.data.image" />
          </div>
          <div class="pl-2" style="white-space: initial; line-height: 1.3">
            <div class="text-value-sm text-primary">
              {{ notification?.data?.user?.name ? notification?.data?.user?.name : "Sin Usuario" }}
            </div>
            <div class="text-muted">{{ notification.data.text }}</div>
            <br />
            <small class="text-primary text-uppercase">
              {{ notification?.created_at | amLocale: "es" | amTimeAgo }}
            </small>
          </div>
          <hr />
        </div>

        <div
          class="main-style mt-0 py-2 h-auto action-notification"
          (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()"
          mat-menu-item
          [disableRipple]="true">
          <div class="line-1">
            <div><small>Web push Notificaciones</small></div>
            <mat-slide-toggle
              [(ngModel)]="notificationType.webpush"
              name="general_notification_webpush"
              (change)="changeWebPush($event)">
              {{ notificationType.webpush ? "Activado" : "Desactivado" }}
            </mat-slide-toggle>
          </div>
          <div class="line-1">
            <div><small>Notificación por email</small></div>
            <mat-slide-toggle
              [(ngModel)]="notificationType.email"
              name="general_notification_email"
              (change)="changeWebPush($event)">
              {{ notificationType.email ? "Activado" : "Desactivado" }}
            </mat-slide-toggle>
          </div>
        </div>
      </mat-menu>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" [matMenuTriggerFor]="menu2">
        <img [src]="user?.person?.photo?.permalink || url_img" class="img-avatar custom-avatar" alt="user" />
      </a>
      <mat-menu #menu2="matMenu">
        <button (click)="goProfile()" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Mi perfil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Cuenta</strong></div>
        <div (click)="logout()" class="dropdown-item">
          <i class="fa fa-lock"></i>
          Cerrar sesión
        </div>
      </div>
    </li>
    <li class="nav-item">
      <button mat-icon-button (click)="openOrCloseChats()">
        <div
          [matBadge]="countMessages"
          class="d-inline-flex"
          matBadgePosition="above after"
          matBadgeColor="accent"
          color="primary">
          <img class="logo-chat" src="assets/logos/chat-logo.png" alt="" />
        </div>
      </button>
    </li>
  </ul>
</app-header>
<div class="app-body main-style">
  <app-sidebar
    #appSidebar
    [fixed]="true"
    [display]="'lg'"
    [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav
      #appSidebarNav
      [navItems]="navItems"
      class="{{ !isDark ? 'bg-sidebar' : '' }}"
      [perfectScrollbar]
      [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer class="before-version"></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main [ngClass]="{ 'open-menu-chat': hideUsersChat }" class="main scroll">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->

    <!-- Breadcrumb Menu-->
    <!-- <cui-breadcrumb>
            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn" href="#"><i class="icon-speech"></i></a>
                    <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                    <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                </div>
            </li>
        </cui-breadcrumb> -->

    <!-- deprecation warning for 'app-breadcrumb' -->
    <!-- <ol class="breadcrumb">
    <app-breadcrumb></app-breadcrumb> -->
    <!-- &lt;!&ndash; Breadcrumb Menu&ndash;&gt; -->
    <!-- <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <a class="btn" href="#"><i class="icon-speech"></i></a>
    <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
    <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
    </div>
    </li>
    </ol> -->

    <div class="container-fluid scroll">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->
  </main>
  <!-- <app-aside #sidebarToggler [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab *ngIf="false">
        <ng-template tabHeading><i class="icon-list"></i></ng-template>
        <div class="list-group list-group-accent">
          <div
            class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
            Today</div>
          <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
            <div class="avatar float-right">
              <img class="img-avatar" src="assets/img/avatars/7.jpg" alt="admin@bootstrapmaster.com">
            </div>
            <div>Meeting with
              <strong>Lucas</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar"></i>  1 - 3pm</small>
            <small class="text-muted">
              <i class="icon-location-pin"></i>  Palo Alto, CA</small>
          </div>
          <div class="list-group-item list-group-item-accent-info">
            <div class="avatar float-right">
              <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
            </div>
            <div>Skype with
              <strong>Megan</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar"></i>  4 - 5pm</small>
            <small class="text-muted">
              <i class="icon-social-skype"></i>  On-line</small>
          </div>
          <div
            class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
            Tomorrow</div>
          <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
            <div>New UI Project -
              <strong>deadline</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar"></i>  10 - 11pm</small>
            <small class="text-muted">
              <i class="icon-home"></i>  creativeLabs HQ</small>
            <div class="avatars-stack mt-2">
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/2.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/3.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/5.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
              </div>
            </div>
          </div>
          <div class="list-group-item list-group-item-accent-success list-group-item-divider">
            <div>
              <strong>#10 Startups.Garden</strong> Meetup
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar"></i>  1 - 3pm</small>
            <small class="text-muted">
              <i class="icon-location-pin"></i>  Palo Alto, CA</small>
          </div>
          <div class="list-group-item list-group-item-accent-primary list-group-item-divider">
            <div>
              <strong>Team meeting</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar"></i>  4 - 6pm</small>
            <small class="text-muted">
              <i class="icon-home"></i>  creativeLabs HQ</small>
            <div class="avatars-stack mt-2">
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/2.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/3.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/5.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/7.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/8.jpg" alt="admin@bootstrapmaster.com">
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab *ngIf="false">
        <ng-template tabHeading><i class="icon-speech"></i></ng-template>
        <div class="p-3">
          <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt...</small>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading><i class="icon-settings"></i></ng-template>
        <div class="p-3">
          <h6>Configuración</h6>
          <div class="aside-options">
            <div class="clearfix mt-4">
              <small><b>Modo Oscuro</b></small>


              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input (change)="changeDark($event)" [(ngModel)]="isDark" type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Cambia la interfaz de modo claro a oscuro y viceversa</small>
            </div>
          </div>
          <hr>
          <div class="aside-options">
            <div class="clearfix mt-3">
              <small><b>Notificaciones</b></small><br>
              <div>
                <small>Web push Notificaciones</small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input type="checkbox" [(ngModel)]="TYPE_NOTY_WEBPUSH.state"
                    (change)="changeWebPush(TYPE_NOTY_WEBPUSH.value,$event)" class="switch-input">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
              <div class="d-flex justify-content-between w-100">
                <small>Notificacion por email</small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input type="checkbox" [(ngModel)]="TYPE_NOTY_EMAIL.state"
                    (change)="changeWebPush(TYPE_NOTY_EMAIL.value,$event)" class="switch-input">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
            </div>
            <div>
              <small class="text-muted">Activa o desactiva las notificaciones tan via correo electronico con web
                push</small>
            </div>
            <hr>
          </div>
          <hr>
        </div>
      </tab>
    </tabset>
  </app-aside> -->

  <app-chat-template
    class="chat-template"
    (newMessageEmit)="newMessage($event)"
    [openOrClose]="hideUsersChat"></app-chat-template>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white">Cargando espere...</p>
  </ngx-spinner>
</div>
<!-- <app-footer>
    <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
    <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer> -->
