<div class="container-search-products center">
  <div class="col-md-5 col-10 content-search main-style">
    <app-search classes="border-bottom" [init]="false" @fade (data)="getData($event)" [placeholder]="placeholder" [url]="url">
      <button inputBtn (click)="close()" color="warn" mat-icon-button>
        <i class="fa-2x fa-solid fa-circle-xmark"></i>
      </button>
      <ng-container data>
        <div class="section-data px-3 ">
            <div *ngFor="let product of products | keyvalue">
              <div class="item-product my-3">
                <div class="d-flex align-items-center">
                  <ng-template #defaultTemplate let-products>
                    <img
                      class="img-product mr-2"
                      [src]="product.value.image || 'assets/img/img_not_available.png'"
                      alt="product image" />
                    <h3 class="m-0">
                      <span class="text-danger"># {{ product.value.code }}</span>
                      {{ product.value.name }}
                    </h3>
                  </ng-template>
                  <ng-container
                    [ngTemplateOutlet]="optionTemplate || defaultTemplate"
                    [ngTemplateOutletContext]="{ $implicit: product }"></ng-container>
                </div>
                <button
                  (click)="addProduct(product.key)"
                  *ngIf="!productsSelected.has(product.key); else TemplateRemove"
                  color="primary"
                  mat-icon-button>
                  <i class="fa-solid fa-check"></i>
                </button>
                <ng-template #TemplateRemove>
                  <button (click)="removeProduct(product.key)" class="text-muted" mat-icon-button>
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </ng-template>
              </div>
            </div>
          <!-- </ng-template> -->
        </div>
      </ng-container>

    </app-search>
  </div>
</div>
