.table {
    width: 100%;
    margin-bottom: 1rem;
    color: inherit;
}

.filter-menu {
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.filter-menu mat-form-field {
    width: 100%;
}