<div class="mt-4">
    <h2 class="font-5xl pl-1 font-facebook list-group-item-accent-warning">Roles</h2>
    <app-header-search [onTabs]="false" [placeholder]="'Escriba el rol a buscar'" [with_filter]="true" (isload)="isload = $event" [url]="'admin/roles'" (products)="loadData($event)">
    </app-header-search>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Correo</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.description}}
            </mat-cell>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="permissions_count">
            <mat-header-cell *matHeaderCellDef> Roles </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.permissions_count}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="last_activity">
          <mat-header-cell *matHeaderCellDef> Ultima actividad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.last_activity | amLocale:'es' | amTimeAgo}}
          </mat-cell>
      </ng-container> -->

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let element;let ind = index">
                <button *ngxPermissionsOnly="permissions.edit" mat-icon-button color="primary" [routerLink]="['./edit',element.id]">
        <mat-icon>edit</mat-icon>
      </button>
                <button mat-icon-button color="warn" *ngxPermissionsOnly="permissions.delete" (click)="deleteItem(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
            </mat-cell>
        </ng-container>



        <!-- <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="accent" (click)="addRowTableItem()">
        <mat-icon>post_add</mat-icon>
      </button>

      <button mat-icon-button color="accent">
        <mat-icon>backup</mat-icon>
        <label class="m-0 h-100 w-100 position-absolute" for="file-excel" style="    top: 0;
              right: 0;">
        </label>
        <input [disabled]="isLoadFile" type="file" (change)="addFile($event)" class="d-none" id="file-excel"
          accept=".xlsx">
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let element;let ind = index">
      <button mat-icon-button (click)="editItem(ind)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteItem(ind)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container> -->
        <mat-header-row style="top:67px" *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- <mat-paginator #matPaginator *ngIf="ELEMENT_DATA.length" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator> -->
    <mat-paginator *ngIf="ELEMENT_DATA.length" [pageSizeOptions]="[10, 20, 30]" (page)="changePaginator($event)" showFirstLastButtons [pageSize]="paginator.per_page" [length]="paginator.total" [pageIndex]="paginator.current_page-1"></mat-paginator>


    <!-- <mat-paginator *ngIf="products.length > 0" class="float-right" #paginator [pageIndex]="pageCurrent-1" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="searchBar($event)">
  </mat-paginator> -->
    <button *ngxPermissionsOnly="permissions.create" mat-fab style="position: fixed;bottom: 10px;right: 10px;" [routerLink]="['./create']" routerLinkActive="router-link-active">
  <mat-icon>add</mat-icon>
</button>
</div>
