.active {
  color: green;
  background-color: rgba(0, 128, 0, 0.105);
}
.discontinued {
  color: gray;
  background-color: rgba(138, 138, 138, 0.105);
}

.promotion {
  border-radius: 10px;
  small {
    color: gray;
  }
}
