// status
.pending {
    color: #f0ad4e;
    background-color: #f0ac4e2d;
}
.paid {
    color: #5bc0de;
    background-color: #5bc0de2d;
}
.cancelled {
    color: #d9534f;
    background-color: #d9534f2d;
}
.refunded {
    color: #b8a05c;
    background-color: #b8a05c2d;
}
.generated {
    color: #5cb85c;
    background-color: #5cb85c2d;
}
.in_review {
    color: #5bc0de;
    background-color: #5bc0de2d;
}
.rejected {
    color: #d9534f;
    background-color: #d9534f2d;
}
.expired {
    color: #b8a05c;
    background-color: #b8a05c2d;
}

