<button mat-icon-button [matMenuTriggerFor]="menuRef">
  <i style="font-size: 20px" class="fa-solid fa-sliders"></i>
</button>

<mat-menu #menuRef="matMenu" x-position="after" y-position="below" [overlapTrigger]="false">
  <div class="px-3 pt-3">
    <div>
      <h2 class="font-weight-bold font-3xl">Configuración</h2>
    </div>
    <div class="h-auto" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <div class="content-menu">
        <span>
          <i class="fa-solid fa-volume-high"></i>
          <span>Sonidos</span>
        </span>
        <mat-slide-toggle
          labelPosition="before"
          [checked]="preferences.general_notification_sound === 'on' ? true : false"
          (change)="setPreference('general_notification_sound', $event.checked ? 'on' : 'off')"></mat-slide-toggle>
        </div>
        <div class="mt-2">
          <div>Volumen</div>
          <mat-slider
            class="w-100"
            thumbLabel
            tickInterval="100"
            step="1"
            min="1" 
            max="100"
            [value]="volume"
            (change)="changeVolume($event)"
            aria-label="units"></mat-slider>
        </div>
    </div>
    <hr />
    <div>
      <h2 class="font-weight-bold font-3xl">Medios De Notificación</h2>
    </div>
    <div class="h-auto" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <div class="content-menu">
        <span>
          <i class="fa-solid fa-globe"></i>
          <span>Webpush</span>
        </span>
        <mat-slide-toggle
          labelPosition="before"
          [checked]="preferences.general_notification_webpush === 'on' ? true : false"
          (change)="setPreference(typesPreferences.WEBPUSH, $event.checked ? 'on' : 'off')"></mat-slide-toggle>
      </div>
    </div>
    <div class="h-auto" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <div class="content-menu">
        <span>
          <i class="fa-solid fa-at"></i>
          <span>Correo electrónico</span>
        </span>
        <mat-slide-toggle
          labelPosition="before"
          [checked]="preferences.general_notification_email === 'on' ? true : false"
          (change)="setPreference(typesPreferences.EMAIL, $event.checked ? 'on' : 'off')"></mat-slide-toggle>
      </div>
    </div>
    <div class="h-auto" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <div class="content-menu">
        <span>
          <i class="fa-brands fa-whatsapp"></i>
          <span>Whatsapp</span>
        </span>
        <mat-slide-toggle
          labelPosition="before"
          [checked]="preferences.general_notification_whatsapp === 'on' ? true : false"
          (change)="setPreference('general_notification_whatsapp', $event.checked ? 'on' : 'off')"></mat-slide-toggle>
      </div>
    </div>
    <div class="h-auto" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <div class="content-menu">
        <span>
          <i [ngClass]="preferences.enable_notifications_popup ? 'fa-bell': 'fa-bell-slash'" class="fa-regular"></i>
          <span>Notificaciones popup</span>
        </span>
        <mat-slide-toggle
          labelPosition="before"
          [checked]="preferences.enable_notifications_popup ? true : false"
          (change)="setPreference('enable_notifications_popup', $event.checked ? 1 : 0)"></mat-slide-toggle>
      </div>
    </div>
  </div>
</mat-menu>
