
.users-chats {
    height: calc(100vh - 103px);
    /* position: fixed; */
    right: 0;
    overflow-y: scroll;
    z-index: 1111;
}

.line-user{
  line-height: 1.1;
}

.btn-close-user-chat {
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 999999;
}

.shadow-sm-img {
  box-shadow: 0px 0px 3px 1px #cbcbcb;
}

.photo-user {
  width: 40px !important;
  height: 40px !important;
  object-fit: contain;
  border-radius: 50%;
  border: solid 2px #dadada;
}

.chat-template {
  height: 70%;
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 9999;
  width: 350px;
  /* transform: translateY(0%); */
}

.chat-info{
  
  font-family: 'Red Hat Display' !important;
    line-height: 1;
    font-weight: 500;
    font-size: 15px;
}

.item-chat {
  /* display: grid; */
  display: flex;
    /* grid-template-columns: 43px calc(100% - 43px); */
    align-items: center;
    cursor: pointer;
}

.item-chat.rounded-fz:hover{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border: none !important;
}
.item-chat div{
  font-family: "Red Hat Display";
}

.badge-chat {
  position: absolute;
    right: 5px;
}

.badge-online {
  font-size: 10px;
    position: absolute;
    right: 3px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: 0px;
}

.chat-bubble-position-250 {
  right: 268px;
}

.chat-bubble-position-5 {
  right: 5px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:red;
  background-color: green;
  }

@media screen and (max-width: 768px) {
  .chat-bubble-position-250 {
    right: 5px;
  }
  .chat-bubble-position-5 {
    right: 5px;
  }

  .chat-template {
    width: calc( 100% - 10px );
  }
}

.bubble-mini-chat {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top:-44px
}

.active-mini-chat {
  border: solid 3px blue;
  cursor: pointer;
}

.chat-inline {
  position: relative;
}

.chat-inline::before {
  position: absolute;
  top: -13px;
  right: 6px;
  content: '●';
  font-size: 28px;
  color: #4caf50;
  text-shadow: 0px 1px 4px black;
  z-index: 1;
}

.input-search-user {
  padding: 5px 10px;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: bold;
  border: none;
  outline: none;
}

