.bubble-mini-chat {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: -44px;
}

.chat-template {
  height: 70%;
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 9999;
  width: 350px;
}

.chat-list-info {
  text-transform: capitalize;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .user-name {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.item-chat {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item-chat.rounded-fz:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border: none !important;
}

.chat-bubble-position-250 {
  right: 285px;
}

.chat-bubble-position-5 {
  right: 5px;
}

@media screen and (max-width: 768px) {
  .chat-bubble-position-250 {
    right: 5px;
  }
  .chat-bubble-position-5 {
    right: 5px;
  }

  .chat-template {
    width: calc(100% - 10px);
  }
}

// .bubble-mini-chat {
//   height: 40px;
//   width: 40px;
//   border-radius: 50%;
//   position: absolute;
//   top: -44px;
// }

// .active-mini-chat {
//   border: solid 3px blue;
//   cursor: pointer;
// }

// .chat-inline {
//   position: relative;
// }

// .chat-inline::before {
//   position: absolute;
//   top: -13px;
//   right: 6px;
//   content: "â—";
//   font-size: 28px;
//   color: #4caf50;
//   text-shadow: 0px 1px 4px black;
//   z-index: 1;
// }

// .input-search-user {
//   padding: 7px 10px;
//   border-radius: 10px;
//   font-weight: bold;
//   border: none;
//   outline: none;
// }

// .btn-add-group-chat {
//   padding: 5px;
//   border-radius: 10px;
//   cursor: pointer;
//   text-align: center;
//   box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
// }

// .content-input-user {
//   display: flex;
//   background: #dadada;
//   margin-bottom: 10px;
// }

.list-chats-container {
  height: calc(100vh - 65px);
  position: fixed;
  width: 260px;
  right: 0px;
  z-index: 100;
  margin-right: 16px;
  top: 58px;
  border-radius: 20px;
  overflow: auto;
}

.header-list-chats {
  display: flex;
  cursor: pointer;
  font-size: 17px;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid #dadada99;
    border-bottom: 1px solid #dadada99;
  }
  span {
    font-size: 20px;
    font-weight: bold;
  }
  i {
    font-size: 20px;
    margin: 3px;
  }
}

.item-chat {
  display: flex;
  margin: 5px;
  padding: 7px 5px;
  cursor: pointer;
  .name-chat {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
  }
  .last-message-chat {
    color: #898989;
    font-size: 13px;
  }
  .photo-chat {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  .date-chat {
    font-size: 11px;
    color: #00000099;
  }
  .info-chat {
    overflow: hidden;
    flex: 1;
  }
  .point-online-chat {
    position: absolute;
    right: 2px;
    bottom: 0px;
    font-size: 20px;
    border: 3px solid white;
    width: 15px;
    height: 15px;
    background: #4caf50;
    border-radius: 50%;
  }
}
