.list {
    list-style: disc;
    padding-left: 25px;
    color: gray;
}

.active {
    color: green;
    background-color: rgba(127, 173, 127, 0.2);
}

.inactive {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}