<app-search-template
  [title]="'Campañas'"
  (data)="getData($event)"
  placeholder="Buscador de campañas"
  [url$]="'catalogs/campaigns'">
  <ng-container menuBar>
    <mat-chip-list *ngxPermissionsOnly="permissions.create">
      <mat-chip [routerLink]="['./create']" routerLinkActive="router-link-active" class="mat-orange ml-2">
        <mat-icon>add</mat-icon>
        Campaña
      </mat-chip>
    </mat-chip-list>
  </ng-container>

  <ng-container data>
    <mat-card class="card border-0" *ngFor="let campaign of data | keyvalue">
      <mat-card-header>
        <mat-card-title>{{ campaign.value.title }}</mat-card-title>
        <mat-card-subtitle>{{ campaign.value.created_at | date: "medium" }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ campaign.value.description }}</p>
        <div>
          <small>Detalles</small>
          <ul class="list">
            <li>Duración: {{ campaign.value.duration_type | translatefz }}</li>
            <li>Estado: <span [class]="campaign.value.status">{{ campaign.value.status | translatefz }}</span></li>
          </ul>
        </div>
        <div *ngIf="campaign.value.duration_type == 'date_range'">
          <small>Inicio y Fin</small>
          <ul class="list">
            <li>Inicio: {{ campaign.value.start_date | date:'medium'}}</li>
            <li>Fin: {{ campaign.value.end_date | date:'medium' }}</li>
          </ul>
        </div>
        <div class="my-2">
          <button *ngxPermissionsOnly="permissions.edit" [routerLink]="['./', campaign.key, 'edit']" mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngxPermissionsOnly="permissions.destroy" (click)="deleteData(campaign.key)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="rounded-fz" *ngxPermissionsOnly="permissions.index" [routerLink]="['./', campaign.key, 'promotions']" mat-stroked-button color="accent">
            <mat-icon>visibility</mat-icon>
            Promociones
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</app-search-template>
