<h1 matDialogTitle class="font-3xl font-weight-bold">Detalles de envío</h1>

<mat-dialog-content>
  <div>
    <div class="col-12">
      <div [hidden]="!isOpenSearchWarehouse">
        <app-search [url]="url" (data)="getData($event)">
          <ng-container data>
            <div class="row">
              <div class="col-md-4 p-2" *ngFor="let warehouse of warehouses | keyvalue">
                <div class="shadow p-3">
                  <div><small class="text-muted">Bodega:</small></div>
                  <div>{{ warehouse.value.name }}</div>
                  <div><small class="text-muted">Código:</small></div>
                  <div>{{ warehouse.value.code }}</div>
                  <div>
                    <button
                      (click)="addWarehouse(warehouse.key)"
                      *ngIf="!warehouseSelected.has(warehouse.key); else btnUnSelect"
                      mat-button
                      color="primary">
                      Seleccionar
                      <mat-icon>done</mat-icon>
                    </button>
                    <ng-template #btnUnSelect>
                      <button (click)="removeWarehouse(warehouse.key)" mat-button color="warn">
                        Quitar
                        <mat-icon>close</mat-icon>
                      </button>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </app-search>
      </div>
    </div>
    <div class="row" [hidden]="isOpenSearchWarehouse">
      <div class="col-md-5 p-2">
        <h3 class="text-center font-2xl font-weight-bold">Productos para asignar</h3>
        <div class="card-body">
          <div class="">
            <!-- <div *ngFor="let item of itemsOrder | keyvalue">
              <div *ngIf="item.value.quantity > 0" class="p-2">
                <div class="shadow p-3 rounded-fz">
                  <div>
                    {{ item.value.product?.name }}
                    <small>{{ item.value.product?.code }}</small>
                  </div>
                  <div>
                    <span>Cantidad:</span>
                    {{ item.value.quantity }}
                  </div>
                  <div>
                    <span>Precio:</span>
                    {{ item.value.price }}
                  </div>
                  <div>
                    <small>Cantidad a pasar:</small>
                    <input
                      #quantity
                      [hidden]="item.value.quantity <= 1"
                      [value]="item.value.quantity"
                      [max]="item.value.price"
                      type="number"
                      class="input-quantity"
                      />
                  </div>
                  <div>
                    <button (click)="pass(quantity.value, item.key)" mat-button color="accent">
                      Pasar
                      <mat-icon>done</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div> -->
            <mat-list>
              <ng-container *ngFor="let item of itemsOrder | keyvalue">
                <mat-list-item  *ngIf="item.value.quantity > 0">
                  <div matListItemAvatar><img class="w-100" [src]="item.value?.product?.image || 'assets/img/img_not_available.png'" alt="" /></div>
                  <div matListItemTitle>
                    {{ item.value.product?.name }}
                    <small>({{ item.value.product?.code }})</small>
                  </div>
                  <div matListItemLine>Cantidad: {{ item.value.quantity }}</div>
                  <div matListItemLine>Precio: ${{ item.value.price }}</div>
                  <div [hidden]="item.value.quantity <= 1" matListItemLine>
                    <small>Cantidad a pasar:</small>
                    <input
                      #quantity

                      [value]="item.value.quantity"
                      [max]="item.value.price"
                      type="number"
                      class="input-quantity"
                      />
                  </div>
                  <div matListItemLine>
                    <div class="inline-block">
                      <button class="btn-small center bg-blue-300 hover:bg-blue-200" (click)="pass(quantity.value, item.key)">
                        Pasar
                        <mat-icon>done</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </div>
        </div>
      </div>
      <div class="col-md-7 p-2">
        <h3 class="text-center font-2xl font-weight-bold">Gestión actual</h3>
        <div class="card-body shadow rounded-fz">
          <div class="d-flex align-items-center">
            Bodega Seleccionada: &nbsp;
            <span [ngClass]="currentItemPdf?.warehouse ? 'text-success' : 'text-danger'" class="font-weight-bold">
              {{
                currentItemPdf?.warehouse
                  ? currentItemPdf?.warehouse?.name + " " + currentItemPdf?.warehouse?.code
                  : "No se ha seleccionado ninguna bodega"
              }}
            </span>
            <button (click)="isOpenSearchWarehouse = !isOpenSearchWarehouse" mat-icon-button color="accent">
              <mat-icon>sync</mat-icon>
            </button>
          </div>
          <div>
            <hr />
            Productos seleccionados:
            <div class="p-3">
              <mat-list>
                <mat-list-item *ngFor="let item of currentItemPdf?.items | keyvalue">
                  <div matListItemAvatar><img class="w-100" [src]="item.value?.img" alt="" /></div>
                  <div matListItemTitle>
                    {{ item.value.name }}
                    <small>({{ item.value.code }})</small>
                  </div>
                  <div matListItemLine>Cantidad: {{ item.value.quantity }}</div>
                  <div matListItemLine>Precio: ${{ item.value.price }}</div>
                  <div matListItemLine>
                    <!-- <mat-chip selected (click)="quitItem(item.key)" color="warn">
                      Quitar
                      <mat-icon>close</mat-icon>
                    </mat-chip> -->
                    <div class="inline-block">
                      <button (click)="quitItem(item.key)" class="btn-small center bg-red-300 hover:bg-red-200">
                        Quitar
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <div>
              <button (click)="saveItemPdf()" mat-flat-button color="primary">Pasar a datos pdf</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-2">
        <h3 class="text-center font-2xl font-weight-bold">Datos en PDF</h3>
        <div #forPdf class="card-body shadow rounded-fz">
          <div class="row m-0 ">
            <div class="col-md-6 p-2">
              <div>
                <h4 class="font-2xl font-weight-bold">Cliente</h4>
                <div class="p-2">
                  <table class="table table-borderless table-sm font-lg">
                    <tbody>
                      <tr>
                        <td>Nombres:</td>
                        <td>{{ client.first_name + " " + client.last_name }}</td>
                      </tr>
                      <tr>
                        <td>Tipo de documento:</td>
                        <td>{{ client.doc_type }}</td>
                      </tr>
                      <tr>
                        <td># de documento:</td>
                        <td>{{ client.doc_id }}</td>
                      </tr>
                      <tr>
                        <td>Teléfono:</td>
                        <td>{{ client.phone }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4 p-2">
              <div>
                <h4 class="font-2xl font-weight-bold">Detalles de orden</h4>
                <div class="p-2">
                  <table class="table table-borderless table-sm font-lg">
                    <tbody>
                      <tr>
                        <td># de orden:</td>
                        <td>{{ dataExternal.order.id }}</td>
                      </tr>
                      <tr>
                        <td>Estado:</td>
                        <td>{{ dataExternal.order.status | translatefz: "orders" }}</td>
                      </tr>
                      <tr>
                        <td>Total:</td>
                        <td>{{ dataExternal.order.total }}</td>
                      </tr>
                      <tr>
                        <td>Subtotal:</td>
                        <td>{{ dataExternal.order.subtotal }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->

            <div class="col-md-6 p-2">
              <div>
                <h4 class="font-2xl font-weight-bold">Dirección de envió</h4>
                <div class="p-2">
                  <table class="table table-borderless table-sm font-lg">
                    <tbody>
                      <tr>
                        <td>Nombres:</td>
                        <td>{{ dataExternal.order?.shipping_address?.first_name }} {{ dataExternal.order?.shipping_address?.last_name }}</td>
                      </tr>
                      <tr>
                        <td>Compañía:</td>
                        <td>{{ dataExternal.order?.shipping_address?.company }}</td>
                      </tr>
                      <tr>
                        <td>Vecindario:</td>
                        <td>{{ dataExternal.order?.shipping_address?.neighborhood }}</td>
                      </tr>
                      <tr>
                        <td>Provincia:</td>
                        <td>{{ dataExternal.order?.shipping_address?.state }}</td>
                      </tr>
                      <tr>
                        <td>Ciudad:</td>
                        <td>{{ dataExternal.order?.shipping_address?.city }}</td>
                      </tr>
                      <tr>
                        <td>Calles:</td>
                        <td>{{ dataExternal.order?.shipping_address?.street }}</td>
                      </tr>
                      <tr>
                        <td>Código postal:</td>
                        <td>{{ dataExternal.order?.shipping_address?.zip_code }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="w-100">
            <h4 class="font-2xl font-weight-bold">Bodegas con productos</h4>
            <div>
              <div class="card-body mt-3 ng-star-inserted shadow" *ngFor="let itemPdf of itemsPdf | keyvalue">
                <h5 class="font-lg m-0">Bodega: {{ itemPdf.value.warehouse.name }}</h5>
                <h5 class="m-0">Codigo de bodega: {{ itemPdf.value.warehouse.code }}</h5>
                <h5 class="font-lg m-0">Productos:</h5>
                <div class="p-3">
                  <mat-list>
                    <mat-list-item *ngFor="let item of itemPdf.value?.items | keyvalue">
                      <div mat-list-avatar><img class="w-100" [src]="item.value?.img" alt="" /></div>
                      <div matListItemLine>
                        {{ item.value.name }}
                        <small>({{ item.value.code }})</small>
                      </div>
                      <div matListItemLine>Cantidad: {{ item.value.quantity }}</div>
                      <div matListItemLine>Precio: ${{ item.value.price }}</div>
                    </mat-list-item>
                  </mat-list>
                  <button (click)="removeAllItems(itemPdf.key)" color="warn" mat-button>Remover bodega <mat-icon>close</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button color="warn" mat-button matDialogClose>Cerrar</button>
  <button color="primary" (click)="generatePDF()" mat-flat-button>Generar PDF</button>
</mat-dialog-actions>
