<div
  class="m-0 mb-2 d-md-flex flex-wrap align-items-center justify-content-between py-1 px-0 px-md-3 main-style"
  [ngClass]="{ 'sticky-top': isSticky }"
  style="z-index: 2; top: 55px">
  <div class="center flex-wrap overflow-auto">
    <h1 class="m-0 font-weight-bolder font-4xl">{{ title }}</h1>

    <div class="position-relative p-3 overflow-hidden">
      <input
        class="shadow-sm input-style"
        [placeholder]="placeholder"
        (keyup)="buscarInterval($event)"
        [(ngModel)]="productSearch" />
      <button (click)="goBack()" class="btn-go-back text-secondary" mat-icon-button>
        <i class="fa-solid fa-arrow-left icon-bar"></i>
      </button>
      <button class="position-absolute btn-find text-secondary" mat-icon-button (click)="searchBarReset()">
        <i class="icon-bar fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
  <div class="d-flex align-items-center" style="top: 0px; right: 22px; height: 100%">
    <mat-chip-list>
      <mat-chip (click)="paste()" class="text-truncate">
        <i class="fa-regular fa-paste"></i>
      </mat-chip>
    </mat-chip-list>
    <ng-content></ng-content>
    <ng-container *ngIf="active_filters_menu">
      <mat-chip-list class="ml-1">
        <mat-chip [matBadge]="countFilter || null" [matMenuTriggerFor]="menu" class="text-truncate">
          <i class="fa-solid fa-filter mr-1"></i>
          filtros
        </mat-chip>
      </mat-chip-list>
      <mat-menu class="menu-style" #menu="matMenu" [overlapTrigger]="false">
        <ng-content select="[filterMenu]"></ng-content>
        <div mat-menu-item [disableRipple]="true">
          <button color="warning" mat-raised-button (click)="searchBarReset()">Aplicar filtros</button>
        </div>
      </mat-menu>
    </ng-container>
  </div>
  <ng-content select=".selections-back"></ng-content>
</div>
