.input-style{
  padding-left: 84px;
  height: 45px;
}

.btn-find{
  top: 0px;
  left: 56px;
  height: 100%;
}

.font-header{
  font-family: Segoe ui !important;
  /* font-weight: 700 !important; */
  font-size: 1.2rem !important;
  font-weight: 300;
  border: 2px solid #cdcdcd;
}

.shadow-header{
  box-shadow: 0px 0px 10px 5px rgb(120 118 118 / 75%);
    -webkit-box-shadow: 0px 0px 10px 5px rgb(183 180 180 / 75%);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}

.btn-go-back{
  position: absolute;
  top: 18.5px;
  left: 19px;
}

@media (max-width:600px) {
  .font-header{
    font-size: 1rem !important;
  }
}
