.input-style{
  padding-left: 84px;
  height: 45px;
  border-radius: 20px;
  background-color: #F1F3F4;
  font-weight: 600 !important;
  font-size: 1rem !important;
  min-width: 350px;
  max-width: 100%;
}

.btn-find{
  left: 56px;
  top: 18.5px;
}

.shadow-header{
  box-shadow: 0px 0px 10px 5px rgb(120 118 118 / 75%);
    -webkit-box-shadow: 0px 0px 10px 5px rgb(183 180 180 / 75%);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}

.btn-go-back{
  position: absolute;
  top: 18.5px;
  left: 19px;
}

.icon-bar {
  font-size: 20px;
}

@media (max-width:600px) {
  .font-header{
    font-size: 1rem !important;
  }
  .input-style{
    min-width: 210px;
    max-width: 100%;
  }
}


