.message-received .message {
    background-color: rgb(8, 161, 110);
    color: white;
    max-width: 80%;
}

.message-send .message {
    background-color: rgb(35, 41, 69);
    color: white;
}
.message-send {
    display: flex;
    justify-content: end;
}
.message-send {
    text-align: right;
}
.content-messages {
    min-height: 200px;
    max-height: 450px;
    overflow-y: auto;
}
.message-container {
    width: 80%;
    margin-bottom: 0.5rem;
}
.message {
    border-radius: 8px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: .6rem;
    padding-right: .6rem;
    display: inline-block;
    text-justify: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
}