<app-header-search [filter_data]="{min:min,max:max,'warehouse_ids[]':warehouse_ids,prefix_id:prefix_id}"
  [placeholder]="'Buscador de vtex'" (isload)="isload = $event" [url]="url" (products)="loadData($event)">
  <mat-chip-list class="ml-1">
    <mat-chip [routerLink]="['./create-product-vtex']" class="text-truncate">
      <mat-icon class="text-black-50" type="search">add</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <!-- <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <mat-form-field class="w-100">
        <mat-label>Prefijos</mat-label>
        <mat-select [(ngModel)]="prefix_id">
          <mat-option value="all">Todos</mat-option>
          <mat-option *ngFor="let prefix of prefixes" [value]="prefix.id">{{ prefix.type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row m-0 p-0" style="text-overflow: initial;" mat-menu-item (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()">
      <mat-form-field class="col-6">
        <mat-label>Stock Min</mat-label>
        <input matInput type="number" [(ngModel)]="min" type="number" class="" />
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Stock Max</mat-label>
        <input [(ngModel)]="max" type="number" matInput class="" />
      </mat-form-field>
    </div>
    <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()"
      class="h-100">
      <mat-form-field class="w-100">
        <mat-label>Todas las Bodegas</mat-label>
        <mat-select (selectionChange)="selectAllWarehouse($event)" type="text" #select_warehouse
          [(ngModel)]="warehouse_ids" multiple>
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip (removed)="removeWarehouse(warehouse_id)" *ngFor="let warehouse_id of warehouse_ids"
                [removable]="true">
                {{ getNameWareHouse(warehouse_id) }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
            {{ warehouse.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-menu-item [disableRipple]="true" class="h-100">
      <button mat-raised-button (click)="applyFilter()">Aplicar filtros</button>
    </div>
  </mat-menu> -->
</app-header-search>

<div *ngIf="isload" class="mt-4 card-columns">
  <div *ngFor="let item of [1, 2, 3]" class="card border-0 rounded-fz text-center">
    <ngx-skeleton-loader count="1" [theme]="{
        'border-radius': '20px',
    height: '200px'
  }"></ngx-skeleton-loader>
    <div class="text-center">
      <ngx-skeleton-loader appearance="circle" count="1"></ngx-skeleton-loader>
    </div>
    <ngx-skeleton-loader count="1" [theme]="{
    'border-radius': '5px',
    height: '35px',
    width:'150px',
    'margin-right':'5px'
  }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="1" [theme]="{
    'border-radius': '5px',
    height: '25px',
    width:'150px',
    'margin-right':'5px'
  }"></ngx-skeleton-loader>
  </div>
</div>


<div *ngIf="!isload;" class="mt-4 card-columns">
  <div *ngFor="let p of products" class="card border-0 rounded-fz overflow-hidden">
    <!-- <app-ml [withName]="true" (click_menu)="executeMenu($event)" [ml]="ml"></app-ml> -->
    <!-- <app-pagina-web [prestashop_product]="p"></app-pagina-web> -->
    <div class="card-body">
      <div>
        <div>
          <span class="{{p.status}} text-uppercase vtex-status pill-fz">{{p.status}}</span><br>
          <button [routerLink]="[ './edit-product-vtex/', p.vtex_api_id ]" mat-mini-fab class="vtex-btn-edit">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div>
          {{p.name}}
        </div>
      </div>
      <div class="my-2">
        <span class="font-facebook font-2xl">Skus</span>
      </div>
      <div>
        <swiper [config]="config" [useSwiperClass]="false">
          <div class="shadow rounded-fz position-relative card-body" *ngFor="let sku of p.skus">
            <span class="vtex-reference pill-fz">{{sku.reference_code}}</span>
            <img class="w-100 img-product rounded-fz position-relative"
              [src]="sku?.images && sku.images.length > 0 ? sku.images[0]?.ImageUrl  :img_not" [alt]="p.name">
            <button mat-icon-button class="vtex-btn-edit bg-gray-200">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </swiper>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="!isload && products.length < 1">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/img/respuesta_vacia.svg" alt="" width="100%">
    </div>
    <div class="col-md-6 font-facebook font-2xl d-flex align-items-center">
      Ups! Sin resultados en tu búsqueda
    </div>
  </div>
</ng-container>
<!-- <mat-paginator *ngIf="mlInfos.length > 0" class="float-right" #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="changedPaginator($event)"> -->
<mat-paginator [hidden]="isload" *ngIf="products.length > 0" [pageSizeOptions]="[10, 20, 30]"
  (page)="changePaginator($event)" showFirstLastButtons [pageSize]="paginator.per_page" [length]="paginator.total"
  [pageIndex]="paginator.current_page-1">
</mat-paginator>
