<div class="m-0 text-muted d-flex">
    <img [src]="data.img || 'assets/img/user.png'" alt="" class="img-title">
    <div class="ml-2">
        <div class="text-title font-2xl text-dark">{{data.title}}</div>
        <div *ngIf="data.is_admin" class="badge bg-success">Administrador</div>
    </div>
</div>
<div class="d-flex">
    <button class="rounded-fz mr-1" mat-raised-button color="warn" (click)="deleteChat()"> {{data.isGroup ? 'Salir de este grupo':'Borrar este chat'}}</button>
    <button class="rounded-fz mr-1" mat-raised-button color="primary">Participantes:
        #{{data?.participants?.length}}</button>
</div>
<div class="text-muted font-facebook my-2">Integrantes</div>
<div mat-dialog-content>
    <mat-list>
        <mat-list-item *ngFor="let participant of data?.participants">
            <div class="d-flex justify-content-between">
                <div>
                    <img class="img-item" [src]="participant?.info?.photo || 'assets/img/user.png'" alt="">
                    <span> {{participant.info.name}}</span>
                </div>
                <ng-container *ngIf="data.is_admin">
                    <button (click)="deleteParticipants(participant.id)" mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>
            </div>
        </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions>
    <button color="warn" mat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
    <button [routerLink]="['chats/groups',data.id_chat,'edit']" *ngIf="data.is_admin" color="primary" mat-button mat-dialog-close cdkFocusInitial>Editar Grupo</button>
</div>