<mat-card class="rounded-fz shadow p-3">
    <ngx-spinner name="isload-chart-category" bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="rgba(0, 0, 0,0.5)" type="ball-triangle-path" [fullScreen]="false">
        <p class="mt-5 pt-5 font-montserrat rounded-fz" style="color: #7e7b7b" > Cargando... </p>
    </ngx-spinner>
    <h3 class="font-montserrat font-3xl font-weight-bolder">Ventas por categorias</h3>
    <mat-chip-list selectable="true" aria-label="key selection">
        <mat-chip color="accent" (click)="updateChart({type:'key', value: 'category-sales'})" [selected]="key['category-sales']">Ventas en dolares</mat-chip>
        <mat-chip color="accent" (click)="updateChart({type:'key', value: 'category-sales-count'})" [selected]="key['category-sales-count']">Numero de ventas</mat-chip>
      </mat-chip-list>
    <div style="height: 400px;" class="d-flex align-items-center position-relative">
      <canvas id="chart-categories"></canvas>
    </div>
  </mat-card> 
