.node1 {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-info tr td:nth-child(2) {
  word-wrap: break-word;
}


table {
  // width: 100%;
  min-width: 100%;
  border-collapse: inherit !important;
}

.table-container {
  overflow: auto;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

td, th {
  padding-left: 10px !important;
  padding-right: 10px !important;
  max-width: 200px;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.init {
  background-color: #e2e2e2;
  color:gray;
}

.published {
  color: #29b624;
  background-color: #29b6242a;

}
.cancelled {
  color: #eb1313;
  background-color: #eb13132a;
}
.payment_paid {
  color: #77c757;
  background-color: #77c7572a;
}
.payment_partially_paid {
  color: #dabe32;
  background-color: #dabe322a;
}
.payment_refunded {
  color: #973449;
  background-color: #9734492a;
}
.payment_partially_refunded {
  color: #af344e;
  background-color: #af344e2a;
}
.shipping_processed {
  color: #b5e24d;
  background-color: #b5e24d2a;
}
.shipping_partially_processed {
  color: #74ca63;
  background-color: #74ca632a;
}
.shipping_shipped {
  color: #3d9a9a;
  background-color: #3d9a9a2a;
}
.shipping_partially_shipped {
  color: #386379;
  background-color: #3863792a;
}
.shipping_delivered {
  color: #3d9a9a;
  background-color: #3d9a9a2a;
}
.shipping_partially_delivered {
  color: #5e6d66;
  background-color: #5e6d662a;
}
.shipping_returned {
  color: #3d9a9a;
  background-color: #3d9a9a2a;
}
.shipping_partially_returned {
  color: #5e686d;
  background-color: #5e686d2a;
}

.is-loading {
  position: absolute;
  background: #ffffff71;
  z-index: 2;
  backdrop-filter: blur(3px);
}

td.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
  // display: inline-block;
}

.search-warehouses {
  position: fixed;
    top: 0;
    left: 0;
    z-index: 1025;
    background: rgba(240, 248, 255, 0.356);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100vh;
    width: 100%;
}

.content-search-warehouses {
  overflow: auto;
  height: 100%;
}

.whatsapp {
  color: green;
  background-color: rgba(0, 128, 0, 0.164);
}

.webstore {
  color: #3b5998;
  background-color: rgba(59, 89, 152, 0.164);
}

.marketplace {
  color: #ff4500;
  background-color: rgba(255, 69, 0, 0.164);
}

.ml {
  color: #95b422;
  background-color: #95b4222a;
}

.gap-5 {
  gap: 5px;
}
.container-filters {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  max-height: 70vh;
  flex-direction: column;
  overflow: auto;
  padding: 7px;
}

::ng-deep .menu-width-350 {
  max-width: 350px !important;
}

// .select-columns {
//   min-width: 120px;
//     padding: 3px 17px;
//     border-radius: 20px;
//     background: #dadada;
// }

.buttons-orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
