<!-- <div>
  <div>
    <div>
      <app-header-search
        [filter_data]="filters"
        [placeholder]="'#, ci, cliente, email'"
        [active_filters_menu]="true"
        [title]="'Ordenes'"
        [url]="url"
        (products)="getData($event)"
        (isLoading)="getIsLoading($event)">
        <ng-container menuBar>
          <mat-chip-list class="mx-1">
            <mat-chip>
              <mat-select
                [(ngModel)]="workspaceSelect"
                (selectionChange)="changeWorkspaces($event)"
                placeholder="Espacio de trabajo">
                <mat-option *ngFor="let workspace of workspaces" [value]="workspace.id">
                  {{ workspace.name }}
                </mat-option>
              </mat-select>
            </mat-chip>
            <mat-chip *ngxPermissionsOnly="permissions.create" [routerLink]="['./create']" class="ml-1 mat-btn-add">
              <mat-icon>add</mat-icon>
              Nueva
            </mat-chip>
          </mat-chip-list>
        </ng-container>

        <ng-container filterMenu>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Estados</mat-label>
              <mat-select [(ngModel)]="filters['status[]']" multiple>
                <mat-option *ngFor="let status of statuses" [value]="status">
                  {{ status | translatefz: "orders" }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Tipos</mat-label>
              <mat-select [(ngModel)]="filters.type">
                <mat-option>
                  <mat-icon color="warn">delete_forever</mat-icon>
                  Limpiar selección
                </mat-option>
                <mat-option *ngFor="let type of types" [value]="type">{{ type | translatefz: "orders" }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            style="text-overflow: initial"
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-50">
              <input
                readonly
                style="font-size: 11px"
                #filterOrderMin
                [(ngModel)]="filters.minDate"
                matInput
                placeholder="Fecha inicial" />
            </mat-form-field>
            <mat-form-field class="w-50">
              <input
                readonly
                style="font-size: 11px"
                #filterOrderMax
                [(ngModel)]="filters.maxDate"
                matInput
                placeholder="Fecha final" />
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            style="text-overflow: initial"
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-50">
              <input
                type="number"
                style="font-size: 11px"
                [(ngModel)]="filters.minPrice"
                matInput
                placeholder="Monto min" />
            </mat-form-field>
            <mat-form-field class="w-50">
              <input
                type="number"
                style="font-size: 11px"
                [(ngModel)]="filters.maxPrice"
                matInput
                placeholder="Monto max" />
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Canal</mat-label>
              <mat-select [(ngModel)]="filters.channel">
                <mat-option>
                  <mat-icon color="warn">delete_forever</mat-icon>
                  Limpiar selección
                </mat-option>
                <mat-option *ngFor="let channel of channels" [value]="channel.id">{{ channel.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Transferencias</mat-label>
              <mat-select [(ngModel)]="filters.hasMbaTransfers">
                <mat-option>
                  <mat-icon color="warn">delete_forever</mat-icon>
                  Limpiar selección
                </mat-option>
                <mat-option value="0">Sin transferencias</mat-option>
                <mat-option value="1">Con transferencias</mat-option>
                <mat-option value="sended">Enviada</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            style="text-overflow: initial"
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-50">
              <mat-label>Anticipos</mat-label>
              <mat-select [(ngModel)]="filters.hasMbaPayments">
                <mat-option>
                  <mat-icon color="warn">delete_forever</mat-icon>
                  Limpiar selección
                </mat-option>
                <mat-option value="1">SI</mat-option>
                <mat-option value="0">NO</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-50">
              <mat-label>Facturas</mat-label>
              <mat-select [(ngModel)]="filters.hasMbaInvoices">
                <mat-option>
                  <mat-icon color="warn">delete_forever</mat-icon>
                  Limpiar selección
                </mat-option>
                <mat-option value="1">SI</mat-option>
                <mat-option value="0">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            style="text-overflow: initial"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-50">
              <mat-label>Retenciones confirmadas</mat-label>
              <mat-select [(ngModel)]="filters.hasConfirmedRetention">
                <mat-option>
                  <mat-icon color="warn">delete_forever</mat-icon>
                  Limpiar selección
                </mat-option>
                <mat-option value="1">SI</mat-option>
                <mat-option value="0">NO</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-50">
              <mat-label>Guías</mat-label>
              <mat-select [(ngModel)]="filters.guide">
                <mat-option>
                  <mat-icon color="warn">delete_forever</mat-icon>
                  Limpiar selección
                </mat-option>
                <mat-option value="1">SI</mat-option>
                <mat-option value="0">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <input matInput [(ngModel)]="filters.paymentDocCode" placeholder="Código de documento" />
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            class="h-auto"
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip
                  *ngFor="let warehouse of warehousesSelected | keyvalue"
                  (removed)="removeWarehouse(warehouse.key)">
                  {{ warehouse.value.name }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  matInput
                  readonly
                  [matChipInputFor]="chipList"
                  [(ngModel)]="filters['warehouse[]']"
                  placeholder="Bodega" />
                <mat-icon matSuffix (click)="isSearchWarehouse = !isSearchWarehouse">add</mat-icon>
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100">
              <mat-label>Compañía</mat-label>
              <mat-select [(ngModel)]="filters.company">
                <mat-option>
                  <mat-icon color="warn">delete_forever</mat-icon>
                  Limpiar selección
                </mat-option>
                <mat-option *ngFor="let company of companies | keyvalue" [value]="company.key">
                  {{ company.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
      </app-header-search>
    </div>

    <div class="position-relative">
      <div *ngIf="isLoading" class="is-loading center w-100 h-100">
        <div class="center">
          <mat-spinner [diameter]="25"></mat-spinner>
          <p class="m-0 ml-2">Cargando datos</p>
        </div>
      </div>
      <div class="position-relative table-container shadow">
        <table
          style="width: max-content !important"
          mat-table
          [dataSource]="dataSource"
          multiTemplateDataRows
          class="mat-elevation-z8 w-100"
          matSort
          matSortActive="created_at"
          matSortDisableClear
          matSortDirection="desc"
          (matSortChange)="changeSort($event)">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef># orden</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let element">
              {{ element.type | translatefz: "orders" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
              <span [class]="element.status" class="badge">{{ element.status | translatefz: "orders" }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.client?.first_name }} {{ element?.client?.last_name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="channel">
            <th mat-header-cell *matHeaderCellDef>Canal</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.channel?.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="transference">
            <th mat-header-cell *matHeaderCellDef>Transferencia</th>
            <td mat-cell *matCellDef="let element">
              <span
                *ngIf="element?.additional_data?.transfers_status"
                [class]="
                  element?.additional_data?.transfers_status == 'sended' ? 'badge bg-secondary' : 'badge bg-success'
                ">
                {{ element?.additional_data?.transfers_status | translatefz: "orders" }}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="guide">
            <th mat-header-cell *matHeaderCellDef>Guía</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.additional_data?.shipping_trackings?.join(",") }}
            </td>
          </ng-container>
          <ng-container matColumnDef="anticipe">
            <th mat-header-cell *matHeaderCellDef>Anticipo</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.additional_data?.mba_payments?.join(",") }}
            </td>
          </ng-container>
          <ng-container matColumnDef="invoice">
            <th mat-header-cell *matHeaderCellDef>Factura</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngFor="let item of element?.additional_data?.invoices">
                <mat-chip>{{ item }}</mat-chip>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="warehouse">
            <th mat-header-cell *matHeaderCellDef>Bodega</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.additional_data?.warehouses?.join(",") }}
            </td>
          </ng-container>
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef>Compañía</th>
            <td mat-cell *matCellDef="let element">{{ element.company?.name }}</td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">${{ element.total }}</td>
          </ng-container>

          <ng-container matColumnDef="seller">
            <th mat-header-cell *matHeaderCellDef>Vendedor</th>
            <td mat-cell *matCellDef="let element">{{ element.seller_code }}</td>
          </ng-container>

          <ng-container matColumnDef="started_at">
            <th mat-sort-header disableClear mat-header-cell *matHeaderCellDef>Publicada</th>
            <td mat-cell *matCellDef="let element">
              {{ element.timing?.started_at | date: "medium" }}
              <span [hidden]="element.timing?.started_at" class="badge bg-warning">No publicada</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="ended_at">
            <th mat-sort-header disableClear mat-header-cell *matHeaderCellDef>Entregado</th>
            <td mat-cell *matCellDef="let element">
              {{ element.timing?.ended_at | date: "medium" }}
              <span [hidden]="element.timing?.ended_at" class="badge bg-warning">No entregado</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-sort-header disableClear mat-header-cell *matHeaderCellDef>Creado</th>
            <td mat-cell *matCellDef="let element">{{ element.created_at | date: "medium" }}</td>
          </ng-container>
          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <div>
                <button
                  mat-icon-button
                  *ngxPermissionsOnly="permissions.index"
                  color="primary"
                  class="mr-1"
                  (click)="openDetailOrder(element.id)">
                  <mat-icon>visibility</mat-icon>
                </button>
                <a
                  mat-icon-button
                  *ngxPermissionsOnly="permissions.edit"
                  color="accent"
                  [href]="'#/system-orders/orders/' + element.id + '/edit'"
                  [routerLink]="['/system-orders/orders', element.id, 'edit']">
                  <mat-icon>edit</mat-icon>
                </a>
                <button
                  mat-icon-button
                  *ngxPermissionsOnly="['super-admin']"
                  color="warn"
                  (click)="deleteOrder(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button
                  mat-icon-button
                  *ngxPermissionsOnly="['super-admin']"
                  color="primary"
                  (click)="openLogOrder(element.id)">
                  <mat-icon>hub</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator
    [hidden]="isLoading"
    *ngIf="dataSource?.length > 0"
    [pageSizeOptions]="[10, 20, 30]"
    (page)="changePaginator($event)"
    showFirstLastButtons
    [pageSize]="detailPaginator.per_page"
    [length]="detailPaginator.total"
    [pageIndex]="detailPaginator.current_page - 1"></mat-paginator>
</div> -->

<div>
  <app-search-template-table
    [filter_data]="filters"
    [placeholder]="'#, ci, cliente, email'"
    [active_filters_menu]="true"
    [title]="'Ordenes'"
    [url$]="url"
    (data)="getData($event)">
    <ng-container filterMenu>
      <div
        mat-menu-item
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-label>Estados</mat-label>
          <mat-select [(ngModel)]="filters['status[]']" multiple>
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{ status | translatefz: "orders" }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        mat-menu-item
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-label>Tipos</mat-label>
          <mat-select [(ngModel)]="filters.type">
            <mat-option>
              <mat-icon color="warn">delete_forever</mat-icon>
              Limpiar selección
            </mat-option>
            <mat-option *ngFor="let type of types" [value]="type">{{ type | translatefz: "orders" }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        mat-menu-item
        style="text-overflow: initial"
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-50">
          <input
            readonly
            style="font-size: 11px"
            #filterOrderMin
            [(ngModel)]="filters.minDate"
            matInput
            placeholder="Fecha inicial" />
        </mat-form-field>
        <mat-form-field class="w-50">
          <input
            readonly
            style="font-size: 11px"
            #filterOrderMax
            [(ngModel)]="filters.maxDate"
            matInput
            placeholder="Fecha final" />
        </mat-form-field>
      </div>
      <div
        mat-menu-item
        style="text-overflow: initial"
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-50">
          <input
            type="number"
            style="font-size: 11px"
            [(ngModel)]="filters.minPrice"
            matInput
            placeholder="Monto min" />
        </mat-form-field>
        <mat-form-field class="w-50">
          <input
            type="number"
            style="font-size: 11px"
            [(ngModel)]="filters.maxPrice"
            matInput
            placeholder="Monto max" />
        </mat-form-field>
      </div>
      <div
        mat-menu-item
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-label>Canal</mat-label>
          <mat-select [(ngModel)]="filters.channel">
            <mat-option>
              <mat-icon color="warn">delete_forever</mat-icon>
              Limpiar selección
            </mat-option>
            <mat-option *ngFor="let channel of channels" [value]="channel.id">{{ channel.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        mat-menu-item
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-label>Transferencias</mat-label>
          <mat-select [(ngModel)]="filters.hasMbaTransfers">
            <mat-option>
              <mat-icon color="warn">delete_forever</mat-icon>
              Limpiar selección
            </mat-option>
            <mat-option value="0">Sin transferencias</mat-option>
            <mat-option value="1">Con transferencias</mat-option>
            <mat-option value="sended">Enviada</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        mat-menu-item
        style="text-overflow: initial"
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-50">
          <mat-label>Anticipos</mat-label>
          <mat-select [(ngModel)]="filters.hasMbaPayments">
            <mat-option>
              <mat-icon color="warn">delete_forever</mat-icon>
              Limpiar selección
            </mat-option>
            <mat-option value="1">SI</mat-option>
            <mat-option value="0">NO</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-50">
          <mat-label>Facturas</mat-label>
          <mat-select [(ngModel)]="filters.hasMbaInvoices">
            <mat-option>
              <mat-icon color="warn">delete_forever</mat-icon>
              Limpiar selección
            </mat-option>
            <mat-option value="1">SI</mat-option>
            <mat-option value="0">NO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        mat-menu-item
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        style="text-overflow: initial"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-50">
          <mat-label>Retenciones confirmadas</mat-label>
          <mat-select [(ngModel)]="filters.hasConfirmedRetention">
            <mat-option>
              <mat-icon color="warn">delete_forever</mat-icon>
              Limpiar selección
            </mat-option>
            <mat-option value="1">SI</mat-option>
            <mat-option value="0">NO</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-50">
          <mat-label>Guías</mat-label>
          <mat-select [(ngModel)]="filters.guide">
            <mat-option>
              <mat-icon color="warn">delete_forever</mat-icon>
              Limpiar selección
            </mat-option>
            <mat-option value="1">SI</mat-option>
            <mat-option value="0">NO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div
        mat-menu-item
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <input matInput [(ngModel)]="filters.paymentDocCode" placeholder="Código de documento" />
        </mat-form-field>
      </div>
      <div
        mat-menu-item
        class="h-auto"
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip
              *ngFor="let warehouse of warehousesSelected | keyvalue"
              (removed)="removeWarehouse(warehouse.key)">
              {{ warehouse.value.name }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              matInput
              readonly
              [matChipInputFor]="chipList"
              [(ngModel)]="filters['warehouse[]']"
              placeholder="Bodega" />
            <mat-icon matSuffix (click)="isSearchWarehouse = !isSearchWarehouse">add</mat-icon>
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div
        mat-menu-item
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-label>Compañía</mat-label>
          <mat-select [(ngModel)]="filters.company">
            <mat-option>
              <mat-icon color="warn">delete_forever</mat-icon>
              Limpiar selección
            </mat-option>
            <mat-option *ngFor="let company of companies | keyvalue" [value]="company.key">
              {{ company.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container menuBar>
      <mat-chip-list class="mx-1">
        <mat-chip>
          <mat-select
            [(ngModel)]="workspaceSelect"
            (selectionChange)="changeWorkspaces($event)"
            placeholder="Espacio de trabajo">
            <mat-option *ngFor="let workspace of workspaces" [value]="workspace.id">
              {{ workspace.name }}
            </mat-option>
          </mat-select>
        </mat-chip>
        <mat-chip *ngxPermissionsOnly="permissions.create" [routerLink]="['./create']" class="ml-1 mat-btn-add">
          <mat-icon>add</mat-icon>
          Nueva
        </mat-chip>
      </mat-chip-list>
    </ng-container>
    <ng-container table>
      <table
      style="width: max-content !important"
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8 w-100"
      matSort
      matSortActive="created_at"
      matSortDisableClear
      matSortDirection="desc"
      (matSortChange)="changeSort($event)">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef># orden</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">
          <span class="font-sm">{{ element.type | translatefz: "orders" }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          <span [class]="element.status" class="badge-fz font-sm">{{ element.status | translatefz: "orders" }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">
          <span class="font-sm">{{ element?.client?.first_name }} {{ element?.client?.last_name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="channel">
        <th mat-header-cell *matHeaderCellDef>Canal</th>
        <td mat-cell *matCellDef="let element">
          <span [class]="element?.channel?.type" class="badge-fz font-sm"><i [class]="iconChannels[element?.channel?.type]"></i><span class="ml-1">{{ element?.channel?.name }}</span></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="transference">
        <th mat-header-cell *matHeaderCellDef>Transferencia</th>
        <td mat-cell *matCellDef="let element">
          <span
            *ngIf="element?.additional_data?.transfers_status"
            class="badge-fz font-sm"
            [class]="
              element?.additional_data?.transfers_status === 'sended' ? ' bg-secondary text-white' : 'bg-success'
            ">
            {{ element?.additional_data?.transfers_status | translatefz: "orders" }}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="guide">
        <th mat-header-cell *matHeaderCellDef>Guía</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.additional_data?.shipping_trackings?.join(",") }}
        </td>
      </ng-container>
      <ng-container matColumnDef="anticipe">
        <th mat-header-cell *matHeaderCellDef>Anticipo</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.additional_data?.mba_payments?.join(",") }}
        </td>
      </ng-container>
      <ng-container matColumnDef="invoice">
        <th mat-header-cell *matHeaderCellDef>Factura</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let item of element?.additional_data?.invoices">
            <mat-chip>{{ item }}</mat-chip>
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="warehouse">
        <th mat-header-cell *matHeaderCellDef>Bodega</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.additional_data?.warehouses?.join(",") }}
        </td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef>Compañía</th>
        <td mat-cell *matCellDef="let element"><span class="font-sm">{{ element.company?.name }}</span></td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">${{ element.total }}</td>
      </ng-container>

      <ng-container matColumnDef="seller">
        <th mat-header-cell *matHeaderCellDef>Vendedor</th>
        <td mat-cell *matCellDef="let element">{{ element.seller_code }}</td>
      </ng-container>

      <ng-container matColumnDef="started_at">
        <th mat-sort-header disableClear mat-header-cell *matHeaderCellDef>Publicada</th>
        <td mat-cell *matCellDef="let element">
          {{ element.timing?.started_at | date: "medium" }}
          <span [hidden]="element.timing?.started_at" class="badge bg-warning">No publicada</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="ended_at">
        <th mat-sort-header disableClear mat-header-cell *matHeaderCellDef>Entregado</th>
        <td mat-cell *matCellDef="let element">
          {{ element.timing?.ended_at | date: "medium" }}
          <span [hidden]="element.timing?.ended_at" class="badge bg-warning">No entregado</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="created_at">
        <th mat-sort-header disableClear mat-header-cell *matHeaderCellDef>Creado</th>
        <td mat-cell *matCellDef="let element">{{ element.created_at | date: "medium" }}</td>
      </ng-container>
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <div>
            <button
              mat-icon-button
              *ngxPermissionsOnly="permissions.index"
              color="primary"
              class="mr-1"
              (click)="openDetailOrder(element.id)">
              <i class="far fa-eye"></i>
            </button>
            <a
              mat-icon-button
              *ngxPermissionsOnly="permissions.edit"
              color="accent"
              [href]="'#/system-orders/orders/' + element.id + '/edit'"
              [routerLink]="['/system-orders/orders', element.id, 'edit']">
              <i class="far fa-edit"></i>
            </a>
            <button
              mat-icon-button
              *ngxPermissionsOnly="['super-admin']"
              color="warn"
              (click)="deleteData(element.id)">
              <i class="fas fa-trash"></i>
            </button>
            <button
              mat-icon-button
              *ngxPermissionsOnly="['super-admin']"
              color="primary"
              (click)="openLogOrder(element.id)">
              <i class="fas fa-history"></i>
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>
    </table>
    </ng-container>
    
</app-search-template-table>
</div>

<div [hidden]="!isSearchWarehouse" class="search-warehouses">
  <button class="btn-close" (click)="isSearchWarehouse = !isSearchWarehouse" mat-mini-fab>
    <mat-icon>close</mat-icon>
  </button>
  <div class="content-search-warehouses col-md-5">
    <app-search-warehouses
      [warehousesSelected]="warehousesSelected"
      (add)="addWarehouse($event)"
      (remove)="removeWarehouse($event)"></app-search-warehouses>
  </div>
</div>
