<h1 matDialogTitle>{{dataExternal.title}}</h1>

<mat-dialog-content>
    <div>
      <div [formGroup]="form" class="row m-0">
        <mat-form-field class="col-md-6" *ngIf="dataExternal.isCreateCity">
          <input matInput placeholder="Nombre de la ciudad" formControlName="city_name">
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Nombre de la tienda" formControlName="name">
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <textarea matInput placeholder="Dirección" formControlName="address"></textarea>
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Latitud" formControlName="latitude">
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Longitud" formControlName="longitude">
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Teléfono" formControlName="phone">
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Codigo Mba" formControlName="mba_code">
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <textarea matInput placeholder="Horarios" formControlName="schedules"></textarea>
        </mat-form-field>
      </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button matDialogClose color="warn">Cerrar</button>
    <button mat-button (click)="ok()" color="primary">Gestionar</button>
</mat-dialog-actions>
