<h1 matDialogTitle>{{title}}</h1>

<mat-dialog-content>
    <div [formGroup]="form">
        <mat-form-field class="d-block" >
            <mat-label>Tipo</mat-label>
            <input matInput placeholder="Escriba el tipo de la Prefijo " type="text" formControlName="type" required>
            <mat-error *ngIf="form.controls['type'].invalid">Tipo Requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="d-block" >
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Escriba el prefijo" type="text" formControlName="prefix" required>
            <mat-error *ngIf="form.controls['prefix'].invalid">Prefijo Requerido</mat-error>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="warn" matDialogClose [disabled]="isLoading">Cerrar</button>
    <button mat-button color="primary" (click)="saveInServer()" [disabled]="isLoading">Guardar</button>
</mat-dialog-actions>