.list-person {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  word-break: break-word;
}

.search-template {
  position: fixed;
  z-index: var(--z-index);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.modal-search {
  // background-color: white;
  height: 100%;
  overflow: auto;
}

.item-person {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.7rem;
}

.img-person {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.grid-people {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
