<ngx-search-bar-paginator
  path="products-admin/categories"
  (data)="getData($event)"
  title="Categorías"
  placeholder="Buscar categorías"
>
<ng-container buttons>
    <mat-chip-set>
      <mat-chip selected color="create" (click)="createOrEdit()" class="ml-3"><i class="fas fa-plus mr-1"></i> Categoría</mat-chip>
    </mat-chip-set>
  </ng-container>

    <mat-card class="overflow-auto">
      <mat-card-content>
        <table class="w-100" mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let row">{{ row.sort_name }}</td>
          </ng-container>
          <ng-container matColumnDef="products_count">
            <th mat-header-cell *matHeaderCellDef># productos</th>
            <td mat-cell *matCellDef="let row">{{ row.products_count || 0 }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let row">
              <span class="d-flex">
                <button
                  *ngxPermissionsOnly="permissions.edit"
                  (click)="createOrEdit(row.id)"
                  routerLinkActive="router-link-active"
                  class="btn-icon c-edit">
                  <i class="far fa-edit"></i>
                </button>
                <button
                  *ngxPermissionsOnly="permissions.destroy"
                  (click)="deleteData(row.id)"
                  class="btn-icon c-delete">
                  <i class="far fa-trash-alt"></i>
                </button>
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>
      </mat-card-content>
    </mat-card>
</ngx-search-bar-paginator>
