<div>
  <app-header-search #headerComponent [filter_data]="{work_id:filtersJob?.value || null}" [placeholder]="'Buscador de solicitudes'" (isload)="isload = $event" [url]="url"
    (products)="loadData($event)">
    <mat-chip-list class="ml-1">
      <mat-chip [matMenuTriggerFor]="menu" class="text-truncate">
        <mat-icon class="text-black-50" type="search">filter_alt</mat-icon>
      </mat-chip>
    </mat-chip-list>
  
    <mat-menu class="w-100" #menu="matMenu" [overlapTrigger]="false">
      <div class="w-100" mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()">
      <mat-form-field class="w-100">
        <mat-label>Buscar empleo</mat-label>
        <input (keydown.enter)="getWorks()" type="text" matInput [(ngModel)]="searchJob" [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="getRequestOfWork(option.id)" *ngFor="let option of works" [value]="option.title">
          <div style="line-height: 1;" class="font-sm"> {{option.title}} <br>
            <span class="font-sm d-block text-muted">{{option.created_at | date}}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
    </div>
    </mat-menu>
  </app-header-search>
  <mat-chip-list>
    <mat-chip selected *ngIf="filtersJob">filtro de empleo: &nbsp;<span class="text-truncate text-warning" style="max-width: 220px;">{{filtersJob.name}}</span> <mat-icon (click)="clearFilterJob()">close</mat-icon> </mat-chip>
  </mat-chip-list>

  <div *ngIf="isload" class="mt-4 card-columns">
    <div *ngFor="let item of [1, 2, 3]" class="card border-0 rounded-fz text-center">
      <ngx-skeleton-loader count="1" [theme]="{
        'border-radius': '20px',
    height: '200px'
  }"></ngx-skeleton-loader>
      <div class="text-center">
        <ngx-skeleton-loader appearance="circle" count="1"></ngx-skeleton-loader>
      </div>
      <ngx-skeleton-loader count="1" [theme]="{
    'border-radius': '5px',
    height: '35px',
    width:'150px',
    'margin-right':'5px'
  }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="1" [theme]="{
    'border-radius': '5px',
    height: '25px',
    width:'150px',
    'margin-right':'5px'
  }"></ngx-skeleton-loader>
    </div>
  </div>

  <div *ngIf="!isload;" class="mt-4 card-columns">
    <mat-card *ngFor="let p of products;let index_product=index"
      class="card border-0 rounded-fz overflow-hidden position-relative">
      <!-- <div *ngIf="p?.isload" class="position-absolute w-100 h-100 opaque-blur"></div> -->
      <div class="card-body">
        <div class="header-grid">
          <img class="rounded-circle" [src]="p.user?.photo?.real_permalink || '/assets/img/avatars/profile-user.svg'"
            alt="image user">
          <div class="font-2xl font-facebook">{{p?.user?.first_name}} {{p?.user?.last_name}}
            <br>
            <small class="badge bg-orange font-sm">{{p.created_at | date}}</small>
          </div>
        </div>

        <div class="font-italic my-1">Solicitud de empleo: <strong>{{p?.work?.title}}</strong></div>
        <div class="font-italic my-1" *ngIf="p?.comment">
          <p class="font-italic">Comentario: <strong>{{p?.comment || 'sin comentario'}}</strong></p>
        </div>
        <div class="font-italic my-1">Correo: <strong>{{p?.user?.email}}</strong></div>
        <div class="font-italic my-1">Fecha de nacimiento: <strong>{{p?.user?.birthday | date}}</strong></div>
        <div class="font-italic my-1">Ciudad de residencia: <strong>{{p?.user?.resident_city }}</strong></div>

        <!-- <div class="row"> -->
          <!-- <div class="col-12 h3 font-weight-bold border-bottom">
            {{p.work?.title}}
          </div> -->
          <!-- <div class="col-md-7 col-12">
            <p class="lead font-italic p">
              Solicitante: <strong> {{p.user.first_name}} {{p.user.last_name}} </strong> <br>
              Fecha: <strong> {{p.created_at |date}} </strong> <br>
              Email: <strong> <a href="mailto:{{p.user.email}}" class="text-muted">{{p.user.email}}</a> </strong> <br>
              Fecha de nacimiento: <strong> {{p.user.birthday | date}} </strong> <br>
              Cuidad de residencias: <strong> {{p.user.resident_city}} </strong> <br>
            </p>
          </div> -->
          <!-- <div class="col-md-12 col-12 center">
            <img class="w-100" [src]="p.user?.photo?.real_permalink" alt="user photo">
          </div> -->
          <div>
            <mat-chip-list class="ml-1">
              <mat-chip selected color="warn" (click)="goAppointmentCreate(p.id)" class="text-truncate">
                <mat-icon>rate_review</mat-icon>&nbsp; Citar
              </mat-chip>
              <mat-chip selected color="accent" (click)="openCv(p.id)" class="text-truncate">
                <mat-icon>assignment_ind</mat-icon> HV
              </mat-chip>
              <mat-chip selected [routerLink]="['/recursos-humanos/works']" [queryParams]="{search: p.work.id}"
                class="text-truncate bg-primary">
                <mat-icon class="text-black-50" type="search">work</mat-icon>&nbsp; Empleo
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      <!-- </div> -->
    </mat-card>
  </div>
  <ng-container *ngIf="!isload && products?.length < 1">
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/img/respuesta_vacia.svg" alt="" width="100%">
      </div>
      <div class="col-md-6 font-facebook font-2xl d-flex align-items-center">
        Ups! Sin resultados en tu búsqueda
      </div>
    </div>
  </ng-container>
  <mat-paginator [hidden]="isload" *ngIf="products?.length > 0" [pageSizeOptions]="[10, 20, 30]"
    (page)="changePaginator($event)" showFirstLastButtons [pageSize]="paginator.per_page" [length]="paginator.total"
    [pageIndex]="paginator.current_page-1">
  </mat-paginator>
</div>

<div *ngIf="isOpenCv" [ngClass]="isOpenCv?'open-cv':'close-cv'" class="section-cv">
  <div class="content-cv">
    <button class="btn-close-cv bg-dark" (click)="isOpenCv = false" mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
    <div class="container-cv shadow p-3">
      <div class="row h-100">
        <div class="col-md-12">
          <div class="display-4 h-100">
            <ngx-doc-viewer [url]="cv" viewer="pdf" style="width:100%;height:100%;"></ngx-doc-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>