
<app-search-template [filter_data]="form.value" [active_filters_menu]="true" [url$]="url"
(data)="getDataPaginate($event)">
  <ng-container filterMenu>
    <div [formGroup]="form">
      <div class="w-100" mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()">
        <mat-form-field class="w-100">
          <mat-chip-list #chipList aria-label="selection">
            <mat-chip
            class="text-truncate"
            *ngIf="workText"
              [selectable]="true"
              [removable]="true"
              (removed)="removeWorkFilter()">
            <span class="text-truncate">{{workText}}</span>  
              <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
            </mat-chip>
            <input
            (keydown.enter)="getWorks()"
              placeholder="Buscar empleo"
              #workInput
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              >
          </mat-chip-list>
          <mat-label>Buscar empleo</mat-label>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addWorkFilter($event)">
            <mat-option *ngFor="let option of works" [value]="option.id">
              <div style="line-height: 1;" class="font-sm"> {{option.title}} <br>
                <span class="font-sm d-block text-muted">{{option.created_at | date}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
          <mat-slide-toggle formControlName="isWishlist">Solo los favoritos</mat-slide-toggle>
      </div>
    </div>
  </ng-container>
  <ng-container data>
    <mat-card @fade *ngFor="let p of products;let index_product=index"
    class="card border-0 rounded-fz shadow-fz overflow-hidden position-relative">
    <div class="card-body">
      <div class="header-grid">
        <img class="rounded-circle" [src]="p.user?.photo?.real_permalink || '/assets/img/avatars/profile-user.svg'"
          alt="image user">
        <div class="font-2xl font-facebook">{{p?.user?.first_name}} {{p?.user?.last_name}}
          <br>
          <small class="badge bg-orange font-sm">{{p.created_at | date}}</small>
        </div>
      </div>

      <div>
        <div class="font-italic my-1">Solicitud de empleo: <strong>{{p?.work?.title}}</strong></div>
      </div>

      <div>
        <div class="font-italic my-1" *ngIf="p?.comment">
          <p class="font-italic">Comentario: <strong>{{p?.comment || 'sin comentario'}}</strong></p>
        </div>
      </div>

      <div>
        <div class="font-italic my-1">Correo: <strong>{{p?.user?.email}}</strong></div>
      </div>

      <div>
        <div class="font-italic my-1">Fecha de nacimiento: <strong>{{p?.user?.birthday | date}}</strong></div>
      </div>

      <div>
        <div class="font-italic my-1">Ciudad de residencia: <strong>{{p?.user?.resident_city }}</strong></div>
      </div>

      <div>
        <mat-chip-list multiple="true" class="ml-1">
          <mat-chip selected color="warn" (click)="goAppointmentCreate(p.id)" class="text-truncate">
            <mat-icon>rate_review</mat-icon>&nbsp; Citar
          </mat-chip>
          <mat-chip selected color="accent" (click)="openCv(p.id)" class="text-truncate">
            <mat-icon>assignment_ind</mat-icon> HV
          </mat-chip>
          <mat-chip selected [routerLink]="['/recursos-humanos/works']" [queryParams]="{search: p.work.id}"
            class="text-truncate bg-primary">
            <mat-icon class="text-black-50" type="search">work</mat-icon>&nbsp; Empleo
          </mat-chip>
          <mat-chip color="accent" [selected]="p.favorite ? true : false" (click)="doFavorite(p.id, p.favorite)">
            <mat-icon>star</mat-icon>
          </mat-chip>
          <mat-chip color="accent" selected [routerLink]="['/recursos-humanos/users-web']" [queryParams]="{search: p.user.id}" routerLinkActive="router-link-active" >
           Información de usuario <mat-icon>person</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card>
  </ng-container>
  
</app-search-template>

<div *ngIf="isOpenCv" [ngClass]="isOpenCv?'open-cv':'close-cv'" class="section-cv">
  <div class="content-cv">
    <button class="btn-close-cv bg-dark" (click)="isOpenCv = false" mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
    <div class="container-cv shadow p-3">
      <div class="row h-100">
        <div class="col-md-12">
          <div class="display-4 h-100">
            <ngx-doc-viewer [url]="cv" viewer="pdf" style="width:100%;height:100%;"></ngx-doc-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>