<span class="col-md-3 col-12 chat-template p-0">
  <mat-card class="shadow rounded-fz">
    <div class="header-chat">
        <img
        [src]="chat.img"
         class="photo-user"/>
        <div class="overflow-hidden" style="flex:1">
          <h3  class="text-truncate line-1 m-0 font-weight-bold">{{chat.name}}</h3>
          <div class="chat-text-info-small">
            <div class="text-success">
              {{chat.typing ? 'Escribiendo...' : chat?.connected ? 'En linea' : ''}}
            </div>
            <div  class="text-truncate" *ngIf="chat?.data?.type === 'group'">
                {{participantsJoins}}
            </div>
          </div>
        </div>
        <div class="container-option-chat">
          <button (click)="openViewUsersGroupModal()"><i class="fa-solid fa-ellipsis-vertical"></i></button>
          <button class="text-danger" (click)="closeChat()"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>


    <mat-card-content class="body-template-chat m-0">
      <div id="scroll-container" [scrollTop]="positionScroll"
        class="body-template-background-chat p-2" [infiniteScrollDisabled]="notMoreOldMessage" #scrollMe infiniteScroll
        [infiniteScrollUpDistance]="1" [infiniteScrollThrottle]="0" (scrolledUp)="onScrollUp()" [scrollWindow]="false">
        <div #ngfor *ngFor="let message of messages; trackBy: trackByMessage"
          [ngClass]="{'text-right': message.author_user_id === my_id}">
          <ng-container *ngIf="message.type !== 'info';else templateInfo">
            <p class="shadow message" [ngClass]="message.author_user_id === my_id ?'message-send':'message-recept'">
              <ng-container *ngIf="!message.files; else templateFile">
                <ng-container *ngIf="chat.data.type === 'group' && message.author_user_id !== my_id">
                  <span class="font-xs text-muted text-truncate ">{{message?.author?.info?.name}}</span><br>
                </ng-container>
                <ng-container *ngIf="message.links && message.links.length > 0 ">
                  <div  *ngFor="let link of message.links">
                    <a [href]="link.page?.url" target="_blank">
                      <img *ngIf="link.page.image" class="w-100 h-100 rounded-fz" [src]="link.page.image.url" [alt]="link.page.title">
                      <div *ngIf="link.page?.url" class="text-muted"><strong>{{link.page.url}}</strong><br> {{link.page.description}}</div>
                    </a>
                  </div>
                </ng-container>
                
               <span class="markdown" [innerHTML]="message.text | markdwon"></span> 
              </ng-container>
              <ng-template #templateFile>
                <div class="w-100 position-relative" *ngFor="let file of message.files">

                  <div *ngIf="file?.isload" class="load-file">
                    <div class="w-100 d-flex h-100 align-items-center" style="white-space: nowrap;">
                      <mat-progress-bar color="accent" mode="determinate" [value]="file?.progress || 0"></mat-progress-bar>&nbsp;{{file?.progress || 0}}%
                    </div>
                  </div>

                  <ng-container *ngIf="chat.data.type === 'group' && message.author_user_id !== my_id">
                    <span class="font-xs text-muted text-truncate text-value-lg">{{message.author.info.name}}</span><br>
                  </ng-container>
                  <span class="download-file">
                    <button class="btn-download" mat-icon-button *ngIf="file.type === 'image'"
                      (click)="downloadResource(file.file, file.original_name,message?._id)">
                      <mat-icon>download_for_offline</mat-icon>
                    </button>
                    <ng-container [ngSwitch]="file.type">
                      <ng-container *ngSwitchCase="'image'">
                        <img class="w-100 rounded-fz my-2" [src]="file.permalink" alt="">
                      </ng-container>
                      <video *ngSwitchCase="'video'" class="w-100 rounded-fz my-2" controls alt="">
                        <source [src]="file.permalink" type="video/{{file.ext}}">
                      </video>
                      <audio *ngSwitchCase="'audio'" controls>
                        <source [src]="file.permalink" type="audio/{{file.ext}}">
                        Your browser does not support the audio element.
                      </audio>
                      <div *ngSwitchDefault>
                        <div class="d-flex align-items-center text-muted bg-white rounded-lg p-sm-1">
                          <mat-icon>description</mat-icon>
                          <span class="text-truncate">{{file.original_name}}</span>
                          <button mat-icon-button (click)="downloadResource(file.file, file.original_name,message?._id)">
                            <mat-icon>download_for_offline</mat-icon>
                          </button>
                        </div>
                      </div>
                    </ng-container>
                  </span>
                </div>
               <span [innerHTML]="message.text | markdwon"></span> 

              </ng-template>
              <br>
              <small class="text-muted">{{message.created_at | date:'medium'}}
                  <i *ngIf="message.author_user_id === my_id"
                  [ngClass]="(message?.is_readed_for_all ) ? 'fas text-success': (message?.is_delivered_for_all)?'fas':'far'"
                  class="fa-check-circle"></i>
                </small>
            </p>
          </ng-container>
          <ng-template #templateInfo>
            <div class="my-2 text-center font-weight-bold p-1">{{message.text}}</div>
          </ng-template>
        </div>
      </div>
      <div *ngIf="hasFile" class="attach">
        <file-pond #myPond (onprocessfiles)="successFiles($event)" [className]="'m-0'" [options]="pondOptions">
        </file-pond>
      </div>
      <div *ngIf="hasNewMessages" class="new-message">
        <span (click)="scrollToBottom()" class="shadow p-2">Nuevos Mensajes<i class="fas fa-arrow-down"></i></span>
      </div>
      <div *ngIf="loadingMessages" class="new-message">
        <span class="shadow p-2">Cargando mensajes espere ...</span>
      </div>
    </mat-card-content>
    <mat-card-actions  class="footer-chat position-relative align-items-center d-flex justify-content-between">
      <div class="position-relative w-100" style="top: 27px;"> 
        <textarea autofocus  #textMessage (keydown)="typingMessage()" (keydown.enter)="sendMessage($event)" (keyup)="typingMessage()"  id="textarea-chat" type="text"
          class="input-send-message py-2 position-absolute w-100 border-0 shadow-sm" placeholder="Mensaje"></textarea>
      </div>

      <button mat-icon-button class="btn-emoji" (click)="hasFile=!hasFile">
        <i class="fa-solid fa-paperclip text-muted"></i>
      </button>
      <button class="m-0 btn-send-message ml-1" (click)="sendMessage()">
        <i class="fa-regular fa-paper-plane"></i>
      </button>
    </mat-card-actions>
  </mat-card>
</span>