
.comment-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 434px;

}

/* ok */
.header-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* ok */
.header-grid img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* ok */
 .grid-tag {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
}
/* ok */
.font-tag {
    font-size: xx-large;
    line-height: 1;
    text-align: center;
}



.btn-add-job {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn-add-request {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn-view-appointment {
  position: absolute;
  right: 5px;
  top: 5px;
}

/* scroll */

.comment-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    /* background-color: #F5F5F5; */
    border-radius: 10px;
}

.comment-content::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.comment-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top, #2ab0ed 0%, #bfe8f9 50%, /* #9fd8ef 51%, */
    #2ab0ed 100%);
}

.info-dashboard-container > span{
  display: flex;
  font-size: 1.5rem !important;
  margin-top: 10px;
}


.headers-dashboard {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, calc(25% - 10px));}

.headers-dashboard .mat-card {
  background-color: #002A36;
  color: #fff;
  width: 100%;
}

.headers-dashboard .mat-card img {
  filter: invert(1);
}

.body-dashboard {
  display: grid;
  gap: 10px;
  grid-template-columns: 65% 35% ;
}

@media screen and (max-width: 600px) {
  .headers-dashboard, .body-dashboard {
    grid-template-columns: 100%;
  }

}