.content-grid {
    margin-top: 20px;
    height: calc(100vh - 90px);
}

.parent {
  display: grid;
  grid-template-areas:
  'appointmens appointmens works works persons persons cv cv'
  'lastest-appointments lastest-appointments lastest-appointments lastest-appointments lastest-appointments works-count works-count works-count'
  'lastest-appointments lastest-appointments lastest-appointments lastest-appointments lastest-appointments request-count request-count request-count';
  gap: 10px;
  /* grid-template-columns: repeat(8, 1fr); */
}

@media screen and (max-width: 768px) {
  .parent {
    display: flex;
    grid-template-areas:
    'appointmens'' works''persons''cv'
    'lastest-appointments''works-count'
    'request-count';
    gap: 5px;
    flex-direction: column;
  }
}

.appointmens {
  grid-area: appointmens;
  grid-column: 1fr;
  grid-row: 1fr;

}
.works {
  grid-area: works;
  grid-column: 1fr;
  grid-row: 1fr;
}
.persons {
  grid-area: persons;
  grid-column: 1fr;
  grid-row: 1fr;

}
.cv {
  grid-area: cv;
  grid-column: 1fr;
  grid-row: 1fr;
}
.lastest-appointments {
  grid-area: lastest-appointments;
  grid-column: 1fr;

}
.works-count {
  grid-area: works-count;
  grid-column: 1fr;

}
.request-count {
  grid-area: request-count;
  grid-column: 1fr;

}

.item-grid {

    border-radius: 25px;
    /* background: #d9d9d9; */
    box-shadow: 5px 5px 8px #bbbbbb, -5px -5px 8px #f7f7f7;
}

.div5 {
    display: flex;
    flex-direction: column;
}

.comment-content {
    overflow-y: auto;
    overflow-x: hidden;
    /* height: fill-available; */
    max-height: 434px;

}

.header-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-grid img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.grid-tag {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
}

.font-tag {
    font-size: xx-large;
    line-height: 1;
    text-align: center;
}



.btn-add-job {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn-add-request {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn-view-appointment {
  position: absolute;
  right: 5px;
  top: 5px;
}


/* .item-grid,.item-grid div{
  height: 100%;
} */


/* scroll */

.comment-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    /* background-color: #F5F5F5; */
    border-radius: 10px;
}

.comment-content::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.comment-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top, #2ab0ed 0%, #bfe8f9 50%, /* #9fd8ef 51%, */
    #2ab0ed 100%);
}

.info-dashboard-container > span{
  display: flex;
  font-size: 1.5rem !important;
  margin-top: 10px;
}
