<!-- <h2 class="font-5xl font-facebook list-group-item-accent-warning pl-2 mt-2">Perfil de usuario</h2> -->

<!-- <div class="font pb-3">
    <div class="row m-0 rounded-fz bg-white shadow" *ngIf="user?.person">
        <div class="col-12 row img-background-profile m-0 p-2">
            <div class="col-md-3 col-12">
                <div class="text-center">
                    <img class="w-75 rounded-circle" [src]="user?.person?.photo?.permalink" alt="usuario">
                </div>
            </div>
            <div class="col-md-9 col-12 center justify-content-start">
                <h2 class="font-5xl font-weight-bold text-white">{{user!.person?.first_name}} {{user?.person.last_name}}</h2>
            </div>
        </div>
        <div class="col-12 card-columns">
            <div class="items card">
                <div class="text-center"><i class="far fa-address-card fa-4x"></i></div>
               <div>Numero de identificación</div>
               <mat-chip-set>
                   <mat-chip selected color="primary" class="text-uppercase">{{user?.person.identification_type}}: {{user?.person.identification_number}}</mat-chip>
               </mat-chip-set>
            </div>
             <div class="items card">
                <div class="text-center"><i class="fas fa-birthday-cake fa-4x"></i></div>
                <div>Fecha de nacimiento</div>
                <mat-chip-set>
                    <mat-chip selected color="primary">{{user?.person.birthday | date}}</mat-chip>
                </mat-chip-set>
             </div>
            <div class="items card">
                <div class="text-center"><i class="fas fa-envelope-open-text fa-4x"></i></div>
                <div>Correo electrónico</div>
                <mat-chip-set>
                    <mat-chip selected color="primary">{{user?.email}}</mat-chip>
                </mat-chip-set>
             </div>
             <div class="items card">
                <div class="text-center"><i class="fas fa-street-view fa-4x"></i></div>
                <div>Ubicación</div>
                <mat-chip-set>
                    <mat-chip selected color="primary">{{user?.person.location.name}}</mat-chip>
                </mat-chip-set>
             </div>
             <div class="items card">
                <div class="text-center"><i class="fas fa-users fa-4x"></i></div>
                <div>Posición</div>
                <mat-chip-set>
                    <mat-chip selected color="primary">{{user?.person.position.name}}</mat-chip>
                </mat-chip-set>
             </div>
             <div class="items card">
                <div class="text-center"><i class="fas fa-chess-rook fa-4x"></i></div>
                <div>Estado</div>
                <mat-chip-set>
                    <mat-chip selected color="primary">{{user?.person?.status}}</mat-chip>
                </mat-chip-set>
             </div>
        </div>
    </div>
</div> -->

<!-- <h1>{{}}</h1> -->
<div class="container">
  <div class="header-profile">
    <h2>Información de Usuario</h2>
    <h3>{{ user?.name || user?.person.first_name + " " + user?.person.last_name }}</h3>
  </div>
 <hr>
  <div class="row">
    <div class="col-md-8 col-12">
      <div [formGroup]="form" class="row">
        <h4 class="col-12 font-2xl fw-bold">Nombres:</h4>
        <mat-form-field class="col-md-6 col-12" appearance="outline">
          <mat-label>Nombres</mat-label>
          <input formControlName="first_name" matInput placeholder="Nombres" />
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12" appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input formControlName="last_name" matInput placeholder="Apellidos" />
        </mat-form-field>
        <h4 class="col-12 font-2xl fw-bold">Identificaciones:</h4>
        <mat-form-field class="col-md-6 col-12" appearance="outline">
          <mat-label>Tipo de identificación</mat-label>
          <mat-select formControlName="identification_type" placeholder="Seleccione un tipo de identificación">
            <mat-option *ngFor="let type_id of types_id | keyvalue" [value]="type_id.key">
              {{type_id.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12" appearance="outline">
          <mat-label>Número de identificación</mat-label>
          <input formControlName="identification_number" matInput placeholder="Escriba el numero" />
        </mat-form-field>
        <h4 class="col-12 font-2xl fw-bold">Fechas:</h4>
        <mat-form-field class="col-md-4 col-12" appearance="outline">
          <mat-label>Fecha de nacimiento</mat-label>
          <input formControlName="birthday" matInput [matDatepicker]="picker">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-12" appearance="outline">
          <mat-label>Fecha de inicio laboral</mat-label>
          <input formControlName="start_date" matInput [matDatepicker]="picker1">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <h4 class="col-12 font-2xl fw-bold">Mas información:</h4>
        <mat-form-field class="col-md-6 col-12" appearance="outline">
          <mat-label>Oficina / Local</mat-label>
          <mat-select formControlName="location_id" placeholder="Seleccione una oficina o local">
            <mat-option *ngFor="let location of locations | keyvalue" [value]="location.key">
              {{location.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12" appearance="outline">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="department_position_id" placeholder="Departamento">
            <mat-option *ngFor="let position of positions | keyvalue" [value]="position.key">
              {{position.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-12" appearance="outline">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sex" placeholder="Sexo">
            <mat-option *ngFor="let sex of sexes | keyvalue" [value]="sex.key">
              {{sex.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-12" appearance="outline">
          <mat-label>Ciudad</mat-label>
          <mat-select formControlName="city_id" placeholder="Seleccione una ciudad">
            <mat-option *ngFor="let city of cities | keyvalue" [value]="city.key">
              {{city.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-12">
          <button (click)="saveInServer()" [disabled]="isLoading" mat-raised-button color="primary">Guardar <i class="fa-regular fa-paper-plane"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 text-center">
      <div class="img-profile">
        <img [src]="user?.person?.photo.permalink" alt="">
      </div>
      <div>
        <ul class="font-2xl more-info">
          <li>
            <strong>Correo electrónico:</strong>
            <br> <span>{{user.email}}</span>
          </li>
          <li>
            <strong># Identificador:</strong>
            <br><span>{{user.id}}</span>
          </li>
          <li>
            <strong>Fecha de Creación:</strong>
            <br><span>{{user?.person.created_at | date:'medium'}}</span>
          </li>
          <li>
            <strong>Estado:</strong>
            <br><span>{{user?.person.status}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
