<ngx-search-bar-paginator
  placeholder="Buscador de importaciones"
  (data)="getData($event)"
  title="Importaciones"
  [path]="url"
>
<ng-container buttons>
  <mat-chip color="create" (click)="openDialogCreateOrEditImport()"><i class="fa-solid fa-plus"></i>&nbsp; Importación</mat-chip>
</ng-container>

<mat-card>
  <mat-card-content>
    <table class="w-100" mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> CÓDIGO </th>
        <td mat-cell *matCellDef="let row"> {{row.code}} </td>
      </ng-container>
  
      <ng-container matColumnDef="arrival_date">
        <th mat-header-cell *matHeaderCellDef> FECHA DE ARRIBO </th>
        <td mat-cell *matCellDef="let row"> {{row.arrival_date|date:'medium' }} </td>
      </ng-container>
  
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> CREADO </th>
        <td mat-cell *matCellDef="let row"> {{row.created_at|date:'medium'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
        <td mat-cell *matCellDef="let row"> 
          <div class="d-flex">
            <button class="btn-icon c-edit" *ngxPermissionsOnly="permissions.edit" (click)="openDialogCreateOrEditImport(row.id)"><i class="fa-solid fa-pen"></i></button>
            <button class="btn-icon c-delete" (click)="deleteData(row.id)" *ngxPermissionsOnly="permissions.destroy"><i class="fa-regular fa-trash-can"></i></button>
            <button class="btn-icon text-info" (click)="openDialogShowImport(row.id)" *ngxPermissionsOnly="permissions.index"><i class="fa-regular fa-eye"></i></button>
          </div>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </mat-card-content>
</mat-card>
</ngx-search-bar-paginator>
