<app-search-template-table
  [placeholder]="'Buscador de importaciones'"
  (data)="getData($event)"
  [title]="'Importaciones'"
  [url$]="url"
  >
  <ng-container menuBar>
        <mat-chip class="mat-orange ml-1" (click)="openDialogCreateOrEditImport()"><i class="fa-solid fa-plus"></i>&nbsp; Importación</mat-chip>
  </ng-container>
  

  <ng-container table>
    <table class="w-100" mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> CÓDIGO </th>
        <td mat-cell *matCellDef="let row"> {{row.code}} </td>
      </ng-container>

      <ng-container matColumnDef="arrival_date">
        <th mat-header-cell *matHeaderCellDef> FECHA DE ARRIBO </th>
        <td mat-cell *matCellDef="let row"> {{row.arrival_date|date:'medium' }} </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> CREADO </th>
        <td mat-cell *matCellDef="let row"> {{row.created_at|date:'medium'}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="note_plain_text">
        <th mat-header-cell *matHeaderCellDef> NOTA PLANA </th>
        <td mat-cell *matCellDef="let row"> {{row.note_plain_text}} </td>
      </ng-container> -->

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
        <td mat-cell *matCellDef="let row"> 
          <button *ngxPermissionsOnly="permissions.edit" color="primary" mat-icon-button (click)="openDialogCreateOrEditImport(row.id)"><i class="fa-solid fa-pen"></i></button>
          <button (click)="deleteData(row.id)" *ngxPermissionsOnly="permissions.destroy" color="warn" mat-icon-button><i class="fa-solid fa-trash"></i></button>
        </td>
      </ng-container>

      

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </ng-container>
  
</app-search-template-table>
