<div class="p-3">
  <div class="input-search">
    <input type="text" placeholder="Buscar contacto" [formControl]="formSearch">
    <button (click)="searchNow()"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
</div>
<ul class="px-2">
  <li (click)="openChatEmitFn(user.id)" class="item-chat" *ngFor="let user of users; trackBy:trackByUser">
    <div class="position-relative">
      <img class="photo-chat" [src]="user.person?.photo?.permalink || 'assets/img/user_group.png'" alt="img">
      <span *ngIf="user.connected" class="point-online-chat"></span>
    </div>
    <div class="info-chat">
      <div class="name-chat text-truncate">{{ user?.name }}</div>
    </div>
  </li>
</ul>