<div *ngIf="campaign" class="campaign pb-0 d-flex justify-content-between">
  <h3 class="mb-0">
    Campaña :
    <span class="text-muted">#{{ campaign.id }} {{ campaign.title }}</span>
  </h3>
  <small *ngIf="campaign.duration_type !== 'date_range'">
    Rango de Fechas:
    <span class="text-success">{{ campaign.duration_type | translatefz }}</span>
  </small>
  <small *ngIf="campaign?.duration_type === 'date_range'">
    De :
    <span class="text-muted mr-2">{{ campaign.start_date | date: "medium" }}</span>
    Hasta :
    <span class="text-muted">{{ campaign.end_date | date: "medium" }}</span>
  </small>
</div>

<ngx-search-bar-paginator
[title]="'Promociones'"
  (data)="getData($event)"
  placeholder="Buscador de promociones"
  [path]="url"
>
<ng-container buttons>
  <mat-chip-set *ngxPermissionsOnly="permissions.create">
    <mat-chip [routerLink]="['create']" color="create">
      <i class="fa-solid fa-plus"></i>
      Promoción
    </mat-chip>
    <mat-chip (click)="isOpenFile = !isOpenFile" selected color="primary" class="ml-2">
      <i class="fas fa-file-excel mr-1"></i>
      Importar por excel
    </mat-chip>
  </mat-chip-set>
</ng-container>

<mat-card>
    <mat-card-content>
      <table  class="w-100" mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Titulo</th>
          <td mat-cell *matCellDef="let row">{{ row.title }}</td>
        </ng-container>
        <ng-container matColumnDef="products">
          <th mat-header-cell *matHeaderCellDef>Productos</th>
          <td mat-cell style="max-width: 300px" *matCellDef="let row">
            <mat-list dense>
              <mat-list-item *ngFor="let product of row.products">
                <img matListItemAvatar width="50" [src]="product.image || 'assets/img/img_default_null.jpg'" />
                <div mat-line>
                  <span class="text-primary mr-1">{{ product.code }}</span>
                  {{ product.name }}
                </div>
                <div mat-line>
                  Cantidad:
                  <span class="text-primary">{{ product.pivot.quantity }}</span>
                </div>
                <div mat-line>
                  Precio:
                  <span class="text-primary">{{ product.pivot.price }}</span>
                </div>
              </mat-list-item>
            </mat-list>
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let row">{{ row.note }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let row">
            <span [class]="row.status" class="badge-fz">{{ row.status | translatefz }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Precio</th>
          <td mat-cell *matCellDef="let row">{{ row.price_formated | currency }}</td>
        </ng-container>
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Creado</th>
          <td mat-cell *matCellDef="let row">{{ row.created_at | date: "medium" }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <div class="d-flex">
              <button
                *ngxPermissionsOnly="permissions.edit"
                [routerLink]="['./', row.id, 'edit']"
                class="btn-icon c-edit">
                <i class="far fa-edit"></i>
              </button>
              <button class="btn-icon c-delete" *ngxPermissionsOnly="permissions.destroy" (click)="deleteData(row.id)">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </mat-card-content>
</mat-card>
</ngx-search-bar-paginator>


<div class="upload-file-promotions center" *ngIf="isOpenFile">
  <div class="col-md-6">
    <div class="attach-file mb-4 position-relative">
      <div class="container">
        <file-pond #myPond className="m-0 shadow" [options]="pondOptions"></file-pond>
      </div>
      <button mat-icon-button style="top: 0
      ;" class="btn-close" color="warn" (click)="isOpenFile = false">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
</div>
<!-- <app-search-template-table>
  <ng-container menuBar>
    <mat-chip-list *ngxPermissionsOnly="permissions.create">
      <mat-chip [routerLink]="['./create']" class="mat-orange ml-2">
        <mat-icon>add</mat-icon>
        promoción
      </mat-chip>
      <mat-chip (click)="isOpenFile = !isOpenFile" selected color="primary" class="ml-2">
        <i class="fas fa-file-excel mr-1"></i>
        Importar por excel
      </mat-chip>
    </mat-chip-list>
  </ng-container>
  <ng-container subheader>
    <div class="attach-file mb-4 position-relative" *ngIf="isOpenFile">
      <button mat-icon-button class="btn-close" color="warn" (click)="isOpenFile = false">
        <mat-icon>close</mat-icon>
      </button>
      <div class="container">
        <file-pond #myPond className="m-0 shadow" [options]="pondOptions"></file-pond>
      </div>
    </div>
  </ng-container>
  <ng-container table>
    <div class="table-container-promotions">
      <table  class="w-100" mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Titulo</th>
          <td mat-cell *matCellDef="let row">{{ row.title }}</td>
        </ng-container>
        <ng-container matColumnDef="products">
          <th mat-header-cell *matHeaderCellDef>Productos</th>
          <td mat-cell style="max-width: 300px" *matCellDef="let row">
            <mat-list dense>
              <mat-list-item *ngFor="let product of row.products">
                <img matListAvatar width="50" [src]="product.image || 'assets/img/img_default_null.jpg'" />
                <div mat-line>
                  <span class="text-primary mr-1">{{ product.code }}</span>
                  {{ product.name }}
                </div>
                <div mat-line>
                  Cantidad:
                  <span class="text-primary">{{ product.pivot.quantity }}</span>
                </div>
                <div mat-line>
                  Precio:
                  <span class="text-primary">{{ product.pivot.price }}</span>
                </div>
              </mat-list-item>
            </mat-list>
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let row">{{ row.note }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let row">
            <span [class]="row.status" class="badge-fz">{{ row.status | translatefz }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Precio</th>
          <td mat-cell *matCellDef="let row">{{ row.price_formated | currency }}</td>
        </ng-container>
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Creado</th>
          <td mat-cell *matCellDef="let row">{{ row.created_at | date: "medium" }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <button
              *ngxPermissionsOnly="permissions.edit"
              [routerLink]="['./', row.id, 'edit']"
              mat-icon-button
              color="primary"
              mat-icon-button>
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button *ngxPermissionsOnly="permissions.destroy" (click)="deleteData(row.id)" mat-icon-button color="warn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </ng-container>
</app-search-template-table> -->
