<div>
  <div>
    <h1 class="font-facebook font-4xl my-3">{{ title }}</h1>
  </div>
  <mat-card>
    <mat-card-content>
      <div>
        <h2 class="font-weight-bold text-muted">Datos del grupo</h2>
        <div>
          <span class="container-photo-group">
            <img [src]="base64OrUrl || 'assets/img/user_group.png'" alt="" />
            <span>
              <label for="edit-chat-group">
                <button class="btn-icon c-edit" style="pointer-events: none"><i class="fa-solid fa-pen"></i></button>
              </label>
              <input type="file" hidden id="edit-chat-group" (change)="uploadPhoto($event)" accept="image/*" />
            </span>
          </span>
          <span [formGroup]="form">
            <input class="text-group-chat-name" type="text" placeholder="Nombre del grupo" formControlName="name" />
          </span>
        </div>
      </div>
      <hr />
      <div>
        <h2 class="font-weight-bold text-muted">Participantes</h2>
        <div class="row">
          <div class="col-md-6">
            <div>
              <div class="mb-4">
                <input
                  placeholder="Buscador de participantes"
                  [formControl]="formSearch"
                  class="input-search-participant"
                  type="text" />
              </div>
              <div class="participant-container">
                <ng-container *ngFor="let user of users | keyvalue">
                  <div class="item-group" *ngIf="!participants.has(user.key)">
                    <div>
                      <img [src]="user.value.person?.photo?.permalink || imageUndefined" />
                    </div>
                    <div>
                      <div>{{ user.value.name }}</div>
                      <small>{{ user.value.email }}</small>
                    </div>
                    <div>
                      <button class="btn-icon btn-participant" (click)="addParticipant(user.key)">
                        <i class="fa-solid fa-plus"></i>
                        &nbsp; Agregar
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Participantes seleccionados</h3>
            <div>
              <div class="participant-container">
                <ng-container *ngFor="let participant of participants | keyvalue">
                  <div class="item-group">
                    <div>
                      <img [src]="participant.value.person?.photo?.permalink || imageUndefined" />
                    </div>
                    <div>
                      <div>{{ participant.value.name }}</div>
                      <small>{{ participant.value.email }}</small>
                    </div>
                    <div>
                      <button class="btn-icon btn-participant text-danger" (click)="removeParticipant(participant.key)">
                        <i class="fa-solid fa-xmark"></i>
                        &nbsp; Quitar
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button (click)="saveInServer()" color="primary" mat-raised-button>
          Guardar
          <i class="fa-regular fa-paper-plane"></i>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- <div class="row">
        <ng-template matStepLabel>Seleccionador de usuarios</ng-template>
        <div class="col-md-6">
          <div class="search-container">
            <input (keydown.enter)="searchUser()" class="input-search" placeholder="Buscador de Usuario"
              [(ngModel)]="searchText" name="search">
            <button class="btn-search" matSuffix (click)="searchUser()" mat-mini-fab>
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <mat-card class="rounded-fz shadow">

            <mat-selection-list *ngIf="!isLoading && users.size > 0; else loaderTemplate" [multiple]="false">
              <mat-list-option [disabled]="usersSelect.has(user.key)" (click)="addUser(user.key)" [value]="user.key"
                *ngFor="let user of users | keyvalue">
                <div class="d-flex align-items-center">
                  <img class="photo-user" [src]="getPhoto(user.value?.person?.photo?.permalink)" />
                  &nbsp; {{user.value?.name}}
                </div>
              </mat-list-option>
            </mat-selection-list>
            <ng-template #loaderTemplate>
              <div class="text-center" *ngIf="users.size <= 0 && !isLoading">
                <p class="font-3xl text-muted">Sin datos de usuarios</p>
                <div class="w-100">
                  <img class="w-50" src="assets/img/respuesta_vacia.svg" alt="">
                </div>
              </div>
              <p *ngIf="isLoading" class="parpadeo font-2xl p-3 text-muted">
                Cargando espere...
              </p>
            </ng-template>
          </mat-card>
        </div>
        <div class="col-md-6">
          <h2 class="font-facebook font-2xl">Usuarios seleccionados</h2>
          <div class="text-danger" *ngIf="usersSelect.size < 2">Debe seleccionar por lo menos dos integrantes</div>
          <mat-card *ngIf="usersSelect.size > 0" class="rounded-fz shadow">
            <mat-selection-list [multiple]="false">
              <mat-list-option [value]="user.key" *ngFor="let user of usersSelect | keyvalue">
                <div class="d-flex align-items-center justify-content-between">
                  <span>
                    <img class="photo-user" [src]="getPhoto(user.value?.person?.photo?.permalink)" />
                    &nbsp; {{user.value?.name}}
                  </span>
                  <span>
                    <mat-checkbox [(ngModel)]="user.value.isAdmin" color="primary"><small>Hacer admin</small>
                    </mat-checkbox>
                    <button color="warn" mat-icon-button (click)="removeUser(user.key)">
                      <mat-icon>close</mat-icon>
                    </button>
                  </span>
                </div>
              </mat-list-option>
            </mat-selection-list>
            <div>
              <button mat-raised-button [disabled]="usersSelect.size  < 2" matStepperNext color="primary"
                class="my-2">Siguiente <mat-icon>arrow_forward</mat-icon></button>
            </div>
          </mat-card>
        </div>
      </div> -->

  <!-- <ng-template matStepLabel>Datos del Grupo</ng-template>
      <div class="container text-center">
        <div>
          <div *ngIf="img?.base64" class="position-relative">
            <span class="file-img">
              <label for="file">
                <span class="btn-primary rounded-circle p-2 center">
                  <mat-icon>edit</mat-icon>
                </span>
              </label>
              <input id="file" (change)="getBase64($event)" type="file" class="d-none" name="file">
            </span>
            <button (click)="removeImg()" *ngIf="img.file" class="position-absolute" color="warn" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
            <img [src]="img?.base64" class="img rounded-circle">
          </div>
        </div>
        <mat-form-field class="col-md-8 col-12">
          <input [(ngModel)]="nameGroup" matInput placeholder="Ingrese el nombre del grupo" required>
        </mat-form-field>
      </div>

      <div class="my-2">
        <button mat-raised-button matStepperPrevious color="accent">
          <mat-icon>arrow_back</mat-icon> Atras
        </button>
        <button mat-raised-button color="primary" [disabled]="isLoading" (click)="saveInServer()">Guardar</button>
      </div> -->
</div>
