#map {
    /* position: absolute; */
    /* top: 0;
    bottom: 0; */
    width: 100% !important;
    height: 400px !important;
    /* text-align: end */
}

.coordinate {
    position: absolute;
    top: 10px;
    left: 10px;
}

.block-map {
  left: 0;
  z-index: 1;
    background-color: rgba(144, 145, 147, 0.442);
}

input[type=time]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* display: none; */
}
input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    /* display: none; */
}

input[type=time]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    /* display: none; */
}

input[type=time]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 11px;
    padding: 5px;
    width: 90%;
    background: #fff;
    color: #000;
    font-size: 18px;
    position: relative;
}

/* input[type=time]::-webkit-datetime-edit-hour-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 19px 13px;
  }

  input[type=time]::-webkit-datetime-edit-minute-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 19px 13px;
  } */

.suffix-fill  button {
    /* content: "ml"; */
    position: absolute;
    top: 0px;
    right: 27px;
    /* transform: translateY(-50%); */
    /* width: 0;
    height: 0; */
    /* border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc; */
}

td{
    vertical-align: middle;
}