<div class="mt-4">
  <h2 class="font-4xl d-flex align-items-center font-weight-bold d-inline-block">
    <button mat-mini-fab (click)="goBack()" class="mb-2">
      <mat-icon>keyboard_return</mat-icon>
    </button>
    <span>&nbsp;{{ title }}</span>
  </h2>
  <mat-card>
    <mat-card-content>
      <div class="row" [formGroup]="formLocation">
        <div class="col-md-6">
          <div class="row m-0">
            <mat-form-field class="w-100">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" type="text" required />
              <mat-error *ngIf="formLocation.controls['name'].invalid">Nombre Requerido</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Dirección</mat-label>
              <input type="address" matInput formControlName="address" required />
              <mat-error *ngIf="formLocation.controls['address'].invalid">Dirección requerida</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Seleccione una Compañía</mat-label>
              <mat-select formControlName="company" required>
                <mat-option *ngFor="let company of companies" [value]="company.id">
                  {{ company.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formLocation.controls['company'].invalid">Compañía requerida</mat-error>
            </mat-form-field>
            <div class="row w-100">
              <mat-form-field class="col-md-6">
                <mat-label>Seleccione una ciudad</mat-label>
                <mat-select formControlName="city" required>
                  <mat-option *ngFor="let keyCity of keyCities" [value]="keyCity">
                    {{ cities[keyCity] }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formLocation.controls['city'].invalid">Cuidad Requerido</mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-6">
                <mat-label>Seleccione un tipo</mat-label>
                <mat-select (selectionChange)="selectionType($event)" formControlName="type" required>
                  <mat-option *ngFor="let keyType of keyTypes" [value]="keyType">
                    {{ types[keyType] }}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="formLocation.controls['type'].invalid">Tipo Requerido</mat-error> -->
                <mat-error *ngIf="formLocation.controls['type'].errors?.invalidStore">
                  Se requiere que complete con un horario valido
                </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field class="w-100">
              <mat-label>Seleccione un estado</mat-label>
              <mat-select formControlName="status" required>
                <mat-option value="active">Activo</mat-option>
                <mat-option value="inactive">Inactivo</mat-option>
              </mat-select>
              <mat-error *ngIf="formLocation.controls['status'].invalid">Estado Requerido</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Latitud</mat-label>
              <input matInput formControlName="latitude" type="number" />
              <mat-error *ngIf="formLocation.controls['latitude'].invalid">Latitud Requerido</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Longitud</mat-label>
              <input type="number" matInput formControlName="longitude" />
              <mat-error *ngIf="formLocation.controls['longitude'].invalid">Longitud requerida</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="formLocation.get('type').value == 'store'" class="col-md-6">
          <!-- <div class="col-md-6"> -->
          <h3 class="font-4xl m-0 p-2">Horario</h3>
          <div class="p-2 rounded-fz shadow">
            <table class="table-borderless table table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Hora de apertura</th>
                  <th>Hora de cierre</th>
                </tr>
              </thead>
              <tbody>
                <tr [formGroup]="formSchedules.get('monday')">
                  <td>Lunes</td>
                  <td>
                    <mat-slide-toggle formControlName="status" color="primary"  #monday >
                      {{ monday.checked ? 'Abierto' : 'Cerrado' }}
                    </mat-slide-toggle>
                  </td>
                  <ng-container *ngIf="monday.checked">
                    <td>
                        <input placeholder="Hora de apertura" matInput formControlName="start" type="time" />
                    </td>
                    <td class="position-relative">
                        <div class="suffix-fill">
                          <input matInput formControlName="end" type="time" />
                          <button
                            mat-icon-button
                            (click)="autofillSchedules(formSchedules.get('monday').value)">
                            <mat-icon>published_with_changes</mat-icon>
                          </button>
                        </div>
                    </td>
                  </ng-container>
                </tr>
                <tr [formGroup]="formSchedules.get('tuesday')">
                  <td>Martes</td>
                  <td>
                    <mat-slide-toggle formControlName="status" color="primary"  #tuesday >
                      {{ tuesday.checked ? 'Abierto' : 'Cerrado' }}
                    </mat-slide-toggle>
                  </td>
                  <ng-container *ngIf="tuesday.checked">
                    <td>
                        <input matInput formControlName="start" type="time" />
                    </td>
                    <td>
                        <input matInput formControlName="end" type="time" />
                    </td>
                  </ng-container>
                </tr>
                <tr [formGroup]="formSchedules.get('wednesday')">
                  <td>Miércoles</td>
                  <td>
                    <mat-slide-toggle formControlName="status" color="primary"  #wednesday>
                      {{ wednesday.checked ? 'Abierto' : 'Cerrado' }}
                    </mat-slide-toggle>
                  </td>
                  <ng-container *ngIf="wednesday.checked">
                    <td>
                        <input matInput formControlName="start" type="time" />
                    </td>
                    <td>
                        <input matInput formControlName="end" type="time" />
                    </td>
                  </ng-container>
                </tr>
                <tr [formGroup]="formSchedules.get('thursday')">
                  <td>Jueves</td>
                  <td>
                    <mat-slide-toggle formControlName="status" color="primary"  #thursday >
                      {{ thursday.checked ? 'Abierto' : 'Cerrado' }}
                    </mat-slide-toggle>
                  </td>
                  <ng-container *ngIf="thursday.checked">
                    <td>
                        <input matInput formControlName="start" type="time" />
                    </td>
                    <td>
                        <input matInput formControlName="end" type="time" />
                    </td>
                  </ng-container>
                </tr>
                <tr [formGroup]="formSchedules.get('friday')">
                  <td>Viernes</td>
                  <td>
                    <mat-slide-toggle formControlName="status" color="primary"  #friday >
                      {{ friday.checked ? 'Abierto' : 'Cerrado' }}
                    </mat-slide-toggle>
                  </td>
                  <ng-container *ngIf="friday.checked">
                    <td>
                        <input matInput formControlName="start" type="time" />
                    </td>
                    <td>
                        <input matInput formControlName="end" type="time" />
                    </td>
                  </ng-container>
                </tr>
                <tr [formGroup]="formSchedules.get('saturday')">
                  <td>Sábado</td>
                  <td>
                    <mat-slide-toggle formControlName="status" color="primary"  #saturday >
                      {{ saturday.checked ? 'Abierto' : 'Cerrado' }}
                    </mat-slide-toggle>
                  </td>
                  <ng-container *ngIf="saturday.checked">
                    <td>
                        <input matInput formControlName="start" type="time" />
                    </td>
                    <td>
                        <input matInput formControlName="end" type="time" />
                    </td>
                  </ng-container>
                </tr>
                <tr [formGroup]="formSchedules.get('sunday')">
                  <td>Domingo</td>
                  <td>
                    <mat-slide-toggle formControlName="status" color="primary"  #sunday >
                      {{ sunday.checked ? 'Abierto' : 'Cerrado' }}
                    </mat-slide-toggle>
                  </td>
                  <ng-container *ngIf="sunday.checked">
                    <td>
                        <input matInput formControlName="start" type="time" />
                    </td>
                    <td>
                        <input matInput formControlName="end" type="time" />
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative w-100 container p-0 shadow-lg rounded-lg mb-3">
            <div #mapElement id="map"></div>
            <div class="coordinate px-md-5 px-1">
              Longitud : {{ coordinate?.longitud }}
              <br />
              Latitud : {{ coordinate?.latitud }}
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <button mat-raised-button [disabled]="isLoadServer" color="primary" (click)="saveInServer()">
            Guardar localidad
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
