<div style="max-width: 700px">
  <h2 class="font-4xl font-weight-bold">{{ title }}</h2>
  <p *ngIf="externalData.product" class="font-2xl text-muted">{{ externalData.product.name }}</p>
  <form [formGroup]="form">
    <table class="table inputs-group text-center">
      <thead class="text-muted text-uppercase">
        <tr>
          <th>Grupo Precio</th>
          <th>Antes de impuestos</th>
          <th>Después de impuestos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of pricesGroups">
          <td class="text-muted">
            <span>{{ "Precio " + group.name }}</span>
          </td>
          <td>
            <span>
              <input
                autocomplete="off"
                matInput
                type="number"
                [placeholder]="'Precio ' + group.name"
                (keyup)="addOrRemoveTax(group.id)"
                [formControlName]="'price_group_' + group.id" />
            </span>
          </td>
          <td>
            <span>
              <input
                autocomplete="off"
                matInput
                type="number"
                [placeholder]="'Precio ' + group.name"
                (keyup)="addOrRemoveTax(group.id, true)"
                [formControlName]="'tax_price_group_' + group.id" />
            </span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="text-uppercase text-info">Importación</td>
          <td>
            <input
              readonly="true"
              matInput
              type="text"
              placeholder="Importación"
              formControlName="import_code" />
          </td>
          <td>
            <button type="button" (click)="openCreateImportDialog()" color="primary" mat-icon-button><i class="fa-solid fa-plus"></i></button>
            <button type="button" (click)="openSearchImportDialog()" color="accent" mat-icon-button><i class="fa-solid fa-magnifying-glass"></i></button>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="col-12">
      <button type="button" [disabled]="isLoading" (click)="close()" mat-button color="warn" class="mr-2">
        Cerrar
        <i class="fa-solid fa-xmark"></i>
      </button>
      <button mat-button color="primary" (click)="saveInServer()" [disabled]="isLoading">
        Guardar
        <i class="fa-regular fa-floppy-disk"></i>
      </button>
    </div>
  </form>
</div>
