<h2 class="font-facebook font-5xl">Cambiar este producto</h2>
<mat-card-title color="primary" style="display: flex;" class="row m-0">
    <div class="col-sm-12 col-md-12">
        <span class="mr-1" style="color:#f44336; font-weight: bold;">#{{data.ml.id}}</span>{{data.ml.name}}
    </div>
</mat-card-title>
<app-header-search [url]="'catalogs/products'" (products)="getProducts($event)"></app-header-search>
<mat-dialog-content>
    <mat-card class="my-2" *ngFor="let p of products;index as ind">
        <mat-card-header class="d-block mat-card-header-m-0">
            <mat-card-title style="display: flex;" class="row m-0">
                <div class="col-sm-12 col-md-12">
                    <span class="mr-1" style="color:#f44336; font-weight: bold;">#{{p.id}}</span>{{p.name}}
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row m-0">
                <div class="col-md-9 d-flex align-items-center">
                    <div>
                        <small class="text-muted font-sm">
                            Tipo: <b>{{p.prefix?.type}}</b> -
                            Código: <b>{{p.code}}</b> -
                            Código Alternativo: <b>{{p.code_alt}}</b> -
                            Categoria: <b>{{p.category?.name}}</b> -
                            Marca: <b>{{p.brand?.name}}</b> -
                            Secuencia: <b>{{p.sequence?.sequence_number}}</b><br>
                        </small>
                        <button class="mt-2" mat-raised-button color="primary" (click)="changeProduct(ind)">Cambiar a este producto</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="w-100" [src]="captureImagenProduct(ind)" alt="">
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<div mat-dialog-actions>
    <!-- <button mat-button (click)="changeProduct(ind)" cdkFocusInitial color="primary">Guardar</button> -->
    <button mat-button mat-dialog-close color="warn">Cancelar</button>
</div>
