
<!-- <textarea  id="code" >
  st=>start: Start:>http://www.google.com[blank]
e=>end:>http://www.google.com
op1=>operation: My Operation
sub1=>subroutine: My Subroutine
cond=>condition: Yes
or No?:>http://www.google.com
io=>inputoutput: catch something...
para=>parallel: parallel tasks

st->op1->cond
cond(yes)->io->e
cond(no)->para
para(path1, bottom)->sub1(right)->op1
para(path2, top)->op1
</textarea>

<div id="canvas"></div> -->

<div class="d-flex">
  <div  class="center" *ngFor="let status of statuses | keyvalue;let i = index">
    <div [ngClass]="{'active': status.value.enabled}" [class]="status.key" class="node">{{i + ":" + status.value.name}}</div>
    <div *ngIf="i < 4" class="arrow">
    </div>
  </div>
</div>
