
<!-- <textarea  id="code" >
  st=>start: Start:>http://www.google.com[blank]
e=>end:>http://www.google.com
op1=>operation: My Operation
sub1=>subroutine: My Subroutine
cond=>condition: Yes
or No?:>http://www.google.com
io=>inputoutput: catch something...
para=>parallel: parallel tasks

st->op1->cond
cond(yes)->io->e
cond(no)->para
para(path1, bottom)->sub1(right)->op1
para(path2, top)->op1
</textarea>

<div id="canvas"></div> -->

<div class="center overflow-auto">
  <ng-container *ngFor="let status of statuses;let i = index">
    <div  class="center">
      <div [ngClass]="{'active': status.enabled}" [class]="status.type" class="node">{{status.name}}</div>
    </div>
    <div *ngIf="i < statuses.length - 1" class="arrow">
    </div>
  </ng-container>
</div>
