<app-search-template [url$]="url" (data)="getData($event)">
    <ng-container data>
        <mat-card class="rounded-fz border-0 card shadow" *ngFor="let priceGroup of data | keyvalue">
            <mat-card-header>
                <mat-card-title>{{priceGroup.value?.name}}</mat-card-title>
                <mat-card-subtitle>{{priceGroup.value.created_at | date}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <img matCardImage src="Card wide image source"> -->
            <mat-card-content>
                <mat-chip-list>
                    <mat-chip selected>Tipo: {{priceGroup.value?.type}}</mat-chip>
                    <mat-chip *ngIf="priceGroup.value?.active" selected>Activo</mat-chip>
                    <mat-chip *ngIf="priceGroup.value?.required" selected>Requerido</mat-chip>
                </mat-chip-list> 
                <h2 class="font-facebook m-0">Roles</h2>
                    <mat-chip-list>
                        <mat-chip *ngFor="let rol of priceGroup.value?.roles">{{rol.title}}</mat-chip>
                    </mat-chip-list>
            </mat-card-content>
            <mat-card-actions align="start">
                <!-- <button mat-button (click)="onAction1">Action1</button> -->
                <button mat-mini-fab [routerLink]="['./', priceGroup.key, 'edit']"><mat-icon>edit</mat-icon></button>
                <button mat-mini-fab color="warn" (click)="deleteData(priceGroup.key)"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
    <ng-container menuBar>
            <mat-chip [routerLink]="['./create']"  class="ml-1"><mat-icon>add</mat-icon></mat-chip>
    </ng-container>
</app-search-template>