<div class="mt-3">
  <h1 class="font-4xl font-bold my-3">{{ title }}</h1>
  <mat-card class="rounded-fz shadow-sm">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="saveInServer()">
        <mat-form-field class="w-full" appearance="outline">
          <input matInput placeholder="Titulo" formControlName="title" />
        </mat-form-field>
        <div>
          <button color="accent" class="mb-2" mat-raised-button type="button" (click)="expandQuillEditor()">
            Expandir editor de texto
            <i class="fa-solid fa-expand"></i>
          </button>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Todas los roles</mat-label>
          <mat-select type="text" #select_warehouse formControlName="roles" multiple>
            <mat-select-trigger>
              <mat-chip-set>
                <mat-chip (removed)="removeRol(_rol)" *ngFor="let _rol of form.get('roles')?.value" [removable]="true">
                  {{ getNameRol(_rol) }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-set>
            </mat-select-trigger>
            <mat-option *ngFor="let rol of roles" [value]="rol.id">
              {{ rol.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> 
        <button [disabled]="form.invalid" type="submit" mat-raised-button>Guardar</button>
      </form>
    </mat-card-content>
  </mat-card>
  <button mat-fab class="quill-expand-btn" type="button" *ngIf="expandQuill" (click)="expandQuillEditor()">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
