<div class="d-flex justify-content-between my-3">
  <h2 class="font-weight-bold font-4xl ">Editando order #{{id}} <br><small class="bg-blue p-1 px-2 rounded text-value-sm text-white">{{order?.seller_code}}</small></h2>
  <div class="">Estado: <span class="badge {{order?.status}} font-lg bg-secondary">{{order?.status | translatefz:
      'orders'}}</span>
  </div>
  <span>{{order?.company.name}}</span>
</div>

<div class="pb-5">
  <div class="grid-header mb-2">
    <mat-card>
      <div class="d-flex align-items-center justify-content-between">
        <h3 class="font-weight-bold font-2xl my-1">Cliente</h3>
        <div *ngIf="order?.status !='cancelled'">
          <button color="primary" mat-icon-button [routerLink]="['/system-orders/clients/create']">
            <mat-icon>add</mat-icon>
          </button>
          <button color="accent" mat-icon-button [routerLink]="['/system-orders/clients', order?.client_id, 'edit']">
            <mat-icon>edit</mat-icon>
          </button>
          <button color="primary" mat-icon-button (click)="openSelectClient()">
            <mat-icon>sync</mat-icon>
          </button>
        </div>
      </div>
      <table>
        <tbody>
          <tr>
            <td>Nombres:</td>
            <td>{{order?.client?.first_name}} {{order?.client.last_name}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{order?.client?.email}}</td>
          </tr>
          <tr>
            <td>Teléfono:</td>
            <td>{{order?.client?.phone}}</td>
          </tr>
          <tr>
            <td>País:</td>
            <td>{{order?.client?.country}}</td>
          </tr>
          <tr>
            <td>Dirección:</td>
            <td>{{order?.client?.state}} {{ order?.client.city}}</td>
          </tr>
          <tr>
            <td>Tipo de Documento:</td>
            <td>{{order?.client?.doc_type}}</td>
          </tr>
          <tr>
            <td>Documento:</td>
            <td>{{order?.client?.doc_id}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card>
    <mat-card>
      <div class="d-flex align-items-center justify-content-between">
        <h3 class="font-weight-bold font-2xl my-1">Dirección de envío</h3>
        <div *ngIf="order?.status !='cancelled'">

          <button color="accent" mat-icon-button (click)="addClientAddress(order.shipping_address.address_id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button color="primary" mat-icon-button (click)="openDialogAddress()">
            <mat-icon>sync</mat-icon>
          </button>

        </div>
      </div>
      <table>
        <tbody>
          <tr>
            <td>Nombres que recibe:</td>
            <td>{{order?.shipping_address?.first_name }} {{order?.shipping_address.last_name}}</td>
          </tr>
          <tr>
            <td>Estado o provincia:</td>
            <td>{{order?.shipping_address?.state}}</td>
          </tr>
          <tr>
            <td>Cuidad:</td>
            <td>{{order?.shipping_address?.city}}</td>
          </tr>
          <tr>
            <td>Vecindario:</td>
            <td>{{order?.shipping_address?.neighborhood}} <span *ngIf="!order?.shipping_address?.neighborhood"
                class="badge bg-warning">Vacío</span>
            </td>
          </tr>
          <tr>
            <td>Numero</td>
            <td>{{order?.shipping_address?.number}} <span *ngIf="!order?.shipping_address?.number"
                class="badge bg-warning">Vacío</span></td>
          </tr>
          <tr>
            <td>Código postal:</td>
            <td>{{order?.shipping_address?.zip_code}} <span *ngIf="!order?.shipping_address?.zip_code"
                class="badge bg-warning">vacío</span></td>
          </tr>
          <tr>
            <td>Calle:</td>
            <td>{{order?.shipping_address?.street}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
  <div>
    <h3 class="font-4xl text-center mt-4">Estados</h3>
    <app-state-flow-order [statuses]="statuses"></app-state-flow-order>
  </div>


  <mat-card class="mt-3">
    <div class="d-flex justify-content-between align-items-center my-2">
      <h3 class="font-weight-bold font-2xl my-1">Gestionables</h3>
    </div>

    <mat-accordion #accordion2 class="example-headers-align" multi>
      <mat-expansion-panel *ngxPermissionsOnly="permissionsProducts.index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Productos
          </mat-panel-title>
          <mat-panel-description>
            <span class="d-md-inline-block d-none">Gestionar productos de la orden </span>
            <span class="center">
              <span class="badge bg-warning font-lg mr-1">{{items?.size || 0}}</span>
              <mat-icon>
                precision_manufacturing</mat-icon>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-add-products-order [isCancelled]="order?.status == 'cancelled'" (changeOrder)="getOrder()" [items]="items"
          [order]="order"></app-add-products-order>
      </mat-expansion-panel>

      <mat-expansion-panel *ngxPermissionsOnly="permissionsShipping.index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Envíos
          </mat-panel-title>
          <mat-panel-description>
            <span class="d-md-inline-block d-none">Gestionar envíos de la orden</span>
            <span class="center">
              <span class="badge bg-warning font-lg mr-1">{{order?.shippings?.length || 0}}</span>
              <mat-icon>
                local_shipping</mat-icon>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-shippings [isCancelled]="order?.status == 'cancelled'" (change)="getOrder()" [client]="order?.client"
          [shipping_address]="order?.shipping_address" [order_id]="order?.id" [shippings]="order?.shippings">
        </app-shippings>

      </mat-expansion-panel>

      <mat-expansion-panel *ngxPermissionsOnly="permissionsPayments.index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pagos
          </mat-panel-title>
          <mat-panel-description>
            <span class="d-md-inline-block d-none">Agregar, editar o eliminar pagos de la orden</span>
            <span class="center">
              <span class="badge bg-warning font-lg mr-1">{{paymentsMap?.size || 0}}</span>
              <mat-icon>
                attach_money</mat-icon>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-payment-order [isCancelled]="order?.status == 'cancelled'" (change)="getOrder()" [order_id]="order?.id"
          [payments]="order?.payments">
        </app-payment-order>

      </mat-expansion-panel>
      <mat-expansion-panel *ngxPermissionsOnly="permissionsTaxAndDiscounts.index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Impuestos Retenciones y Descuentos
          </mat-panel-title>
          <mat-panel-description>
            <span class="d-md-inline-block d-none">Agregar, editar o eliminar descuentos e impuestos de la orden</span>
            <span class="center">
              <span class="badge bg-warning font-lg mr-1">{{discountsAndTaxes?.size || 0}}</span>
              <mat-icon>
                discount</mat-icon>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-discount-tax-order [isCancelled]="order?.status == 'cancelled'" (change)="getOrder()"
          [order_id]="order?.id" [discountsAndTaxes]="discountsAndTaxes">
        </app-discount-tax-order>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <mat-card class="mt-3">
    <div class="d-flex justify-content-between align-items-center my-2">
      <h3 class="font-weight-bold font-2xl my-1">Sincronización MBA</h3>
    </div>

    <mat-accordion #accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngxPermissionsOnly="permissionsTransfers.index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Transferencias
          </mat-panel-title>
          <mat-panel-description>
            <span class="d-md-inline-block d-none">Agregar o eliminar transferencias de la orden</span>
            <span class="center">
              <span class="badge bg-warning font-lg mr-1">{{order?.transfers?.length || 0}}</span>
              <mat-icon>
                move_up</mat-icon>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-transference-order [isCancelled]="order?.status == 'cancelled'" (changeOrder)="getOrder()"
          [order_id]="order?.id" [transfers]="order?.transfers">
        </app-transference-order>
      </mat-expansion-panel>

      <mat-expansion-panel *ngxPermissionsOnly="permissionsAnticipe.index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Anticipos (pagos o cobros) MBA
          </mat-panel-title>
          <mat-panel-description>
            <span class="d-md-inline-block d-none">Agregar o eliminar Pagos MBA de la orden</span>
            <span class="center">
              <span class="badge bg-warning font-lg mr-1">{{order?.mba_payments?.length || 0}}</span>
              <mat-icon>
                receipt</mat-icon>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-custom-template-only-input [permissions]="permissionsAnticipe"  (changeOrder)="getOrder()" path="system-orders/orders/{{order?.id}}/mba-payments" [title]="'Anticipos (pagos o cobros) MBA'"
          placeholder="Escriba el código de pago" [isCancelled]="order?.status == 'cancelled'">
          <div class="row mt-2" items>
           <app-payment-mba-item class="col-md-4" *ngFor="let payment of order?.mba_payments" [item]="payment" [isCancelled]="order?.status == 'cancelled'"
            (changeOrder)="getOrder()" [order_id]="order?.id"></app-payment-mba-item>
          </div>
        </app-custom-template-only-input>
      </mat-expansion-panel>

      <mat-expansion-panel *ngxPermissionsOnly="permissionsInvoices.index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Facturas
          </mat-panel-title>
          <mat-panel-description>
            <span class="d-md-inline-block d-none">Agregar o eliminar facturas de la orden</span>
            <span class="center">
              <span class="badge bg-warning font-lg mr-1">{{order?.invoices?.length || 0}}</span>
              <mat-icon>
                receipt</mat-icon>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-invoices-order [isCancelled]="order?.status == 'cancelled'" (changeOrder)="getOrder()"
          [invoices]="order?.invoices" [order_id]="order?.id">
        </app-invoices-order>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  <div class="totals rounded-fz" cdkDrag>
    <mat-card class="center p-0 px-3">
      <div>
        <div class="section-order">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class=" font-weight-bold m-0">Totales <span [hidden]="!hideTotals">:
                ${{order?.total}}</span></h3>
            <div class="center" style="cursor: grab;">
              <button mat-icon-button (click)="hideTotals = !hideTotals">
                <mat-icon>unfold_more</mat-icon>
              </button>
              <div class="example-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
            </div>
          </div>
          <div [hidden]="hideTotals">
            <table>
              <tbody class="text-uppercase">
                <tr>
                  <td>Subtotal:&nbsp;</td>
                  <td>$ {{order?.subtotal}}</td>
                </tr>
                <tr>
                  <td>Descuento:&nbsp;</td>
                  <td>$ {{order?.discount}}</td>
                </tr>
                <tr>
                  <td>Impuestos:&nbsp;</td>
                  <td>$ {{order?.tax}}</td>
                </tr>
                <tr>
                  <td>Costo de envío:&nbsp;</td>
                  <td>$ {{order?.shipping}}</td>
                </tr>
                <tr>
                  <td>Total:&nbsp;</td>
                  <td>$ {{order?.total}}</td>
                </tr>
                <tr>
                  <td>Total pagado:&nbsp;</td>
                  <td>$ {{order?.total_paid}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="btn-created-order">
  <button *ngIf="order?.status != 'cancelled'" [disabled]="isPublishing" mat-raised-button
    (click)="changeStatusPublish()">{{order?.status == 'init' ? 'Publicar y enviar correos electrónicos': 'Reenviar
    correos electrónicos'}}</button>
  <button *ngIf="order?.status == 'init'" [disabled]="isPublishing" color="warn" mat-raised-button
    (click)="deleteOrder()" class="mr-1">Cancelar orden<mat-icon>delete</mat-icon></button>
</div>
