<h1 matDialogTitle class="font-weight-bold m-0">Productos del envió</h1>

<mat-dialog-content>
  <div class="row m-0">
    <div [ngClass]="{'border-right col-md-6': dataExterna.isModify}" class="border-right col-md-6 col-12 grid-shipping">
      <div class="sticky-top">
        <h3>Productos Seleccionados</h3>
        <div>
          <mat-card class="my-2" *ngFor="let product of productsSelected|keyvalue">
            <p>{{product.value?.product.name}}</p>
            <p>Codigo: {{product.value?.product.code}}</p>
            <p>Cantidad: {{product.value.quantity}}</p>
            <ng-container *ngIf="dataExterna.isModify">
              <div class="center">
                <div class="container-quantity">
                  <button (click)="inputQuantity.stepDown()" class="btn-sub">-</button>
                  <input #inputQuantity [value]="product.value.quantity" class="input-quantity" min="1" type="number"
                    name="" id="">
                  <button (click)="inputQuantity.stepUp()" class="btn-add">+</button>
                </div>
                &nbsp;
                <button [disabled]="inputQuantity.value < 1 || isLoadingSelected"
                  (click)="modifyProductsQuantity(product.value.id, product.key, inputQuantity.value)" class=""
                  color="warning" mat-raised-button>Actualizar</button>
              </div>
              <div>
                <button [disabled]="isLoadingSelected" color="warn" mat-icon-button
                  (click)="deleteProductsQuantity(product.value.id, product.key)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
            </ng-container>
          </mat-card>
        </div>
      </div>
    </div>
    <div *ngIf="dataExterna.isModify" class="col-md-6 col-12">
      <div>
        <h3>Productos Disponibles</h3>
        <div>
          <mat-card class="my-2" *ngFor="let product of products">
            <p>{{product?.name}}</p>
            <p>Codigo: {{product.code}}</p>
            <p>Disponible en orden: {{product.quantity_remaining}}</p>
            <div>
              <div class="container-quantity">
                <button (click)="inputQuantity.stepDown()" class="btn-sub">-</button>
                <input (keydown)="validateMinMaxRangeQuantity($event, product.quantity_remaining)" #inputQuantity
                  class="input-quantity" min="0" [max]="product.quantity_remaining" type="number"
                  [value]="product.quantity_remaining">
                <button (click)="inputQuantity.stepUp()" class="btn-add">+</button>
              </div>
            </div>
            <button [disabled]="inputQuantity.value < 1" (click)="addProductShipping(product.id, inputQuantity.value)"
              class="mt-2" [color]="productsSelected.has(product.id)? 'info' :'warning'" mat-raised-button>{{
              productsSelected.has(product.id) ? 'Sumar a la cantidad' :'Agregar este producto'}}</button>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [disabled]="isLoading" color="warn" matDialogClose>Cerrar</button>
</mat-dialog-actions>
