ul {
    list-style-type: none;
    margin-top: 4px;
}

.btn-close {
    right: 23px;
    top: -16px;
}

.input-search {
    height: 40px;
    padding: 0px 20px;
    font-family: segoe ui;
    font-size: 23px;
    outline: none;
    border: gray solid 1px;
}
