<div>
  <button [routerLink]="['/administracion-sistema/personas/create']"  mat-raised-button class="btn-add-person mat-orange"><mat-icon>group_add</mat-icon> Agregar una persona</button>
  <h1 class="my-2 font-3xl">{{ title }}</h1>
  <small *ngIf="status == 'create' && personCurrent?.user" class="text-danger">Cuidado esta persona ya posee un usuario si continua se cambiara de usuario a esta persona con email {{personCurrent?.user?.email}}</small>
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Formulario de usuario</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form">
            <mat-form-field class="col-12">
              <mat-select placeholder="Correo electrónico" formControlName="email">
                <mat-option *ngFor="let email of emails" [value]="email">
                  {{ email }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput placeholder="Contraseña" formControlName="password" />
            </mat-form-field>
          </form>
          <div class="mat-form-padding">
            <span>Roles:</span>
            <span class="example-list-section">
              <ul class="row">
                <li class="col-md-6" *ngFor="let rol of roles">
                  <mat-checkbox [(ngModel)]="rol.checked">
                    {{ rol.name }}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </div>
          <button mat-raised-button color="primary" (click)="saveInServer()">Guardar</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="position-relative h-100 overflow-hidden">
        <div>
          <div>
            <div class="d-flex justify-content-between align-items-center w-100">
              <span class="font-2xl">Persona selecciona</span>
              <button color="accent" (click)="isSearchPerson = true" mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="personCurrent;else templateNotPerson">
          <div class="d-flex">
            <img class="img-person" [src]="personCurrent?.photo?.permalink" />
            <div>
              <h3 class="font-2xl">{{ personCurrent.first_name + " " + personCurrent.last_name }}</h3>
            </div>
          </div>
          <mat-card-content class="m-0">
            <table class="table table-borderless table-custom">
              <tbody>
                <tr>
                  <td>Tipo de documento:</td>
                  <td>
                    <span>{{ personCurrent?.identification_type }}</span>
                  </td>
                </tr>
                <tr>
                  <td>CI / Passport:</td>
                  <td>
                    <span>{{ personCurrent?.identification_number }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Cargo:</td>
                  <td>
                    <span>{{ personCurrent?.position?.name }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Ciudad:</td>
                  <td>
                    <span>{{ personCurrent?.city?.name }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Estado:</td>
                  <td>
                    <span>{{ personCurrent?.status }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Sexo:</td>
                  <td>
                    <span>{{ personCurrent?.sex }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Con usuario asignado:</td>
                  <td>
                    <span [ngClass]="personCurrent?.user ? 'bg-danger' : 'bg-success'">
                      {{ personCurrent?.user ? "Si" : "No" }}
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>Fecha de ingreso:</td>
                  <td>
                    <span>{{ personCurrent?.start_date | date }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </div>
        <ng-template #templateNotPerson>
          <mat-card-content class="m-0">
            <p>No se ha seleccionado una persona</p>
          </mat-card-content>
        </ng-template>

        <div [ngClass]="{ 'show-search-person': isSearchPerson }" class="main-style p-2 search-person-content">
          <app-search (data)="getPeople($event)" placeholder="Buscador de personas" [url]="'admin/user/people'">
            <div class="px-3" data style="height: calc(100% - 108px); overflow: auto">
              <mat-card class="my-2" *ngFor="let person of people">
                <div>
                  <div class="d-flex">
                    <img class="img-person" [src]="person?.photo?.permalink" />
                    <h3>{{ person.first_name + " " + person.last_name }}</h3>
                  </div>
                </div>
                <mat-card-content class="m-0">
                  <p>CI / Passport :{{ person.identification_number }}</p>
                  <p>Cargo: {{ person.position?.name }}</p>
                </mat-card-content>
                <mat-card-actions align="start">
                  <button mat-button color="primary" (click)="selectedPerson(person.id)">
                    <mat-icon>done</mat-icon>
                    Seleccionar
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
            <ng-container inputBtn>
              <button (click)="isSearchPerson = false" class="btn-default"><i class="fas fa-times"></i></button>
            </ng-container>
          </app-search>
        </div>
      </mat-card>
    </div>
  </div>
</div>
