<mat-nav-list>
    <mat-list-item [routerLink]="['home/dashboard/versus/products']">
        <div class="d-flex align-items-center">
            <img src="/assets/images/product.png" alt="producto">
            &nbsp;
            <div>
                <span mat-line>Comparar por productos</span>
                <span mat-line>Podra seleccionar productos para comparar</span>
            </div>
        </div>
    </mat-list-item>
  
    <mat-list-item  [routerLink]="['home/dashboard/versus/categories']">
        <div class="d-flex align-items-center">
            <img  src="/assets/images/category.png" alt="producto">
            &nbsp;
            <div>
                <span mat-line>Comparar por Categorias</span>
                <span mat-line>Podras comparar diferentes categorias</span>
            </div>
        </div>
    </mat-list-item>
  
    <mat-list-item [routerLink]="['home/dashboard/versus/locations']">
        <div class="d-flex align-items-center">
            <img src="/assets/images/tienda.png" alt="producto">
            &nbsp;
            <div>
                <span mat-line>Comparar por Locales</span>
                <span mat-line>Comparar locales y ver sus ventas</span>
            </div>
        </div>
    </mat-list-item>
  
    <mat-list-item [routerLink]="['home/dashboard/versus/cities']">
        <div class="d-flex align-items-center">
            <img  src="/assets/images/city.png" alt="cuidades">
            &nbsp;
            <div>
                <span mat-line>Comparar por Ciudades</span>
                <span mat-line>Comparar diferentes ciudades</span>
            </div>
        </div>
    </mat-list-item>
  </mat-nav-list>