<div>
    <h1 class="font-5xl">Versus</h1>
    <div class="font-fz btns-versus">

        <mat-card [routerLink]="[ './productos' ]" class="shadow rounded-fz text-center p-3">
            <img class="w-100" src="/assets/images/product.png" alt="producto">
           <div class="text-uppercase font-2xl p-2 bg-dark rounded-fz mt-1">
               versus <br> productos
           </div>
        </mat-card>
        <mat-card class="shadow rounded-fz text-center p-3">
            <img class="w-100" src="/assets/images/category.png" alt="producto">
            <div class="text-uppercase font-2xl p-2 bg-dark rounded-fz mt-1">
                versus <br> categorias
            </div>
        </mat-card>
        <mat-card class="shadow rounded-fz text-center p-3">
            <img class="w-100" src="/assets/images/tienda.png" alt="producto">
           <div class="text-uppercase font-2xl p-2 bg-dark rounded-fz mt-1">
               versus <br> tiendas
           </div>
        </mat-card>
        <mat-card class="shadow rounded-fz text-center p-3">
            <img class="w-100" src="/assets/images/city.png" alt="cuidades">
            <div class="text-uppercase font-2xl p-2 bg-dark rounded-fz mt-1">
                versus <br> cuidades
            </div>
        </mat-card>
     
        <!-- <button mat-raised-button >Versus de Productos</button>
        <button mat-raised-button >Versus de Productos</button>
        <button mat-raised-button >Versus de Productos</button>
        <button mat-raised-button >Versus de Productos</button> -->
    </div>
</div>
