<!-- <div>
    <h1 class="font-5xl">Versus</h1>
    <div class="font-fz btns-versus">

        <mat-card [routerLink]="[ './productos' ]" class="shadow rounded-fz text-center p-3">
            <img class="w-100" src="/assets/images/product.png" alt="producto">
           <div class="text-uppercase font-2xl p-2 bg-dark rounded-fz mt-1">
               versus <br> productos
           </div>
        </mat-card>
        <mat-card class="shadow rounded-fz text-center p-3">
            <img class="w-100" src="/assets/images/category.png" alt="producto">
            <div class="text-uppercase font-2xl p-2 bg-dark rounded-fz mt-1">
                versus <br> categorias
            </div>
        </mat-card>
        <mat-card class="shadow rounded-fz text-center p-3">
            <img class="w-100" src="/assets/images/tienda.png" alt="producto">
           <div class="text-uppercase font-2xl p-2 bg-dark rounded-fz mt-1">
               versus <br> tiendas
           </div>
        </mat-card>
        <mat-card class="shadow rounded-fz text-center p-3">
            <img class="w-100" src="/assets/images/city.png" alt="cuidades">
            <div class="text-uppercase font-2xl p-2 bg-dark rounded-fz mt-1">
                versus <br> cuidades
            </div>
        </mat-card>
    </div>
</div> -->

<!-- <mat-nav-list>
    <span  mat-list-item>
      <span mat-line>Google Keep</span>
      <span mat-line>Add to a note</span>
    </span>
    <span  mat-list-item>
      <span mat-line>Google Docs</span>
      <span mat-line>Embed in a document</span>
    </span>
  
    <span mat-list-item>
      <span mat-line>Google Plus</span>
      <span mat-line>Share with your friends</span>
    </span>
  
    <span mat-list-item>
      <span mat-line>Google Hangouts</span>
      <span mat-line>Show to your coworkers</span>
    </span>
  </mat-nav-list> -->

  <mat-nav-list>
    <mat-list-item [routerLink]="['home/dashboard/versus/products']">
        <div class="d-flex align-items-center">
            <img src="/assets/images/product.png" alt="producto">
            &nbsp;
            <div>
                <span mat-line>Comparar por productos</span>
                <span mat-line>Podra seleccionar productos para comparar</span>
            </div>
        </div>
    </mat-list-item>
  
    <mat-list-item  [routerLink]="['home/dashboard/versus/categories']">
        <div class="d-flex align-items-center">
            <img  src="/assets/images/category.png" alt="producto">
            &nbsp;
            <div>
                <span mat-line>Comparar por Categorias</span>
                <span mat-line>Podras comparar diferentes categorias</span>
            </div>
        </div>
    </mat-list-item>
  
    <mat-list-item [routerLink]="['home/dashboard/versus/locales']">
        <div class="d-flex align-items-center">
            <img src="/assets/images/tienda.png" alt="producto">
            &nbsp;
            <div>
                <span mat-line>Comparar por Locales</span>
                <span mat-line>Comparar locales y ver sus ventas</span>
            </div>
        </div>
    </mat-list-item>
  
    <mat-list-item [routerLink]="['home/dashboard/versus/cities']">
        <div class="d-flex align-items-center">
            <img  src="/assets/images/city.png" alt="cuidades">
            &nbsp;
            <div>
                <span mat-line>Comparar por Ciudades</span>
                <span mat-line>Comparar diferentes ciudades</span>
            </div>
        </div>
    </mat-list-item>
  </mat-nav-list>