<mat-selection-list [multiple]="false">
    <mat-list-option (click)="selectFor()">
        <mat-icon mat-list-icon>person_add</mat-icon>
        <div mat-line>Por Año</div>
    </mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option (click)="selectFor()">
        <mat-icon mat-list-icon>edit</mat-icon>
        <div mat-line>Por Mes</div>
        <!-- <div mat-line> {{data.name}} </div> -->
    </mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option (click)="selectFor()">
        <mat-icon mat-list-icon>delete</mat-icon>
        <div mat-line>Por semana</div>
        <!-- <div mat-line> {{data.name}} </div> -->
    </mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option (click)="selectFor()">
        <mat-icon mat-list-icon>remove_red_eye</mat-icon>
        <div mat-line>Por dia</div>
        <!-- <div mat-line> {{data.name}} </div> -->
    </mat-list-option>
</mat-selection-list>