<div [class]="appearance" class="input-array">
  <div class="ia-btn-search"><i class="fa-solid fa-magnifying-glass"></i> {{label}} </div>
  <div class="ia-content-item" *ngIf="templateRef">
    <div class="ia-item" *ngFor="let arr of _items">
      <span>
        <ng-container
        [ngTemplateOutlet]="templateRef"
        [ngTemplateOutletContext]="{ $implicit: arr }"
        ></ng-container>
      </span>
      <button (click)="deleteItem(arr, $event)"><i class="fa-solid fa-xmark"></i></button>
    </div>
</div>
