<app-search-template (data)="getData($event)" [filter_data]="{}" [url$]="'admin/companies'" [placeholder]="'Buscador de compañías'">
    <ng-container data>
        <mat-card class="card card-body border-0 rounded-fz" *ngFor="let company of data | keyvalue">
            <mat-card-header>
                <mat-card-title>{{company.value.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="mb-2">
                    <mat-chip-list>
                        <mat-chip>{{company.value.created_at | date}}</mat-chip>
                        <mat-chip>{{company.value.country.name}}</mat-chip>
                    </mat-chip-list>
                </div>
                <button [routerLink]="['./', company.key, 'edit']" color="primary" mat-mini-fab><mat-icon>edit</mat-icon></button>
                <button (click)="deleteData(company.key)" color="warn" mat-mini-fab><mat-icon>delete</mat-icon></button>
                <button [routerLink]="['./', company.key, 'edit']" color="accent" mat-mini-fab><mat-icon>apartment</mat-icon></button>
            </mat-card-content>
        </mat-card>
    </ng-container>
    <ng-container menuBar>
        <mat-chip-list class="ml-1">
            <mat-chip [routerLink]="['./create']" ><mat-icon>add</mat-icon></mat-chip>
        </mat-chip-list>
    </ng-container>
</app-search-template>