<mat-card class="card border-0">
  <div class="d-md-flex justify-content-between align-items-center">
    <div>Estado: <span class="badge font-sm {{item.status}}"> {{item.status |
        translatefz:
        'orders'}}</span></div>
    <div>
      <button *ngIf="!isCancelled" color="warn" (click)="unlink(item.id)" mat-button>Desvincular</button>
    </div>
  </div>
  <div class="text-success">Doc ID:<span> {{item.number}}</span></div>
  <div>
    <h2 class="m-2 text-info font-weight-bold">Detalles</h2>
    <!-- <mat-chip-list>
      <mat-chip>Estado: {{item.status | translatefz:'orders'}}</mat-chip>
      <mat-chip>Numero: {{item.number}}</mat-chip>
    </mat-chip-list> -->
    <div>
      <span>Creado: <span>{{item.created_at | date}}</span></span>
      <p>Memo: <span>{{item.memo}}</span></p>
    </div>
    <table>
      <tbody>
        <tr>
          <td>
            <span>Monto:</span>
          </td>
          <td>
            <span>{{item.data?.amount}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Descuento:</span>
          </td>
          <td>
            <span>{{item.data?.discount}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Retención:</span>
          </td>
          <td>
            <span>{{item.data?.retention}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Método:</span>
          </td>
          <td>
            <span>{{item.data?.method}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Pago neto:</span>
          </td>
          <td>
            <span>{{item.data?.net_payment}}</span>
          </td>
      </tbody>
    </table>
  </div>
  <div>
    <h2 class="m-2 text-info font-weight-bold">Cliente</h2>
    <table>
      <tbody>
        <tr>
          <td>
            <span>Nombre:</span>
          </td>
          <td>
            <span>{{item.data?.client?.name}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Email:</span>
          </td>
          <td>
            <span>{{item.data?.client?.email}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Teléfono:</span>
          </td>
          <td>
            <span>{{item.data?.client?.phone}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Dirección:</span>
          </td>
          <td>
            <span>{{item.data?.client?.address}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Identificación:</span>
          </td>
          <td>
            <span>{{item.data?.client?.identification}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
