<div class="mt-4">
    <h2 class="font-5xl pl-1 font-facebook list-group-item-accent-warning">Facebook Ads Manager</h2>
    <mat-form-field class="position-absolute account-position">
        <mat-label>Cuentas</mat-label>
        <mat-select [(value)]="currentAccount" [(ngModel)]="currentAccount">
            <mat-option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</mat-option>

        </mat-select>
    </mat-form-field>
    <mat-tab-group (selectedTabChange)="changedTag($event)" mat-align-tabs="center">
        <mat-tab class="overflow-hidden" label="CAMPAÑAS">
            <app-facebook-ads-campaign [urlData]="urlData" [account_id]="currentAccount"></app-facebook-ads-campaign>
        </mat-tab>
        <mat-tab label="CONJUNTO DE ANUNCIOS">
            <app-facebook-ads-set [account_id]="currentAccount"></app-facebook-ads-set>
            <!-- <app-header-search></app-header-search> -->
        </mat-tab>
    </mat-tab-group>
</div>
