<button (click)="unreadNotifications()" [matMenuTriggerFor]="menu1" mat-icon-button class="position-relative">
  <i
    style="font-size: 20px"
    class="fa-regular fa-bell icon-size"
    #IconNotify
    [matBadge]="countUnread || null"
    matBadgePosition="above after"
    matBadgeColor="accent"></i>
</button>
<mat-menu
  (closed)="unreadNotifications()"
  class="overflow-hidden"
  #menu1="matMenu"
  [overlapTrigger]="false">
  <div class="cp px-2" (keydown)="$event.stopPropagation()" (click)="$event.stopPropagation()">
    <h3 class="font-3xl">Notificaciones</h3>
    <div class="content-notifications scrollbar-fz">
      <ng-template matMenuContent>
        <div
          class="my-2 cp"
          *ngFor="let notification of notifications"
          (click)="notificationAction(notification.data?.url, notification.data?.route)"
          >
          <div>
            <div class="d-flex">
              <div class="mr-1">
                <img class="rounded-circle" width="35" height="35" [src]="notification.data?.image || imageLetterLink + notification.data?.user?.name" />
              </div>
              <div>
                <div>
                  <h3 class="m-0 line-1">{{ notification.data.title}}</h3>
                  <small>{{ notification?.data?.user?.name ? notification?.data?.user?.name : "Sin Usuario"}}</small>
                </div>
                <div class="font-weight-lighter text-muted">{{ notification.data.text }}</div>
                <small class="text-capitalize text-muted">
                  {{ notification?.created_at | amLocale: "es" | amTimeAgo }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

  </div>
</mat-menu>
