.custom-menu-notification {
    max-height: 80vmax;
    padding-bottom: 0 !important;
  }

  .menu-header {
    font-weight: bold;
    font-family: system-ui;
    font-size: 1.75rem !important;
  }

  .content-menu {
    white-space: initial; line-height: 1.3
  }