<span class="col-md-3 col-12 chat-template p-0">
  <mat-card class="shadow rounded-fz">
    <mat-card-header class="header-template-chat ">
      <button class="btn-close-chat text-danger font-2xl" (click)="closeChat()">
        <i class="far fa-times-circle"></i>
      </button>
      <button class="btn-modal" mat-icon-button (click)="openViewUsersGroupModal()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div
        [ngStyle]="{'background-image': 'url('+getPhoto(userchat?.data_chat?.img ? userchat?.data_chat?.img : userchat?.data_chat?.participants ? userchat?.data_chat?.participants[0]?.info?.photo : null) +')'}"
        mat-card-avatar class="example-header-image border"></div>
      <mat-card-title class="text-truncate mb-2 chat-font">{{userchat?.name}}
      </mat-card-title>
      <mat-card-subtitle class="chat-font">
        <ng-container *ngIf="userchat?.data_chat?.type != 'group';else TemplateGroup">
          <span class="text-success"
            *ngIf="userchat?.data_chat?.participants && userchat?.data_chat?.participants[0]?.status == 'online'; else TemplateOffline">
            En linea
          </span>
          <ng-template #TemplateOffline>
            <span class="text-muted">{{userchat?.data_chat?.updated_at | date:'medium'}}</span>
          </ng-template>
        </ng-container>
        <ng-template #TemplateGroup>
          <mat-card-subtitle class="text-info text-truncate">
            <ul class="text-truncate chat-font d-flex p-0">
              <ng-container *ngFor="let participant of userchat.data_chat?.participants.slice(0,7);let i = index">
                <div class="name-group list-unstyled mr-1">
                  <ng-container *ngIf="i < 6; else TemplateMoreParticipants">
                    <img class="img-avatar-mini" [src]="getPhoto(participant?.info?.photo)" alt="">
                    <span class="text-truncate p-2 tooltip-fz font-facebook">
                      <img class="rounded-circle " [src]="getPhoto(participant?.info?.photo)"
                        alt="">{{participant?.info?.name}}
                    </span>
                  </ng-container>
                  <ng-template #TemplateMoreParticipants>
                    <div class="text-muted center h-100">+{{userchat?.data_chat?.participants?.length - 7}}</div>
                  </ng-template>
                </div>
              </ng-container>
            </ul>
          </mat-card-subtitle>
        </ng-template>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="body-template-chat">
      <div id="scroll-container" [scrollTop]="disableScroll ? scrollMe.scrollTop : scrollMe.scrollHeight"
        class="body-template-background-chat p-2" [infiniteScrollDisabled]="notMoreOldMessage" #scrollMe infiniteScroll
        [infiniteScrollUpDistance]="1" [infiniteScrollThrottle]="0" (scrolledUp)="onScrollUp()" [scrollWindow]="false">
        <div #ngfor *ngFor="let message of userchat?.messages"
          [ngClass]="{'text-right': message.author_user_id == my_id}">
          <ng-container *ngIf="message.type != 'info';else templateInfo">
            <p class="shadow message" [ngClass]="message.author_user_id == my_id ?'message-send':'message-recept'">
              <ng-container *ngIf="!message.files; else templateFile">
                <ng-container *ngIf="userchat.data_chat.type == 'group' && message.author_user_id != my_id">
                  <span class="font-xs text-muted text-truncate ">{{message?.author?.info?.name}}</span><br>
                </ng-container>
                {{message.text}}
              </ng-container>
              <ng-template #templateFile>
                <div class="w-100" *ngFor="let file of message.files">
                  <ng-container *ngIf="userchat.data_chat.type == 'group' && message.author_user_id != my_id">
                    <span class="font-xs text-muted text-truncate text-value-lg">{{message.author.info.name}}</span><br>
                  </ng-container>
                  <span class="download-file">
                    <button class="btn-download" mat-icon-button *ngIf="file.type == 'image'"
                      (click)="downloadResource(file.permalink, null)">
                      <mat-icon>download_for_offline</mat-icon>
                    </button>
                    <ng-container [ngSwitch]="file.type">
                      <ng-container *ngSwitchCase="'image'">
                        <img class="w-100 rounded-fz my-2" [src]="file.permalink" alt="">
                      </ng-container>
                      <video *ngSwitchCase="'video'" class="w-100 rounded-fz my-2" controls alt="">
                        <source [src]="file.permalink" type="video/{{file.ext}}">
                      </video>
                      <audio *ngSwitchCase="'audio'" controls>
                        <source [src]="file.permalink" type="audio/{{file.ext}}">
                        Your browser does not support the audio element.
                      </audio>
                      <div *ngSwitchDefault>
                        <!-- <embed [src]="file.permalink" type="*/{{file.ext}}"> -->
                        <div class="d-flex align-items-center text-muted bg-white rounded-lg p-sm-1">
                          <mat-icon>description</mat-icon>
                          <span class="text-truncate">{{file.original_name}}</span>
                          <button mat-icon-button (click)="downloadResource(file.permalink, null)">
                            <mat-icon>download_for_offline</mat-icon>
                          </button>
                        </div>
                      </div>
                    </ng-container>
                  </span>
                </div>
                {{message.text}}
              </ng-template>
              <br>
              <small class="text-muted">{{message.created_at | date:'medium'}} <i
                  *ngIf="message.author_user_id == my_id"
                  class="{{message.is_readed_for_all?'fas text-success':'far'}} fa-check-circle"></i></small>
            </p>
          </ng-container>
          <ng-template #templateInfo>
            <div class="my-2 text-center font-weight-bold p-1">{{message.text}}</div>
          </ng-template>
        </div>
      </div>
      <div *ngIf="hasFile" class="attach">
        <file-pond #myPond (onprocessfiles)="successFiles($event)" [className]="'m-0'" [options]="pondOptions" (oninit)="pondHandleInit()"
          (onaddfile)="pondHandleAddFile($event)" (onactivatefile)="pondHandleActivateFile($event)">
        </file-pond>
      </div>
      <div *ngIf="hasNewMessages" class="new-message">
        <span (click)="scrollToBottom()" class="shadow p-2">Nuevos mensages <i class="fas fa-arrow-down"></i></span>
      </div>
    </mat-card-content>
    <mat-card-actions class="footer-template-chat position-relative">
      <textarea cdkFocusInitial #textMessage (keydown.enter)="sendMessage($event)" (keyup)="typingMessage()"  id="textarea-chat" type="text"
        class="input-send-message py-2" placeholder="Mensaje"></textarea>
      <!-- <i class="btn-emoji" (click)="toggled = !toggled" [(emojiPickerIf)]="toggled"
        [emojiPickerDirection]="'top'"
        (emojiPickerSelect)="handleSelection($event)">😄</i>
        <i class="fas fa-paperclip btn-attach"></i> -->

      <button mat-icon-button class="btn-emoji" (click)="hasFile=!hasFile">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button class="m-0 btn-send-message mt-1" mat-mini-fab color="primary" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</span>