<mat-card class="rounded-fz shadow p-3 overflow-auto">
    <ngx-spinner name="loading-chart-location" bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="rgba(0, 0, 0,0.5)"
        type="ball-triangle-path" [fullScreen]="false">
        <p class="mt-5 pt-5 font-montserrat rounded-fz" style="color: #7e7b7b"> Cargando... </p>
    </ngx-spinner>
    <h3 class="font-montserrat font-3xl font-weight-bolder">Locales</h3>
    <mat-button-toggle-group [(ngModel)]="key" (change)="updateChart($event)" class="rounded-fz border-success"
        name="key" aria-label="Font Style">
        <mat-button-toggle color="accent" value="location-sales">Por ventas en dolares</mat-button-toggle>
        <mat-button-toggle color="accent" value="location-sales-count">Por numero de ventas</mat-button-toggle>
    </mat-button-toggle-group>
    <div style="height: 400px;" class="d-flex align-items-center position-relative">
        <canvas id="chart-locations"></canvas>
    </div>
</mat-card>