<div>
  <app-search-template-table [title]="'Usuarios'" columns="1" placeholder="Buscar usuarios" [url$]="'admin/users'" (data)="loadData($event)">
    <ng-container table>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element?.name}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Correo</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="companies">
          <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.companies[0]?.name}}
          </mat-cell>
        </ng-container> -->

        <!-- Weight Column -->
        <ng-container matColumnDef="roles">
          <mat-header-cell *matHeaderCellDef> Roles </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.roles | join}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="last_activity">
          <mat-header-cell *matHeaderCellDef> Ultima actividad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.last_activity | amLocale:'es' | amTimeAgo}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let element;let ind = index">
            <button *ngxPermissionsOnly="permission_edit" mat-icon-button color="accent"
              [routerLink]="['./edit',element.id]">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button mat-icon-button color="warn" *ngxPermissionsOnly="permission_destroy"
              (click)="deleteItem(element.id)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </mat-cell>
        </ng-container>



        <!-- <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="accent" (click)="addRowTableItem()">
              <mat-icon>post_add</mat-icon>
            </button>

            <button mat-icon-button color="accent">
              <mat-icon>backup</mat-icon>
              <label class="m-0 h-100 w-100 position-absolute" for="file-excel" style="    top: 0;
                    right: 0;">
              </label>
              <input [disabled]="isLoadFile" type="file" (change)="addFile($event)" class="d-none" id="file-excel"
                accept=".xlsx">
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let element;let ind = index">
            <button mat-icon-button (click)="editItem(ind)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteItem(ind)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container> -->
        <mat-header-row style="top:67px" *matHeaderRowDef="displayedColumns;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </ng-container>
    <ng-container menuBar *ngxPermissionsOnly="permission_create">
      <mat-chip [routerLink]="['./create']" class="mat-btn-add ml-1">
        <i class="fa-solid fa-user-plus"></i> Agregar usuario
      </mat-chip>
    </ng-container>
  </app-search-template-table>
</div>
