<h1 matDialogTitle>Detalles</h1>

<mat-dialog-content>
    <div *ngIf="import" class="row">
      <div class="col-md-6">
        <div class="font-weight-bold">
          <h2 class="font-4xl">Importación</h2>
          <h3 class="font-2xl">Codigo: {{import.code}}</h3>
        </div>
        <div>
          <p>Fecha estimada de arribo</p>
          <div>
            <tbody>
              <tr>
                <td>Fecha estimada inicial</td>
                <td>{{import.estimated_date_first|date:'medium'}}</td>
              </tr>
              <tr>
                <td>Fecha estimada final</td>
                <td>{{import.estimated_date_last|date:'medium'}}</td>
              </tr>
              <tr>
                <td>Fecha de creación</td>
                <td>{{import.created_at|date:'medium'}}</td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="font-weight-bold">
          <h2 class="font-4xl">Productos</h2>
        </div>
        <div *ngFor="let productAndPrice of products">
          <h3 class="font-2xl d-flex align-items-center"><img class="img-product mr-2 shadow-sm" *ngIf="productAndPrice.product.image" [src]="productAndPrice.product.image" alt=""> Nombre: {{productAndPrice.product.name}}</h3>
          <div>
            <tbody>
              <tr>
                <td>Codigo</td>
                <td>{{productAndPrice.product.code}}</td>
              </tr>
              <tr>
                <td>Disponibles</td>
                <td>{{productAndPrice.product.available}}</td>
              </tr>
            </tbody>
          </div>
          <div>
            <h4>Últimos precios</h4>
            <div>
              <tbody>
                <ng-container *ngFor="let last_price of productAndPrice.product.last_prices">
                  <tr>
                    <td>Estado</td>
                    <td>{{last_price.status}}</td>
                  </tr>
                  <tr>
                    <td>Precio</td>
                    <td>{{last_price.price}}</td>
                  </tr>
                  <tr>
                    <td>Tipo de duración</td>
                    <td>{{last_price.duration_type | translatefz}}</td>
                  </tr>
                  <ng-container *ngIf="last_price.duration_type === 'date_range'">
                    <tr>
                      <td>Fecha Inicial</td>
                      <td>{{last_price.start_date | date: 'medium'}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Final</td>
                      <td>{{last_price.end_date | date: 'medium'}}</td>
                    </tr>
                    <tr>
                      <td class="" colspan="2">Grupo</td>
                    </tr>
                    <tr>
                      <td>Nombre</td>
                      <td>{{last_price.group.name}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div *ngIf="isLoading">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button color="warn" mat-button matDialogClose>Cerrar <i class="fa-solid fa-xmark"></i></button>
    <!-- <button mat-button>Action</button> -->
    
</mat-dialog-actions>