<h1 matDialogTitle>Detalles</h1>

<mat-dialog-content>
    <div *ngIf="import" class="row font-weight-bold">
      <div class="col-md-6 border-right">
        <div class="sticky-top">
          <div class="font-weight-bold">
            <h2 class="font-4xl font-weight-bold">Importación</h2>
          </div>
          <div>
            <div>
              <tbody class="table table-borderless">
                <tr>
                  <td>Código</td>
                  <td class="text-info">{{import.code}}</td>
                </tr>
                <tr>
                  <td>Fecha estimada inicial</td>
                  <td>{{import.estimated_date_first|date:'medium'}}</td>
                </tr>
                <tr>
                  <td>Fecha estimada final</td>
                  <td>{{import.estimated_date_last|date:'medium'}}</td>
                </tr>
                <tr>
                  <td>Fecha de creación</td>
                  <td>{{import.created_at|date:'medium'}}</td>
                </tr>
                <tr>
                  <td>Fecha de arribo</td>
                  <td>{{import.arrival_date|date:'medium'}}</td>
                </tr>
                <tr>
                  <td>Identificador</td>
                  <td>#{{import.id}}</td>
                </tr>
              </tbody>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="z-index: 1026;" class="font-weight-bold main-style sticky-top">
          <h2 class="font-4xl font-weight-bold">Productos</h2>
        </div>
        <div *ngFor="let productAndPrice of products">
          <h3 style="top: 34px;" class="d-flex align-items-center font-xs sticky-top main-style"><img class="img-product mr-2 shadow-sm" *ngIf="productAndPrice.product.image" [src]="productAndPrice.product.image" alt="">{{productAndPrice.product.name}}</h3>
          <div>
            <tbody class="table table-borderless">
              <tr>
                <td>Codigo</td>
                <td>{{productAndPrice.product.code}}</td>
              </tr>
              <tr>
                <td>Disponibles</td>
                <td>{{productAndPrice.product.available}}</td>
              </tr>
            </tbody>
          </div>
          <div>
            <h4 class="font-xs">PRECIO</h4>
            <div>
              <tbody class="table table-borderless">
                <!-- <div class="rounded-lg mb-2 shadow" *ngFor="let last_price of productAndPrice.price"> -->
                  <tr>
                    <td>Estado</td>
                    <td [ngClass]="productAndPrice?.price.status === 'active' ? 'text-primary': 'text-danger'">{{productAndPrice?.price.status| translatefz}}</td>
                  </tr>
                  <tr>
                    <td>Precio</td>
                    <td>${{productAndPrice?.price.price}}</td>
                  </tr>
                  <tr>
                    <td>Precio + IVA</td>
                    <td>${{productAndPrice?.price.full_price_formated}}</td>
                  </tr>
                  <tr>
                    <td>Tipo de duración</td>
                    <td>{{productAndPrice?.price.duration_type | translatefz}}</td>
                  </tr>
                  <tr>
                    <td>Grupo</td>
                    <td>{{productAndPrice?.price.group.name}}</td>
                  </tr>
                  <ng-container *ngIf="productAndPrice?.price.duration_type === 'date_range'">
                    <tr>
                      <td>Fecha Inicial</td>
                      <td>{{productAndPrice?.price.start_date | date: 'medium'}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Final</td>
                      <td>{{productAndPrice?.price.end_date | date: 'medium'}}</td>
                    </tr>
                  </ng-container>
                <!-- </div> -->
              </tbody>
          </div>
        </div>
        <hr>
      </div>
      </div>
    </div>
    <div *ngIf="isLoading">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button color="warn" mat-button matDialogClose>Cerrar <i class="fa-solid fa-xmark"></i></button>
    <!-- <button mat-button>Action</button> -->
    
</mat-dialog-actions>