
<ngx-search-bar-paginator
title="WebHooks" 
[path]="url" 
(data)="getData($event)"
>

<mat-card>
    <mat-card-content>
       <table mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        <ng-container matColumnDef="suscriptions">
            <th mat-header-cell *matHeaderCellDef> Suscripciones </th>
            <td mat-cell *matCellDef="let row"> 
             <div *ngFor="let suscription of row?.suscriptions">
                <mat-chip-set>
                    <mat-chip>{{suscription.name}}</mat-chip>
                </mat-chip-set>
             </div>    
            </td>
        </ng-container>
        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> Url </th>
            <td mat-cell *matCellDef="let row"> {{row.url}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
                <div class="d-flex">
                    <button [routerLink]="[row.id, 'edit']" class="btn-icon c-edit">
                        <i class="fa-solid fa-pen"></i>
                    </button>    
                    <button (click)="deleteData(row.key)" class="btn-icon c-delete">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
       </table>
    </mat-card-content>
</mat-card>

</ngx-search-bar-paginator>
<!-- <app-search-template title="WebHooks" [url$]="url" (data)="getData($event)">
    <ng-container data>
        <mat-card class="card border-0 rounded-fz" *ngFor="let webhook of data | keyvalue">
            <mat-card-header>
                <mat-card-title class="title">{{webhook.value.url}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-set>
                    <mat-chip selected *ngFor="let suscription of webhook.value.suscriptions">{{suscription.name}}</mat-chip>
                </mat-chip-set>
            </mat-card-content>
            <mat-card-actions>
                    <button mat-mini-fab [routerLink]="['./',webhook.key, 'edit']">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="deleteData(webhook.key)">
                        <mat-icon>delete</mat-icon>
                    </button>
    
            </mat-card-actions>
        </mat-card>
    </ng-container>
    <ng-container menuBar>
        <mat-chip class="ml-1" [routerLink]="['./create']">
            <mat-icon>add</mat-icon>
        </mat-chip>
    </ng-container>
</app-search-template> -->