<ngx-search-bar-paginator
  title="Publicaciones"
  [withFilter]="true"
  [formFilter]="formFilters"
  placeholder="Buscar publicación"
  [path]="url"
  (data)="getData($event)">
  <ng-container buttons>
    <mat-chip color="create" *ngxPermissionsOnly="permissions.create" [routerLink]="['/catalogo/publicaciones/create']">
      <i class="fa-solid fa-plus"></i>
      Publicación
    </mat-chip>
  </ng-container>
  <ng-container filterMenu>
    <div [formGroup]="formFilters">
      <mat-form-field class="w-100">
        <mat-label>Estado</mat-label>
        <mat-select type="text" formControlName="state">
          <mat-option value="">Ninguna selección</mat-option>
          <mat-option *ngFor="let state of states" [value]="state.slug">
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>

  <div>
    <mat-card class="mb-3" *ngFor="let publication of dataSource">
      <mat-card-header>
        <mat-card-title>
          <span class="text-danger">
            {{ publication.id }}
          </span>
          {{ publication.name }}
        </mat-card-title>
        <mat-card-subtitle>
          <small [ngStyle]="statuses[publication.status]?.css" class="badge-fz {{ publication.status }} d-inline-block">
            {{ statuses[publication.status]?.value }}
          </small>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="publication.errors">
          <div
            *ngFor="let error of publication.errors"
            class="alert my-2 shadow-sm border-0 font-sm alert-danger alert-dismissible fade show"
            role="alert">
            <strong>Codigo:</strong>
            {{ error.code }}
            <br />
            <strong>Mensaje:</strong>
            {{ error.message }}
          </div>
          <hr />
        </div>
        <div>
          <ng-container *ngIf="publication.ml_accounts.length > 0">
            Cuentas:
            <mat-chip-set class="badge-fz font-sm mr-1">
              <mat-chip *ngFor="let account of publication.ml_accounts">{{ account.user_name }}</mat-chip>
            </mat-chip-set>
          </ng-container>
        </div>
        <div class="actions">
          <!-- <button mat-raised-button color="accent" *ngIf="publication.description" (click)="openDescription()">
            Ver descripción
          </button> -->
          <button
            [matMenuTriggerFor]="menuOptions"
            aria-label="Example icon-button with a menu"
            color="primary"
            mat-raised-button>
            Opciones
            <i class="fa-solid fa-gear"></i>
          </button>

          <mat-menu #menuOptions="matMenu">
            <button mat-menu-item [routerLink]="['/catalogo/publicaciones/show', publication.id]">
              <i class="fa-regular fa-eye"></i>
              <span>Ver</span>
            </button>
            <button
              mat-menu-item
              [routerLink]="['/catalogo/publicaciones/edit', publication.id]"
              color="primary"
              *ngxPermissionsOnly="permissions.edit">
              <i class="fa-solid fa-pen"></i>
              <span>Editar</span>
            </button>

            <button
              (click)="openDescription(publication.id)"
              *ngIf="publication.description"
              mat-menu-item
              [routerLink]="['/catalogo/publicaciones/edit', publication.id]"
              color="primary">
              <i class="fa-solid fa-circle-info"></i>
              <span>Ver descripción</span>
            </button>

            <button
              mat-menu-item
              color="warn"
              *ngxPermissionsOnly="permissions.delete"
              (click)="deleteData(publication.id)">
              <!-- <mat-icon>delete</mat-icon> -->
              <i class="fa-regular fa-trash-can"></i>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </div>
        <div *ngIf="publication.ml_infos.length > 0">
          <h3>
            Publicaciones
            <span *ngIf="publication.menu">
              <span>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <!-- <mat-icon>more_vert</mat-icon> -->
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <mat-menu #menu="matMenu">
                  <div class="px-2 my-2 font-3xl">{{ publication.menu.type }}</div>
                  <button
                    (click)="executeMenu(itemMenu.type, publication.id)"
                    *ngFor="let itemMenu of publication.menu.availablesItems; index as i"
                    mat-menu-item>
                    <!-- <mat-icon>{{ itemMenu.icon }}</mat-icon> -->
                    <span>{{ itemMenu.label }}</span>
                  </button>
                </mat-menu>
              </span>
            </span>
          </h3>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>Plataforma</th>
                  <th>Estado</th>
                  <th>Fecha de publicación</th>
                  <th>Fecha de actualización</th>
                  <th>Fecha de finalización</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of publication.ml_infos">
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ngx-search-bar-paginator>
<!-- <div>
  <app-search-template [title]="'Publicaciones'" [active_filters_menu]="true" [filter_data]="{state:filter_state}" [columns]="2" placeholder="Buscar publicación " [url$]="'catalogs/publications'" (data)="loadData($event)">
    <ng-container  data>
      <ng-container *ngFor="let p of products">
        <div class="card border-0">
          <app-publication  [permission_page]="permission_page"  [publication]="p" (delete)="destroyPublication($event)"></app-publication>
        </div>
      </ng-container>
  </ng-container>
  <ng-container filterMenu>
    <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()" class="h-100">
      <mat-form-field class="w-100">
          <mat-label>Estado</mat-label>
          <mat-select type="text" #select_warehouse [(ngModel)]="filter_state">
              <mat-option value="">Todos</mat-option>
              <mat-option *ngFor="let state of states" [value]="state.slug">
                  {{ state.name }}</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  </ng-container>
  <ng-container menuBar>
    <mat-chip class="ml-1 bg-stack-overflow text-white" *ngxPermissionsOnly="permission_page.create"  (click)="goNewPublication()">
      <mat-icon>post_add</mat-icon> Nueva publicación
  </mat-chip>
  </ng-container>
  </app-search-template>
</div> -->
