.pending{
    background-color: #c8ced3 !important;
}

.generated_guide {
    background-color: #63c2de !important;
    color: white;
}
.shipped {
    background-color: #0066d4!important;
    color: white;
}
.in_transit {
    background-color: #6610f2 !important;
    color: white;
}

.delivered {
    background-color: #4dbd74 !important;
    color: white;
}

.returned{
    background-color: #ffc107 !important;
    color: white;
}

.cancelled {
    background-color: #f86c6b !important;
    color: white;
}