<div class="container-search-products center">
  <button (click)="close()" color="warn" class="btn-close" mat-icon-button><mat-icon>close</mat-icon></button>
  <div class="col-md-5 col-10 overflow-hidden h-100">
    <app-search (data)="getData($event)" placeholder="Buscador de productos" [url]="urlSearch">
      <ng-container data>
        <div class="section-data bg-product shadow p-3 main-style">
          <div *ngFor="let product of products | keyvalue">
            <div class="item-product my-3 ">
              <div class="d-flex align-items-center">
                <img class="img-product mr-2" [src]="product.image || 'assets/img/img_not_available.png'" alt="product image">
                <h3 class="m-0"><span class="text-danger"># {{product.value.code}} </span> {{ product.value.name }}</h3>
              </div>
              <button (click)="addProduct(product.key)" *ngIf="!productsSelected.has(product.key); else TemplateRemove" color="primary" mat-icon-button><mat-icon>add</mat-icon></button>
              <ng-template #TemplateRemove>
                <button (click)="removeProduct(product.key)" color="warn" mat-icon-button><mat-icon>close</mat-icon></button></ng-template>
            </div>
          </div>
        </div>
      </ng-container>
    </app-search>
  </div>
</div>
