<div>
    <h1>Versus de Productos</h1>

    <div>
        <div>
            <input type="search" placeholder="Buscar productos">
        </div>
        <div>
            <div class="row">
                <!-- <ng-container>
                  <div *ngFor="let p of items;index as ind" class="col-md-6 my-2">
                    <div class="d-flex justify-content-between align-items-center border-bottom pb-">
                      <div class="d-flex align-items-center font-weight-light">
                        <img class=" img-item" [src]="captureImagenProduct(ind)" alt="">
                        <div class="mr-1 p-1" style="color:#f44336; font-weight: bold;">#{{p.id}}</div>{{p.name}}
                      </div>
                      <button (click)="selectItemCompare(p.id)" class="btn btn-outline-dark btn-sm btn-vs" type="button">+
                        vs</button>
                    </div>
                  </div>
                </ng-container> -->
              </div>
        </div>
    </div>
</div>