<div>
  <h2 class="font-facebook font-4xl">FORMULARIO DE PERMISOS - {{data.isEdit ? "EDITANDO": "CREANDO"}}</h2>
  <div [formGroup]="form" class="row m-0">
    <mat-form-field class="col-md-6 col-12">
      <input formControlName="name" matInput placeholder="Nombre">
    </mat-form-field>
    <mat-form-field class="col-md-6 col-12">
      <input formControlName="title" matInput placeholder="Titulo">
    </mat-form-field>
    <mat-form-field class="col-md-6 col-12">
      <input formControlName="description" matInput placeholder="Descripción">
    </mat-form-field>
    <mat-form-field class="col-md-6 col-12">
      <input formControlName="guard_name" matInput placeholder="Nombre Guard">
    </mat-form-field>
    <mat-form-field class="col-md-6 col-12">
      <mat-select formControlName="group_permission_id" placeholder="Seleccione un grupo">
        <mat-option *ngFor="let item of groupsPermissions" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div> 
      <button mat-raised-button [disabled]="isLoading" (click)="saveInServer()">Guardar</button>
      <button mat-raised-button (click)="close()" color="warn" class="ml-1">Cerrar</button>
    </div>
  </div>
</div>