<div>
  <ngx-search-bar
    [placeholder]="placeholder"
    [path]="path"
    [title]="title"
    [isChangeUrl]="isChangeUrl"
    [nameInputSearch]="nameInputSearch"
    (data)="getData($event)"
    (loading)="getIsLoading($event)"
    (filtersChange)="filtersChangeMethod($event)">
    <ngx-search-bar-form-filter *ngIf="withFilter" [withParamsClean]="true" [filters]="formFilter">
      <ng-content select="[filterMenu]"></ng-content>
    </ngx-search-bar-form-filter>
    <ng-content buttons select="[buttons]"></ng-content>
    <ng-template #filtersButtons></ng-template>
  </ngx-search-bar>

  <div class="position-relative table-container">
    <div [hidden]="isEmptyData">
      <ng-content></ng-content>
    </div>
    <div class="text-center mt-5" *ngIf="isEmptyData && !isLoadingData">
      <div><img class="col-md-5 col-8" src="assets/vectores/search.svg" alt="search not found" /></div>
      <div class="font-4xl font-weight-bold text-muted">No se encontraron resultados</div>
    </div>
  </div>

  <mat-paginator
    *ngIf="paginator.length > 0"
    [length]="paginator.length"
    [pageSize]="paginator.pageSize"
    [pageSizeOptions]="pageSizeOption"
    [pageIndex]="paginator.pageIndex"
    (page)="changePaginator($event)"></mat-paginator>
</div>
