<app-search-template
  [title]="'Promociones'"
  (data)="getData($event)"
  placeholder="Buscador de promociones"
  [url$]="url">
  <ng-container menuBar>
    <mat-chip-list>
      <mat-chip [routerLink]="['./create']" class="mat-orange ml-2">
        <mat-icon>add</mat-icon>
        promoción
      </mat-chip>
    </mat-chip-list>
  </ng-container>

  <ng-container data>
    <mat-card class="card border-0" *ngFor="let campaign of data | keyvalue">
     <mat-card-header>
         <mat-card-title>{{campaign.value.title}}
     </mat-card-title>
      <mat-card-subtitle >{{campaign.value.created_at | date:'medium'}}</mat-card-subtitle>
       </mat-card-header>
       <mat-card-content>
        <p>{{ campaign.value.note }}</p>
        <div>
          <small>Detalles</small>
          <ul class="list">
            <li>Precio: <span class="text-info">{{ campaign.value.price_formated | currency }}</span></li>
            <li>Duración: {{ campaign.value.duration_type | translatefz }}</li>
            <li>Estado: <span [class]="campaign.value.status">{{ campaign.value.status | translatefz }}</span></li>
          </ul>
        </div>
        <div *ngIf="campaign.value.duration_type == 'date_range'">
            <small>Inicio y Fin</small>
            <ul class="list">
              <li>Inicio {{ campaign.value.start_date | date: 'medium' }}</li>
              <li>Fin {{ campaign.value.end_date | date:'medium'}}</li>
            </ul>
        </div>    
        <div class="my-2">
          <button [routerLink]="['./', campaign.key, 'edit']" mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteData(campaign.key)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</app-search-template>

<div *ngIf="campaign" class="campaign">
  Campaña : <span class="text-success">#{{campaign.id}} {{campaign.title}}</span>
</div>
