.card-columns {
    column-count: 4 !important;
}

.example-sidenav-content {
    display: contents;
}

.example-sidenav {
    padding: 20px;
    height: calc(100vh - 55px);
    position: fixed;
    top: 55px;
    /* min-width: 300px; */
}

mat-form-field {
    width: 100%;
}

.btn-close-modify-price {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    opacity: .5;
}

.attach-file {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadada73;
    backdrop-filter: blur(10px);
}

.btn-close-file {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    /* opacity: .5; */
}

.img-product {
    max-height: 200px;
    object-fit: contain;
}
