.mat-form-field-wrapper {
    padding: 0 !important;
}

.cursor_copy {
    cursor: copy;
    color: darkcyan;
}

.cursor_copy:hover {
    color: green;
}

.cursor_copy:active {
    /* transform: scale(.2); */
    font-size: xx-small;
    transition: 1s all;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.badge-go div {
    background-color: gray;
    margin: 3px;
    border-radius: 5px;
    padding: 1px 8px;
    font-size: 10px;
    display: inline-block;
}

.badge-go a {
    color: cyan;
    font-weight: 400;
}

.badge-go {
    max-height: 60vh;
    bottom: 41px;
    overflow: auto;
    right: 0;
    opacity: 0.4;
}

.badge-go:hover {
    opacity: 1;
}

.view-all-name {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2000
}

.go-on {
    transform: translateX(0%);
    transition: all 1s;
}

.go-off {
    transform: translateX(114%);
    transition: all 1s;
}

.anim-go {
    animation: go_animation 1s normal;
}

.card-columns {
    column-count: 2;
}

@media (max-width:600px) {
    .card-columns {
        column-count: 1;
    }
}

@keyframes go_animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        color: greenyellow;
    }
    100% {
        transform: scale(1);
    }
}
