.mat-chip {
    height: auto;
}

.btn-close-sidebar {
    position: absolute;
    top: 5px;
    right: 101%;
    z-index: 1;
}

.example-sidenav{
    overflow: initial;
}

.img-product {
    width: 50px !important;
    height: 50px !important;
    object-fit: contain;
}


/* .card-columns {
    column-count: 2;
} */