<h3 class="m-0 text-muted">{{data.name}}</h3>
<div class="font-5xl font-facebook list-group-item-accent-warning" mat-dialog-title>{{data.title}}</div>
<div mat-dialog-content>
    <p *ngIf="data.isHtml;else noHtml" [innerHTML]="data.info"></p>
    <ng-template #noHtml>
        <p>{{data.info}}</p>

    </ng-template>

    <!-- <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>