.input-default {
    outline: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px 15px;
    font-weight: bold;
    padding-right: 35px;
    font-size: 1.3em;
    padding-left: 40px;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    height: 45px;
}

.btn-default {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    font-size: 18px;
    color: gray;
    position: absolute;
    left: 9px;
}

.content-btns {
    position: absolute;
    right: 14px;
}

.grid-default {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.loading-container {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    margin: 10px;
    
}

.loading-container > div {
    background: #dadada3d;
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
}
