<div [style]="styles">
    <div *ngIf="title">
        <h2 class="my-2 font-3xl">{{title}} <ng-content select="[moreTitle]"></ng-content>
        </h2>
    </div>
    <div class="sticky-top">
        <div class="content-input p-1 position-relative center">
            <input [placeholder]="placeholder" (keydown.enter)="searchText()" [(ngModel)]="textSearch" class="input-default" type="text">
            <div class="content-btns">
                <button (click)="searchText()" class="btn-default"><i class="fas fa-search"></i></button>
                <ng-content select="[inputBtn]"></ng-content>
            </div>
        </div>
        <div>
            <ng-content select="[comment]"></ng-content>
        </div>
    </div>
    <div>
      <ng-container *ngIf="!isLoading && paginator.length > 0">

            <ng-content select="[data]"></ng-content>
        </ng-container>
        <div class="text-center" *ngIf="isLoading">
            <div class="d-flex text-muted justify-content-center my-2">
                <p class="font-2xl">Cargando espere ...</p>
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
        </div>
        <div *ngIf="paginator.length <= 0 && !isLoading">
            <h2 class="text-center">No hay resultados</h2>
        </div>
        <mat-paginator [hidden]="isLoading" *ngIf="paginator.length > 0" [pageSizeOptions]="[10, 20, 30]"
            (page)="changePaginator($event)" showFirstLastButtons [pageSize]="paginator.pageSize"
            [length]="paginator.length" [pageIndex]="paginator.pageIndex">
        </mat-paginator>
    </div>
</div>
