<div [style]="styles">
  <div *ngIf="title">
    <h2 class="my-2 font-3xl">
      {{ title }}
      <ng-content select="[moreTitle]"></ng-content>
    </h2>
  </div>
  <div class="mt-3 sticky-top">
    <div [class]="classes" class="content-input p-1 position-relative center">
      <button (click)="searchText()" class="btn-default"><i class="fa-solid fa-magnifying-glass"></i></button>
      <input
        #searchInput
        [placeholder]="placeholder"
        (keydown.enter)="searchText()"
        [(ngModel)]="textSearch"
        class="input-default p-2"
        type="text" />
      <div>
        <ng-content select="[inputBtn]"></ng-content>
      </div>
    </div>
    <div>
      <ng-content select="[comment]"></ng-content>
    </div>
  </div>
  <div>
    <ng-container *ngIf="!isLoading && paginator.length > 0">
      <ng-content select="[data]"></ng-content>
    </ng-container>
    <div class="text-center" *ngIf="isLoading">
      <div class="text-muted justify-content-center my-2">
        <p class="font-2xl">{{ commentLoading }}</p>
        <mat-progress-bar color="accent" mode="buffer"></mat-progress-bar>
      </div>
    </div>
    <div *ngIf="paginator.length <= 0 && !isLoading && isLoading !== undefined">
      <h2 class="text-center">No hay resultados</h2>
    </div>
    <div class="font-weight-lighter lead m-3 text-center" *ngIf="isLoading === undefined">
        Comienza a buscar
    </div>
    <mat-paginator
      [hidden]="isLoading"
      *ngIf="paginator.length > 0"
      (page)="changePaginator($event)"
      [showFirstLastButtons]="true"
      [pageSize]="paginator.pageSize"
      [length]="paginator.length"
      [pageIndex]="paginator.pageIndex"></mat-paginator>
  </div>
</div>
