<div style="height: calc(100vh - 55px);">
  <div class="my-3 position-absolute">
    <button (click)="goBack()"  mat-mini-fab><mat-icon>arrow_back</mat-icon></button>
  </div>
  <div class="row h-100 center">
    <div class="col-md-6 center">
      <div  class="col-9">
        <h1 class="font-4xl font-weight-bold text-center">{{ title }}</h1>
        <mat-card class="w-100">
          <div>
            <form [formGroup]="form">
              <div>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Titulo" formControlName="title" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="w-100">
                  <input type="number" matInput placeholder="Precio" formControlName="price" />
                  <span matPrefix>$ </span>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="w-100">
                  <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="w-100">
                  <mat-select #selectType placeholder="Estado"  formControlName="status">
                    <mat-option select value="active">Activo</mat-option>
                    <mat-option value="inactive">Inactivo</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              
              <!-- <div>
                <mat-form-field class="w-100">
                  <mat-select #selectType placeholder="Tipo de duración" formControlName="duration_type">
                    <mat-option value="undefined">Indefinido</mat-option>
                    <mat-option value="date_range">Rango de Fechas</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
              <!-- <div [hidden]="selectType.value != 'date_range'">
                <div>
                  <mat-form-field class="w-100">
                    <input readonly #dateMin matInput placeholder="Fecha Inicio" formControlName="start_date" />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="w-100">
                    <input readonly #dateMax matInput placeholder="Fecha Fin" formControlName="end_date" />
                  </mat-form-field>
                </div>
              </div> -->
              <div>
                <button [disabled]="isLoading" (click)="saveInServer()" color="primary" mat-raised-button><mat-icon>save</mat-icon> Guardar</button>
              </div>
            </form>

          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="productsSelected.size < 1; else TemplateProducts">
        <h3>Sin productos seleccionados</h3>
      </div>
      <ng-template #TemplateProducts>
        <div>
          <h3 class="font-3xl font-weight-bold">Productos seleccionados</h3>
          <div>
            <div class="my-3 item-product" *ngFor="let product of productsSelected | keyvalue">
                <div class="d-flex align-items-center">
                  <img class="img-product mr-2" [src]="product.image || 'assets/img/img_not_available.png'" alt="produt image">
                  <div>
                    <h3 class="m-0"><span class="text-danger">#{{product.value.code}} </span>{{ product.value.name }}</h3>
                    <h4 class="m-0">Cantidad: {{product.value?.quantity}} <button (click)="editQuantity(product.key)" color="primary" mat-icon-button><mat-icon>edit</mat-icon></button></h4>
                  </div>
                </div>
                <button (click)="deleteProduct(product.key)" color="warn" mat-icon-button><mat-icon>delete</mat-icon></button>
            </div>
          </div>
        </div>
      </ng-template>
      <button (click)="hiddenSearchProducts = false" mat-raised-button color="primary">Buscar productos</button>
    </div>
  </div>

  <div [hidden]="hiddenSearchProducts">
    <app-search-products (add)="addProduct($event)" (isClose)="hiddenSearchProducts = true" [(productsSelected)]="productsSelected" [urlSearch]="'catalogs/campaigns/promotions/search-products'">
      <ng-template let-product>
        <h5 *ngIf="product?.value?.quantity">Cantidad: {{product?.value?.quantity}}</h5>
      </ng-template>
      
    </app-search-products>
  </div>
  <div [hidden]="hiddenAddQuantity" class="container-quantity">
    <div class="col-md-3">
      <mat-card>
        <h3>{{productsSelected.get(currentKey)?.name}}</h3>
        <mat-form-field class="w-100">
          <input #inputQuantity min="1" [formControl]="formControlQuantity" matInput placeholder="Cantidad">
        </mat-form-field>
        <div>
          <button (click)="addQuantity();" color="primary" mat-raised-button>Guardar</button>
          <button (click)="quitAddQuantity();" class="ml-2" color="warn" mat-raised-button>Cerrar</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="campaign" class="campaign">
  Campaña : <span class="text-success">#{{campaign.id}} {{campaign.title}}</span>
</div>