.container-quantity {
    position: fixed;
    z-index: 1021;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000024;
    backdrop-filter: blur(2px);
}

.item-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 10px;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}

.img-product {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}


.campaign {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    padding: 5px 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: .8;
}