/* .photo-user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.input-search {
  border: none;
  box-shadow: 0px 0px 6px #dadada;
  padding: 11px;
  margin: 10px;
  border: 2px solid;
  width: 100%;
  border-radius: 22px;
}

.img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.btn-search {
  position: absolute;
  top: 13px;
  right: 13px;
}

.search-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.file-img {
  position: absolute;
  left: 59%;
  top: 15%;
} */

.container-photo-group {
  position: relative;
  display: inline-block;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 9px #c7bebe;
    border: 1px solid #80808099;
    object-fit: contain;
  }
  span {
    position: absolute;
    top: -10px;
    right: -10px;
  }
}

.text-group-chat-name {
  background: #e7e7e7;
  border: none;
  max-width: 500px;
  margin-left: 20px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  width: -webkit-fill-available;
}

.container-input-search-participant {
  background: #dadada99;
  border-radius: 10px;
  // width: 90%;
  height: 40px;
  box-shadow: 1px 1px 4px #dadada;
  padding: 10px 15px;
  display: flex;
  input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 13px;
    background-color: transparent;
  }
  button {
    border: none;
    background: transparent;
  }
}

.item-group {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 18px;
  justify-content: space-between;
  .info-group {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 9px #c7bebe;
    border: 1px solid #80808099;
  }
  .btn-participant {
    width: auto;
    font-size: small;
    color: blue;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.participant-container {
  max-height: 500px;
  overflow-y: auto;
}

.header-chat-group {
  display: flex;
  align-items: center;
}

.btn-admin {
  border: none;
    padding: 4px 9px;
    border-radius: 10px;
}