<div class="p-0 list-chats-container main-style shadow scrollbar-fz" [hidden]="!isOpen">
  <div class="header-chat border-bottom font-3xl font-weight-bold ng-tns-c186-1 p-3">
    <span *ngIf="tabActive=== 'chats'" >Chats</span>
    <span *ngIf="tabActive=== 'users'">Users</span>
    <div>
      <button (click)="openCreateChatGroup()"><img src="/assets/img/add-group.png" alt=""></button>
      <button (click)="toggleChatAndUser()"><i [ngClass]="tabActive === 'chats' ? 'fa-solid fa-magnifying-glass': 'fa-regular fa-comments'"></i></button>
      <button mat-button [matMenuTriggerFor]="menuRef"><i class="fa-solid fa-robot"></i></button>
      <mat-menu #menuRef="matMenu">
          <button mat-menu-item *ngFor="let bot of bots" (click)="openChatBot(bot.id)">
            <img class="photo-chat" [src]="bot?.img" alt="img">
            <span class="font-weight-bold">{{ bot?.name }}</span>
          </button>
      </mat-menu>
    </div>
  </div>
  <div>
    <div [hidden]="tabActive !== 'chats'">
      <ul>
        <li (click)="openChatOfChat(chat.id)" class="item-chat" *ngFor="let chat of chats | chatSort; trackBy: trackByChat ">
          <div class="position-relative">
            <img class="photo-chat" [src]="chat?.img || 'assets/img/user_group.png'" alt="img">
            <span *ngIf="chat.connected" class="point-online-chat"></span>
          </div>
          <div class="info-chat">
            <div class="name-chat">{{ chat?.name }}</div>
            <div class="last-message-chat text-truncate"><ng-container
              *ngIf="chat?.lastMessage?.author_user_id === myUser.id"
              >
              <i
                style="font-size: 10px;"
                [ngClass]="chat?.lastMessage.is_readed_for_all ? 'fa-solid fa-check-double' : 'fa-solid fa-check' "
                ></i>&nbsp;
            </ng-container>{{ chat?.lastMessage?.text }}</div>
          </div>
          <div class="center">
            <span class="date-chat">{{ chat?.lastMessage?.created_at < now ? (chat?.lastMessage?.created_at | date: 'shortDate') : (chat?.lastMessage?.created_at | date: 'shortTime') }}</span>
            <span *ngIf="chat?.data?.unread_messages_count" class="badge badge-primary badge-pill ml-2">{{ chat?.data?.unread_messages_count }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div style="overflow-x: hidden;" [hidden]="tabActive !== 'users'">
      <app-chats-users-list (openChatEmit)="openChatUser($event)"></app-chats-users-list>
    </div>
  </div>
</div>

<div [ngStyle]="{'right': isOpen ? '270px': '5px'}" class="chat-template">
  <ng-template createHost></ng-template>
</div>
