<header class="header-fz px-2 px-md-3 py-2 shadow-sm">
  <nav class="h-100 d-flex justify-content-between">
    <span class="content-brand">
      <img [routerLink]="['/home/inicio']" style="width: 180px;"  class="d-none d-md-inline-block" src="assets/vectores/logo.svg" alt="logo-company">
      <img [routerLink]="['/home/inicio']" style="width: 35px;" class=" d-inline-block d-md-none" src="assets/vectores/semi-logo.svg" alt="logo-company">
      <button (click)="openOrCloseMenu()" class="btn-open-menu">
        <i class="fas fa-stream"></i>
      </button>
    </span>
    <div class="d-flex">
      <ng-content></ng-content>
    </div>
  </nav>
</header>
