<div class="">
    <div>
        <div class="">
            <a [href]="prestashop_product.vtex_product.link" target="_blank">
              <!-- <img class="rounded-fz img-product w-100" [src]="(prestashop_product.self_combination && prestashop_product.self_combination.image) ? prestashop_product.self_combination.image : prestashop_product.image" alt=""></a> -->
              <img class="rounded-fz img-product w-100" [src]="rediredImgBag(prestashop_product?.images)" alt=""></a>
            <div style="top: 10px;left: 10px;" class="position-absolute text-left">
                <span class="mb-1 badge  bg-warning text-white mt-2">PÁGINA WEB</span><br>
                <!-- <span *ngFor="let company of ml.account.companies_access" class="mb-1 badge font-lg bg-pink text-white">
                    {{company.name}}</span><br> -->
                <!-- <span class="mb-1 badge font-lg  bg-green text-white">{{ml.account.city.name}}</span><br> -->
                <!-- <span class="mb-1 badge  bg-green text-white">{{prestashop_product.name}}</span> -->
            </div>
        </div>
        <button mat-mini-fab (click)="openDescription()">
            <mat-icon class="mat-18">read_more</mat-icon>
        </button>
        <!-- <a [href]="rediredImgBag(prestashop_product?.images)" target="_self" download mat-mini-fab color="warn">
          <mat-icon class="material-icons-outlined">file_download</mat-icon>
        </a> -->
        <div class="card-body pt-1">
            <div class="w-100">
                <!-- <mat-card-title>{{prestashop_product.name}}</mat-card-title> -->
                <!-- <p *ngIf="ml.description" [innerHTML]="ml.description"></p> -->
                <!-- <p *ngIf="ml.stock" class=" text-muted">
                    <span>Stock Inical: {{ml.stock.initial_quantity}}</span> - <span>Vendido:
                        {{ml.stock.sold_quantity}}</span> - <span class="text-success">Disponible:
                        {{ml.stock.available_quantity}}</span>
                </p> -->
                <div>
                    <!-- <a [href]="prestashop_product.self_combination ? prestashop_product.self_combination.link : prestashop_product.link" mat-raised-button target="_blank" color="primary">Ver en Web </a> -->
                    <span style="font-family: SEGOE UI;" class="mat-button text-value text-success" color="accent">{{prestashop_product.full_price | currency}}</span>

                    <!-- <button mat-raised-button (click)="openDescription()" color="accent">Ver descripcion</button> -->
                </div>
                <!-- <div *ngIf="ml.status == 'payment_required'" class="col-lg-12 mt-2 col-md-12 col-sm-12" style="margin: 0px">
                    <div class="alert alert-warning">
                        <button type="button" class="close"></button>
                        <strong>Atención!</strong> Este item ha sido publicado como <b>"{{ml.listing_type_id
                            }}"</b> pero requiere de pago para ser visible. <b>Páguese en la cuenta
                            {{ml.account.user_name}}</b>
                    </div>
                </div> -->
            </div>
            <div class="col-md-4 text-right">
                <!-- <ng-container *ngIf="ml.listing_type_id == 'gold' || ml.listing_type_id == 'silver'">
                    <span class="text-uppercase {{ml.listing_type_id}}">
                        <i class="fas fa-coins {{ml.listing_type_id}}"></i>
                        PUBLICACIÓN {{ml.listing_type_id}}
                    </span>
                    <br>
                </ng-container> -->


            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 info-panel">
                <div class="text-center">
                    <small class="font-italic font-sm font-weight-bold">Actualizado por última vez:
                        {{prestashop_product.updated_at
                        | amLocale:'es' |
                        amTimeAgo}}</small>
                </div>
                <div class="options-bar">
                    <!-- <span [ngClass]=" ml.status == 'closed'?'list-group-item-dark':'list-group-item-success'" class="mat-button d-inline-flex align-items-center">
                        <mat-icon>{{(ml.status != 'closed') ? 'play_circle_outline' : 'stop'}}</mat-icon>
                        <span class="text-uppercase">{{ml.status }}</span>
                    </span> -->



                    <!-- <span class="mat-button list-group-item-info d-inline-flex align-items-center">
                        <mat-icon>access_alarm</mat-icon>
                        <span>{{(ml.status == 'closed') ? 'Finalizado' : 'Finaliza'}} {{ ml.stop_time |
                            amLocale:'es' |
                            amTimeAgo }} </span>
                    </span> -->

                    <!-- <span *ngIf="ml.relist_forever == 'on'" class="mat-button list-group-item-secondary d-inline-flex align-items-center">
                        <mat-icon>restore</mat-icon><span>Republicación Activada </span>
                    </span>
                    <ng-container *ngIf="ml.menu">
                        <div class="float-right">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <div class="px-2 font-weight-bold text-center">{{ml.menu.type}}</div>
                                <button (click)="executeMenu(itemMenu.type,ml.id,i)" *ngFor="let itemMenu of ml.menu.availablesItems;index as i " mat-menu-item>
                                    <mat-icon>{{itemMenu.icon}}</mat-icon>
                                    <span>{{itemMenu.label}}</span>
                                </button>
                            </mat-menu>
                        </div>
                    </ng-container> -->
                </div>
            </div>
        </div>
    </div>
</div>
