<div class="pb-3">
  <h3 class="font-5xl mt-3 font-weight-bold">{{title}}</h3>

  <mat-card>
    <form (ngSubmit)="saveOrEditInServer()" [formGroup]="formWork" class="card-body">
      <div class="row">

        <!-- tile -->
          <div class="col-md-10 col-12">
            <mat-form-field class="w-100">
              <mat-label>Titulo</mat-label>
              <input matInput placeholder="Ingrese su titulo" formControlName="title" required>
              <mat-error *ngIf="formWork.get('title').invalid">Este campo es requerido</mat-error>
            </mat-form-field>
          </div>

           <!-- salary -->
           <div class="col-md-2 col-12">
            <mat-form-field class="w-100">
              <mat-label>Salario</mat-label>
              <input matInput type="number" placeholder="Ingrese el salario" formControlName="salary">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          </div>

          <!-- description -->
          <div class="col-12">
            <mat-form-field class="w-100">
              <mat-label>Descripcion</mat-label>
              <textarea matInput placeholder="Ingrese la descripcion" formControlName="description" required></textarea>
              <mat-error *ngIf="formWork.get('description').invalid">Este campo es requerido</mat-error>
            </mat-form-field>
          </div>



           <!-- time -->
           <div class="col-md-3 col-12">
            <mat-form-field class="w-100">
              <mat-label>Tiempo</mat-label>
              <mat-select formControlName="time">
                <!-- <mat-option *ngFor="let department of departments_position" [value]="department.id">{{department.name}}
              </mat-option> -->
                <mat-option [value]="'full_time'">Tiempo completo</mat-option>
                <mat-option [value]="'part_time'">medio Tiempo</mat-option>
                <mat-option [value]="'freelance'">Freelance</mat-option>
                <mat-option [value]="'temporary'">Temporal</mat-option>
              </mat-select>
              <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>
          </div>
          <!-- expiration_date -->
          <div class="col-md-3 col-12">
            <mat-form-field class="w-100">
              <mat-label>Fecha de Expiración</mat-label>
              <input formControlName="expiration_date" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- department_position_id -->
          <div class="col-md-3 col-12">
            <mat-form-field class="w-100">
              <mat-label>Departamento</mat-label>
              <mat-select formControlName="department_position_id">
                <mat-option *ngFor="let department of departments_position" [value]="department.id">{{department.name}}
                </mat-option>
              </mat-select>
              <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>
          </div>
          <!-- city_id -->
          <div class="col-md-3 col-12 d-flex">
            <mat-form-field class="w-100">
              <mat-label>Ciudad</mat-label>
              <mat-select formControlName="city_id">
                <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
              </mat-select>
              <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>
          </div>

          <!-- skills -->
          <div class="col-12 border p-3 my-3 rounded-fz">
            <div class=" my-2 font-2xl">Ofrecimientos</div>
            <ng-container formArrayName="skills">
              <ng-container *ngFor="let skill of skillsForm.controls; let i = index">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Ofrecimiento {{i}}</mat-label>
                  <input matInput placeholder="Ingrese un ofrecimiento" [formControl]="skill" required>
                  <!-- <mat-error *ngIf="formWork.get('title').invalid">Este campo es requerido</mat-error> -->
                  <button type="button" mat-icon-button matSuffix (click)="removeFormSkill(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-form-field>
              </ng-container>
              <button type="button" class="my-1" mat-raised-button (click)="addSkill()">Agregar ofrecimiento</button>
            </ng-container>
          </div>

          <!-- requeriments -->
          <div class="col-12 border p-3 my-3 rounded-fz">
            <div class="my-2 font-2xl">Requerimientos</div>
            <ng-container formArrayName="requiments">
              <ng-container *ngFor="let requeriment of requimentsForm.controls; let i = index">
                <mat-form-field class="w-100">
                  <mat-label>Requerimiento {{i}}</mat-label>
                  <input matInput placeholder="Ingrese el requerimiento" [formControl]="requeriment" required>
                  <button type="button" mat-icon-button matSuffix (click)="removeFormRequeriement(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-form-field>
              </ng-container>
              <button type="button" class="my-1" mat-raised-button (click)="addRequirement()">Agregar
                requerimiento</button>
            </ng-container>
          </div>
      </div>
      <button color="primary" type="submit" [disabled]="isLoading" mat-raised-button>Guardar</button>
    </form>
  </mat-card>
</div>
