.section-order {
  border: 3px solid #dadadaa1;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.editing-item {
  position: fixed;
  display: flex;
  height: 100vh;
  top: 0;
  z-index: var(--z-index);
  background: #ffffff8a;
  width: 100%;
  left: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(9px);
}

.img-product-item {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.close-search-product-btn {
  position: absolute;
  top: 16px;
  left: -59px;
}

.search-product {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  // width: 300px;
  background-color: white;
  height: 100vh;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.close-search-product {
  transform: translateX(calc(100% + 40px));
  transition: all 0.3s;
}

.product-item {
  gap: 10px;
  border: solid 3px #dadada;
  border-radius: 15px;
  flex-wrap: wrap;
}


// .input-price {
//   width: 84px;
// }

.input-quantity {
  width: 84px;
}

// .input-product {
//   background: #dadada;
//   border-radius: 10px;
//   font-size: 15px;
//   padding: 10px;
//   border: none;
//   outline: none;
//   margin-right: 10px;
//   width: 100%;
// }

.table-container-products {
  max-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.table-header-products {
  position: sticky;
  top: 0;
  z-index: 1;
}
