<h1 matDialogTitle>{{title}}</h1>

<mat-dialog-content>
    <div [formGroup]="form">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Origen</mat-label>
        <mat-select placeholder="Origen" formControlName="origin_id" name="item">
          <mat-option *ngFor="let origin of origins" [value]="origin.id">
            {{origin.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Numero de secuencia</mat-label>
        <input matInput formControlName="sequence_number" type="number" placeholder="Numero de secuencia" value="value">
      </mat-form-field>

      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Fecha de arribo</mat-label>
        <input matInput formControlName="arrival_date" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button color="warn" mat-button matDialogClose>Cerrar <i class="fa-solid fa-xmark"></i></button>
    <button color="primary" mat-button [disabled]="isLoading" (click)="saveInServer()">Guardar <i class="fa-regular fa-floppy-disk"></i></button>
    
</mat-dialog-actions>
