<mat-card>
  <!-- <ngx-spinner name="isload-chart-category" bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="rgba(0, 0, 0,0.5)"
    type="ball-triangle-path" [fullScreen]="false">
    <p class="mt-5 pt-5 font-montserrat rounded-fz" style="color: #7e7b7b"> Cargando... </p>
  </ngx-spinner> -->
  <h3 class="text-monospace font-4xl font-weight-bolder">Ventas por categorías</h3>

  <mat-button-toggle-group [(ngModel)]="key" (change)="updateChart($event)" class="rounded-fz border-transparent" name="key"
    aria-label="Font Style">
    <mat-button-toggle color="accent" value="category-sales">Por ventas en dolares</mat-button-toggle>
    <mat-button-toggle color="accent" value="category-sales-count">Por numero de ventas</mat-button-toggle>
  </mat-button-toggle-group>
  <div style="height: 400px;" class="d-flex align-items-center position-relative">
    <!-- <canvas id="chart-categories"></canvas> -->
    <div echarts [options]="options" [loading]="isLoading" [merge]="updateOptions"  theme="macarons" class="demo-chart w-100"></div>
    <!-- <div echarts [options]="options" [loading]="isLoading" [merge]="updateOptions"  theme="macarons" class="demo-chart w-100"></div> -->

  </div>
</mat-card>