<div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 90px);">
    <div>
        <div class="text-center">
            <img class="w-50" src="assets/logos/mercado-libre.svg" alt="logo ml" />
        </div>
        <div class="text-center">
            <h2 class="font-facebook font-2xl">Has iniciado sesión con exito cierra esta ventana para continuar</h2>
            <button (click)="salir()" type="button" class="btn btn-primary">Continuar</button>
        </div>
    </div>
</div>
