// @import "variables";
// @import "~@coreui/coreui/scss/coreui";
@import "~air-datepicker/air-datepicker.css";
// @import "custom";
@import "theme";
// @import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

:root {
  --max-height-noty: 80vh;
  --z-index: 1000;
}

mat-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 15px !important;
}

.app,
app-dashboard,
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
}

//customs
td {
  vertical-align: middle !important;
}


.mat-table td, .mat-table th {
  max-width: 180px;
  padding: 0 10px !important;
}

.fw-bold {
  font-weight: bold !important;
}


.font-2xl,
.font-3xl,
.font-4xl,
.font-5xl {
  line-height: 1 !important;
}

.container-html img {
  width: 100%;
  height: 100%;
}

.grid-newsletters img {
  max-width: 100%;
}

.ngx-daterangepicker-material {
  z-index: 10000;
}

.attach .filepond--drop-label {
  color: #ffc107 !important;
  background-color: #2f353a !important;
  border-radius: 20px !important;
}
a {
  text-decoration: none !important;
}
.markdown p {
  font-weight: 500;
  font-size: 14px;
  margin: 0 !important;
}


.justify-end > div {
  display: block;
}

button {
  outline: none;
}

a img {
  object-fit: contain;
  height: 200px;
}

// .navbar-brand-full,
// .navbar-brand,
// .navbar-brand-minimized {
//   height: auto !important;
// }

canvas {
  outline: none;
}

.mat-card-header-m-0 div {
  margin: 0;
}

.mat-tab-labels {
  background-color: #e4e7ea !important;
}

.line-1 {
  line-height: 1 !important;
}

.border-dot {
  border: 2px dotted #0782d0;
  border-radius: 30px;
  height: auto;
  margin: auto;
}

.air-datepicker-global-container{
  z-index: var(--z-index);
}

// .mat-form-field {
//   line-height: 1.3;
// }

// .cdk-overlay-container {
//   z-index: var(--z-index);
// }

.z-index {
  z-index: var(--z-index);
}

// button {
//   outline: none !important;
// }

.bg-default {
  background-color: paleturquoise;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opaque-blur {
  background-color: rgba(255, 255, 255, 0.6);
  /* backdrop-filter: blur(10px); */
  z-index: 100;
}

.mat-menu-item:hover:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {
  color: #2f353a;
}
.app-header .navbar-brand {
  position: relative;
  margin-left: 0;
  left: 0;
}

.parpadeo {
  animation: parpadeo 2s infinite;
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .mat-table {
    overflow-x: auto;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: inherit;
    overflow: hidden;
    vertical-align: middle;
    max-width: 200px;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
}

.cp {
  cursor: pointer;
}

.dark-theme .sidebar1 .content-sidebar {
  background-color: $dark-bg;
  color: #ffffff;
}

.main-style {
  background-color: #ffffff;
}

.dark-theme .main-style {
  background-color: $dark-bg;
}

.tab-content {
  border: none;
}

.shadow-fz {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transition: 0.5s linear;
}

.shadow-fz:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  transition: 0.5s linear;
}

.chat-template .nav-tabs {
  background: #dadada;
  .nav-link {
    border: none !important;
  }
}

.pulso:hover {
  color: green;
}

.pulso:active {
  /* transform: scale(.2); */
  font-size: xx-small;
  transition: 1s all;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.mat-dialog-container {
  border-radius: 10px !important;
}

.body.main {
  min-height: calc(100vh - 55px);
}

.dark-theme .shadow-1-fz {
  box-shadow: 7px 7px 14px #353535, -7px -7px 14px #000000 !important;
}

.light-theme .shadow-1-fz {
  box-shadow: 7px 7px 14px #989898, -7px -7px 14px #ffffff !important;
}

//#region seccion radios
.rounded-fz {
  border-radius: 20px !important;
}
.rounded-md-fz {
  border-radius: 30px !important;
}
.rounded-lg-fz {
  border-radius: 40px !important;
}

// #region sección scrollbar
.scrollbar-fz::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.scrollbar-fz::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

.scrollbar-fz::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #2ab0ed 0%, #bfe8f9 50%, /* #9fd8ef 51%, */ #2ab0ed 100%);
}
// #endregion sección scrollbar


.swal2-modal {
  font-weight: 700 !important;
  border-radius: 10px !important;
  button {
    border-radius: 20px !important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-weight: bold;
  }
}

.custom-menu-notification {
  max-height: var(--max-height-noty) !important;
  padding: 5px !important;
  border-radius: 10px !important;
  // max-height: 80vmax;
  // padding-bottom: 0 !important;
}

.mat-line {
  font-weight: inherit !important;
}
// #endregion font-weight input material

.shadow-filter {
  filter: drop-shadow(0px 1px 3px rgba(60, 64, 67, 0.3));
}

.bg-ro-fz {
  background: #ff00004d;
}

.btns-action {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-close {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

// add color to angular material

// success color
.mat-success {
  color: #fff !important;
  background-color: #6bcb77 !important;
}

// .mat-success[disabled] {
//   background-color: rgba(0, 0, 0, 0.12) !important;
// }
.mat-info {
  color: #fff;
  background-color: #4d96ff;
}

// warning color
.mat-warning {
  color: white;
  background-color: #ffc107;
}

// .mat-orange {
//   color: #fff !important;
//   background-color: #e6521d !important;
// }

.mat-btn-add {
  color: #fff !important;
  background-color: #e6521d !important;
}

// .mat-warning[disabled] {
//   background-color: rgba(0,0,0,.12);
//   background-color: rgba(0,0,0,.12);
// }
// end color angular material

@media (max-width: 576px) {
  .card-columns {
    column-count: 1 !important;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.pre-load-animation * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: all 0s !important;
}

.mat-form-padding {
  padding-right: 15px;
  padding-left: 15px;
}

.font-2xl {
  font-size: 1.2rem !important;
}

.font-3xl {
  font-size: 1.5rem !important;
}

.font-4xl {
  font-size: 2.2rem !important;
}

.font-5xl {
  font-size: 2.4rem !important;
}

.font-xs {
  font-size: small;
}

.font-sm {
  font-size: smaller;
}

.bg-stack-overflow {
  background: #f48024 !important;
}

.mat-select-trigger {
  height: auto;
}

.btn-icon-edit {
  color: #4d96ff !important;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin: 2px;
  font-size: 15px;
}

.btn-icon-delete {
  color: #e6521d !important;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin: 2px;
  font-size: 15px;
}

.badge-fz {
  padding: 5px 8px;
  border-radius: 8px;
}

.mat-raised-button {
  border-radius: 7.28349% / 19.0476% !important;
  height: 42px;
}