// @import "variables";
// @import "~@coreui/coreui/scss/coreui";
@import "~air-datepicker/air-datepicker.css";
// @import "custom";
@import "theme";
@import "custom-colors";
// @import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
// @import "~quill/dist/quill.core.css";
// @import "~quill/dist/quill.bubble.css";
// @import "~quill/dist/quill.snow.css";

// test
.img-zoom {
  position: fixed;
  z-index: 1000;
  width: 100% !important;
  top: 0;
  right: 0;
  padding: 20px;
  height: 100% !important;
  background: #f0f8ff57;
  object-fit: contain !important;
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.table {
  color: inherit !important;
}

:root {
  --max-height-noty: 80vh;
  --z-index: 999;
  --btn-create: #38817a;
  --btn-edit: #1d60e2;
  --btn-delete: #e74c3c;
  --width-sidebar: 215px;
}

mat-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 15px !important;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.app,
app-dashboard,
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
}

//customs
td {
  vertical-align: middle !important;
}

// cambio de color las letras de la tabla en el header
.mdc-data-table__header-cell {
  font-weight: 600 !important;
  color: gray;
}

.mat-mdc-table td,
.mat-mdc-table th {
  max-width: 180px;
  padding: 0 10px !important;
}

.fw-bold {
  font-weight: bold !important;
}

.font-2xl,
.font-3xl,
.font-4xl,
.font-5xl {
  line-height: 1 !important;
}

// begin custom ngx-search-bar styles
.nsb {
  .nsb-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #475b6c;
  }
}

// end custom ngx-search-bar styles

.container-html img {
  width: 100%;
  height: 100%;
}

.grid-newsletters img {
  max-width: 100%;
}

.attach .filepond--drop-label {
  color: #ffc107 !important;
  background-color: #2f353a !important;
  border-radius: 20px !important;
}
a {
  text-decoration: none !important;
}
.markdown p {
  font-weight: 500;
  font-size: 14px;
  margin: 0 !important;
}

.justify-end > div {
  display: block;
}

button {
  outline: none;
}

a img {
  object-fit: contain;
  height: 200px;
}

.line-1 {
  line-height: 1 !important;
}

.air-datepicker-global-container {
  z-index: calc(var(--z-index) + 1) !important;
}

.z-index {
  z-index: var(--z-index);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-menu-item:hover:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {
  color: #2f353a;
}
.app-header .navbar-brand {
  position: relative;
  margin-left: 0;
  left: 0;
}

@media (max-width: 768px) {
  .mat-table {
    overflow-x: auto;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: inherit;
    overflow: hidden;
    vertical-align: middle;
    max-width: 200px;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
}

.cp {
  cursor: pointer;
}

.dark-theme .sidebar1 .content-sidebar {
  background-color: $dark-bg;
  color: #ffffff;
}

.main-style {
  background-color: #ffffff;
}

.dark-theme .main-style {
  background-color: $dark-bg;
}

.shadow-fz {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transition: 0.5s linear;
}

// .chat-template .nav-tabs {
//   background: #dadada;
//   .nav-link {
//     border: none !important;
//   }
// }

.mat-dialog-container {
  border-radius: 10px !important;
}

.body.main {
  min-height: calc(100vh - 55px);
}

//#region seccion radios
.rounded-fz {
  border-radius: 20px !important;
}

// #region sección scrollbar
.scrollbar-fz::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.scrollbar-fz::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

.scrollbar-fz::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #2ab0ed 0%, #bfe8f9 50%, /* #9fd8ef 51%, */ #2ab0ed 100%);
}
// #endregion sección scrollbar

.swal2-modal {
  font-weight: 700 !important;
  border-radius: 10px !important;
  button {
    border-radius: 20px !important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-weight: bold;
  }
}

.custom-menu-notification {
  max-height: var(--max-height-noty) !important;
  padding: 5px !important;
  border-radius: 10px !important;
}

.mat-line {
  font-weight: inherit !important;
}
.btn-close {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.btn-icon {
  background-color: #c9c1c147;
  border: none;
  padding: 5px;
  margin: 2px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-edit {
  color: var(--btn-edit);
}

.c-create {
  color: var(--btn-create);
}

.c-delete {
  color: var(--btn-delete);
}

.btn-icon:hover {
  background-color: #c9c1c1;
  border: none;
  padding: 5px;
  margin: 2px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.mat-create {
  background-color: var(--btn-create) !important;
  color: white !important;
  :not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
    color: rgb(255, 255, 255) !important;
  }
}

.mat-btn-add {
  color: #fff !important;
  background-color: #e6521d !important;
}

@media (max-width: 576px) {
  .card-columns {
    column-count: 1 !important;
  }
}

.mat-form-padding {
  padding-right: 15px;
  padding-left: 15px;
}

.font-2xl {
  font-size: 1.2rem !important;
}

.font-3xl {
  font-size: 1.5rem !important;
}

.font-4xl {
  font-size: 2.2rem !important;
}

.font-5xl {
  font-size: 2.4rem !important;
}

.font-xs {
  font-size: small;
}

.font-sm {
  font-size: smaller;
}

.btn-icon-edit {
  color: var(--btn-edit) !important;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin: 2px;
  font-size: 15px;
}

.btn-icon-delete {
  color: #e6521d !important;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin: 2px;
  font-size: 15px;
}

.badge-fz {
  padding: 5px 8px;
  border-radius: 8px;
}

.mat-raised-button,
.mat-flat-button {
  border-radius: 10px !important;
  height: 42px;
}

.icon-menu {
  padding: 5px;
  margin: 0 5px;
  background: #dadada;
  height: 30px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mat-mdc-table-sticky {
  border-left: 1px solid #dbdbdb;
}


.nsb-container-items-filter {
  display: flex;
  overflow: auto;
  gap: 0 5px;
  padding-top: 10px;
  flex-wrap: wrap;
}