<div>
  <app-search-template
    [title]="'Tickets'"
    placeholder="Buscar tickets"
    [url$]="url"
    (data)="getData($event)"
    active_filters_menu="true"
    [filter_data]="filters"
  >
    <ng-container data>
      <mat-card class="card border-0" *ngFor="let ticket of tickets">
        <div><small class="px-3 text-muted">Cliente</small></div>
        <mat-card-header>
          <mat-card-title
            >{{ ticket.client.first_name }}
            {{ ticket.client.last_name }}</mat-card-title
          >
          <mat-card-subtitle>
            <div><small class="text-muted">Asunto</small></div>
            {{ ticket.subject }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <div>
            <span class="mr-1">Estado:</span>
            <mat-chip
              selected
              [class]="ticket.status == 'open' ? 'bg-info' : 'bg-warning'"
              >{{ ticket.status == "open" ? "Abierto" : "Cerrado" }}</mat-chip
            >
          </div>
          <div>
            <table class="table-ticket table table-borderless table-sm">
              <tbody>
                <tr>
                  <td>Departamento:</td>
                  <td>{{ ticket.department.name }}</td>
                </tr>
                <tr>
                  <td># Orden:</td>
                  <td>{{ ticket.order.id }}</td>
                </tr>
                <tr>
                  <td>Fecha de creación:</td>
                  <td>{{ ticket.created_at | date }}</td>
                </tr>
                <tr>
                  <td>Mensajes sin leer:</td>
                  <td>
                    <span
                      [ngClass]="{
                        'bg-red text-white': ticket.user_unread_messages > 0
                      }"
                      class="badge font-xs"
                      >{{ ticket.user_unread_messages }}</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="px-3 py-2 rounded-fz shadow">
              <h4 class="mt-2 mb-1 text-black-50">Ultimo mensaje:</h4>
              <p class="message">{{ ticket.last_message.message }}</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions align="start">
          <!-- <button
            class="mr-1"
            color="accent"
            mat-raised-button
            [routerLink]="['create/order', ticket.order_id]"
            routerLinkActive="router-link-active"
          >
            Crear ticket
          </button> -->
          <div class="d-flex justify-content-between">
            <button
              *ngxPermissionsOnly="permissions.edit"
              color="primary"
              [routerLink]="[ticket.id]"
              routerLinkActive="router-link-active"
              mat-raised-button
            >
              Responder
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menuRef">
                <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          
          <mat-menu #menuRef="matMenu">
              <button *ngxPermissionsOnly="permissionOrderIndex" mat-menu-item [routerLink]="['/system-orders/orders']" [queryParams]="{search: ticket.order_id}" >
                  Ver orden
              </button>
              <button *ngxPermissionsOnly="permissions.create" mat-menu-item [routerLink]="['/system-orders/tickets/create']" [queryParams]="{order_id: ticket.order_id}">
                Crear ticket
            </button>
          </mat-menu>
        </mat-card-actions>
      </mat-card>
    </ng-container>
    <ng-container *ngxPermissionsOnly="permissions.create" menuBar>
      <mat-chip
        [routerLink]="['create']"
        class="ml-1 mat-btn-add"
        color="orange"
        ><mat-icon>add</mat-icon> Crear ticket</mat-chip
      >
    </ng-container>
    <ng-container filterMenu>
      <div
        mat-menu-item
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
      >
        <mat-form-field class="w-100">
          <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="filters.status">
            <mat-option value="">Todos</mat-option>
            <mat-option *ngFor="let status of statuses" [value]="status"
              >{{ status | translatefz }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div
        mat-menu-item
        [disableRipple]="true"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
      >
        <mat-form-field class="w-100">
          <mat-label>Departamentos</mat-label>
          <mat-select [(ngModel)]="filters.ticket_department_id">
            <mat-option value="">Todos</mat-option>
            <mat-option
              *ngFor="let department of departments"
              [value]="department.id"
              >{{ department.name | translatefz }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </app-search-template>
</div>
