<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
    <p>What's your favorite animal?</p>

    <mat-form-field>
        <mat-label>Nombre 1 *</mat-label>
        <input matInput formControlName="first_name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nombre 2 *</mat-label>
        <input matInput formControlName="last_name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Calle *</mat-label>
        <input matInput formControlName="street">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Numero </mat-label>
        <input matInput formControlName="number">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Vecindario </mat-label>
        <input matInput formControlName="neighborhood">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Ciudad *</mat-label>
        <input matInput formControlName="city">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Estado o provincia *</mat-label>
        <input matInput formControlName="state">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Codigo Zip </mat-label>
        <input matInput formControlName="zip_code">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="saveInServer()">Guardar</button>
    <button mat-button mat-dialog-close cdkFocusInitial color="warn">Cerrar</button>
</div>