.pending {
  background-color: #c8ced3 !important;
}

.generated_guide {
  background-color: #63c2de !important;
  color: white;
}
.shipped {
  background-color: #0066d4 !important;
  color: white;
}
.in_transit {
  background-color: #6610f2 !important;
  color: white;
}

.delivered {
  background-color: #4dbd74 !important;
  color: white;
}

.returned {
  background-color: #ffc107 !important;
  color: white;
}

.cancelled {
  background-color: #f86c6b !important;
  color: white;
}

.servientrega {
  // background-color: #009225 !important;
  background: green;
    color: white;
    padding: 2px 5px;
    margin: 5px;
    display: inline-block;
    transform: skewX(-24deg);
    text-transform: uppercase;
    font-family: unset;
}

.open-cv {
  transform: translateX(0%);
  transition: transform 0.3s;
}

.close-cv {
  transform: translateX(100%);
  transition: transform 0.3s;
}

.section-cv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: white;
}

.content-cv {
  width: 100vw;
  height: 100vh;
  /* position: relative; */
  top: 0;
  right: 0;
  position: absolute;
  background: #ffffff26;
  /* z-index: 10000; */
  backdrop-filter: blur(2px);
}

.btn-close-cv {
  position: absolute;
  right: calc(70% + 3px);
  z-index: 1;
  top: 5px;
}

.container-cv {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  background: white;
  height: 100vh;
}

.pickup{
  background: #2196f31f;
  color: #2196f3;
  margin: 5px;
  display: inline-block;
  text-transform: uppercase;
}

.body-info tr  {
   td:nth-child(1) {
    font-weight: 400;
    color: gray;
  }
}

