<div>
  <div class="mt-3 section-order">
    <div class="center justify-content-between flex-wrap">
      <!-- <ng-container *ngxPermissionsOnly="permissionsPayments.create">
        <button
          *ngIf="!isCancelled"
          color="primary"
          (click)="openDialog()"
          mat-raised-button
          class="mb-1"
        >
          Agregar pago
          <i class="fa-solid fa-plus"></i>
        </button>
      </ng-container> -->
    </div>
    <div class="align-items-center d-flex justify-content-between mb-2">
      <h4 class="font-2xl font-weight-bold text-primary m-0">Pagos</h4>
      <ng-container *ngIf="!isCancelled">
        <button class="btn-primary-custom " (click)="openDialog()" *ngxPermissionsOnly="permissionsPayments.create" >
          Agregar pago <i class="fa-solid fa-plus"></i>
        </button>
      </ng-container>
    </div>
    <hr />
    <div class="row w-100">
      <div class="p-2 w-100">
        <mat-card>
          <mat-card-content>
            <div>
              <div>
                <table class="table table-sm table-borderless table-striped">
                  <thead class="font-weight-bold text-muted">
                    <tr>
                      <th>Creado</th>
                      <th>Estado</th>
                      <th>Tipo de cuota</th>
                      <th>Monto</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="payments.length === 0" class="text-muted">
                      <td colspan="6">
                        <div>No existen pagos asignados <i class="fa-regular fa-face-sad-tear"></i></div>
                      </td>
                    </tr>
                    <tr *ngFor="let payment of payments">
                      <td>{{ payment?.created_at | date }}</td>
                      <td>
                        <span class="badge-fz">{{payment?.status | translatefz: "orders"}}</span>
                      </td>
                      <td>
                        <ng-container *ngIf="payment?.type === 'paymentez' && payment?.link_to_pay; else noPaymentez">
                          Link de pago:
                          <a [href]="payment?.link_to_pay" target="_blank">{{ payment?.link_to_pay }}</a>
                        </ng-container>
                        <ng-template #noPaymentez>
                          {{ payment?.type | translatefz: "orders" }}
                        </ng-template>
                      </td>
                      <td>$ {{ payment?.amount }}</td>
                      <td *ngIf="!isCancelled">
                        <div class="d-flex">
                          <button
                            *ngxPermissionsOnly="permissionsPayments.edit"
                            class="btn-icon c-edit"
                            (click)="openDialog(payment.id)">
                            <i class="fa-regular fa-pen-to-square"></i>
                          </button>
                          <button
                            *ngxPermissionsOnly="permissionsPayments.destroy"
                            class="btn-icon c-delete"
                            (click)="deleteItem(payment?.order_id, payment.id)">
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </div>
                        <div class="d-flex">
                            <ng-container *ngIf="!(payment.status !== 'pending' || payment.type === 'paymentez')">
                              <button class="btn-icon" [matMenuTriggerFor]="menu"><i class="fa-solid fa-retweet"></i></button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="changeStatus('pending', payment.id)">Pendiente</button>
                                <button mat-menu-item (click)="changeStatus('paid', payment.id)">Pagado</button>
                                <button mat-menu-item (click)="changeStatus('cancelled', payment.id)">Cancelado</button>
                              </mat-menu>
                            </ng-container>
                          <button class="btn-icon c-create" [matMenuTriggerFor]="menuRefPayment">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                          </button>
                          <mat-menu #menuRefPayment="matMenu">
                            <button
                              *ngIf="payment?.type === 'paymentez'"
                              mat-menu-item
                              (click)="lookTransaction(payment.id)">
                              <i class="fa-solid fa-money-bill-transfer"></i>
                              <span>Ver transacciones</span>
                            </button>
                            <button mat-menu-item (click)="lookFiles(payment.id)">
                              <i class="fa-solid fa-file-circle-plus"></i>
                              <span>Ver archivo</span>
                            </button>
                            <button mat-menu-item (click)="openDialogHistoryStatus(payment.id)">
                              <i class="fa-solid fa-clock-rotate-left"></i>
                              <span>Historial</span>
                            </button>
                            <button
                              mat-menu-item
                              *ngIf="payment?.type === 'paymentez' && payment?.status === 'paid'"
                              (click)="refundPayment(payment.id)">
                              <i class="fa-solid fa-money-bill-trend-up"></i>
                              <span>Reembolsar</span>
                            </button>
                          </mat-menu>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-card-content>
          <!-- <div class="d-flex justify-content-between align-items-center">
            <span [class]="payment?.type" class="badge-fz text-uppercase">
              {{ payment?.type | translatefz : "orders" }}
            </span>
            <app-select-change-status-payment
              [type]="payment.type"
              [status]="payment.status"
              [id]="payment.id"></app-select-change-status-payment>
          </div>
          <div>
            <table class="table table-sm table-borderless">
              <tbody class="body-info">
                <tr>
                  <td>Creado:</td>
                  <td>{{ payment?.created_at | date }}</td>
                </tr>
                <tr *ngIf="payment?.type === 'paymentez' && payment?.link_to_pay">
                  <td>Link de pago:</td>
                  <td>
                    <a [href]="payment?.link_to_pay" target="_blank">{{ payment?.link_to_pay }}</a>
                  </td>
                </tr>
                <tr>
                  <td>Tipo de cuota:</td>
                  <td>
                    {{ payment?.installments_type | translatefz : "orders" }}
                  </td>
                </tr>
                <tr>
                  <td>Monto:</td>
                  <td>$ {{ payment?.amount }}</td>
                </tr>
                <tr>
                  <td>Estado:</td>
                  <td>
                    <span [class]="payment?.status" class="badge-fz text-uppercase">
                      {{ payment?.status | translatefz : "orders" }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="!isCancelled" class="mt-2 d-flex justify-content-between">
            <div>
              <ng-container *ngIf="payment?.status === 'pending' || payment?.type !== 'paymentez'">
                <button
                  *ngxPermissionsOnly="permissionsPayments.edit"
                  mat-icon-button
                  color="primary"
                  (click)="openDialog(payment.id)">
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
                <button
                  mat-icon-button
                  *ngxPermissionsOnly="permissionsPayments.destroy"
                  color="warn"
                  (click)="deleteItem(payment?.order_id, payment.id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </ng-container>
            </div>

            <button mat-icon-button [matMenuTriggerFor]="menuRefPayment">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <mat-menu #menuRefPayment="matMenu">
              <button *ngIf="payment?.type === 'paymentez'" mat-menu-item (click)="lookTransaction(payment.id)">
                <i class="fa-solid fa-money-bill-transfer"></i>
                <span>Ver transacciones</span>
              </button>
              <button mat-menu-item (click)="lookFiles(payment.id)">
                <i class="fa-solid fa-file-circle-plus"></i>
                <span>Ver archivo</span>
              </button>
              <button mat-menu-item (click)="openDialogHistoryStatus(payment.id)">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span>Historial</span>
              </button>
              <button
                mat-menu-item
                *ngIf="payment?.type === 'paymentez' && payment?.status === 'paid'"
                (click)="refundPayment(payment.id)">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <span>Reembolsar</span>
              </button>
            </mat-menu>
          </div> -->
        </mat-card>
      </div>
    </div>
  </div>
</div>
