<div style="height: calc(100vh - 55px);">
  <div class="my-3 position-absolute">
    <button (click)="goBack()"  mat-mini-fab><mat-icon>arrow_back</mat-icon></button>
  </div>
  <div class="row h-100 center">
    <div class="col-md-6 center">
      <div  class="col-9">
        <h1 class="font-4xl font-weight-bold text-center">{{ title }}</h1>
        <mat-card class="w-100">
          <div>
            <form [formGroup]="form">
              <div>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Titulo" formControlName="title" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="w-100">
                  <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="w-100">
                  <mat-select #selectType placeholder="Estado"  formControlName="status">
                    <mat-option select value="active">Activo</mat-option>
                    <mat-option value="inactive">Inactivo</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="w-100">
                  <mat-select (selectionChange)="selectionChange($event)" #selectType placeholder="Tipo de duración" formControlName="duration_type">
                    <mat-option value="undefined">Indefinido</mat-option>
                    <mat-option value="date_range">Rango de Fechas</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <div>
                  <mat-form-field class="w-100">
                    <input readonly #dateMin matInput placeholder="Fecha Inicio" formControlName="start_date" />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="w-100">
                    <input readonly #dateMax matInput placeholder="Fecha Fin" formControlName="end_date" />
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button [disabled]="isLoading" (click)="saveInServer()" color="primary" mat-raised-button><mat-icon>save</mat-icon> Guardar</button>
              </div>
            </form>

          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/vectores/campaign.svg" alt="campaign" />
    </div>
  </div>
</div>
