<div>
    <h2>Sistema de Ordenes</h2>
    <div>
        <div>
            <app-search-template [url$]="url" (data)="getData($event)">

            </app-search-template>
        </div>
        <div class="card-columns">
            <mat-card class="card">
                <div>
                    <div class="node"></div>
                    <div class="line"></div>
                    <div class="node"></div>
                    <div class="line"></div>
                    <div class="node"></div>
                </div>
            </mat-card>
        </div>
    </div>
</div>