<div class=" py-3">

  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="viewFor('año')">Comparar Productos</button>
    <button mat-menu-item (click)="viewFor('mes')">Comparar Locales</button>
    <button mat-menu-item (click)="viewFor('semana')">Comparar Cuidades</button>
    <button mat-menu-item (click)="viewFor('dia')">Comparar Categorias</button>
  </mat-menu> -->

  <!-- <div  class="search_product py-3">
    <app-compare-product [currentCompare]="currentCompare" (close)="closeCompare($event)"></app-compare-product>
  </div>
  <div [hidden]="!isCompareCompany" class="search_product py-3">
    <app-compare-company></app-compare-company>
  </div> -->
  <div class="d-flex my-3 justify-content-between">
    <div>
      <h1 class="font-montserrat d-inline-block font-5xl m-0">Dashboard</h1>
      <div>
        <h3 class=" d-flex ">
          <mat-card class="dates shadow center">
            Desde: {{formDate.get('star_date').value | date}}&nbsp;<span class="text-warning">-</span>&nbsp;A:
            {{formDate.get('end_date').value | date}}
          </mat-card>&nbsp;&nbsp;
          <button mat-mini-fab color="accent" [matMenuTriggerFor]="menuFechas">
            <mat-icon>event</mat-icon>
          </button>
          &nbsp;&nbsp;
          <button mat-mini-fab color="primary" [routerLink]="[ './versus' ]">
            <mat-icon>compare</mat-icon>
          </button>
        </h3>
      </div>
      <!-- <mat-form-field [appearance]="'standard'" class="line-none">
        <mat-select>
          <mat-option *ngFor="let company of companies" [value]="company.name">
            {{company.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

    </div>
    <form [formGroup]="formDate">
      <mat-menu #menuFechas="matMenu" [overlapTrigger]="false">
        <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">
          <mat-form-field color="accent">
            <mat-label>Fecha inicial</mat-label>
            <input matInput formControlName="star_date" [max]="formDate.get('end_date').value"
              [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()" class="h-100">
          <mat-form-field color="accent">
            <mat-label>Fecha final</mat-label>
            <input [max]="now" formControlName="end_date" matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div mat-menu-item [disableRipple]="true" class="h-100">
          <button color="accent" mat-raised-button (click)="applyFilter()">Aplicar filtros</button>
        </div>
      </mat-menu>
    </form>
  </div>

  <div class="grid-dashboard">
    <div class="header-dashboard mb-3">
      <mat-card class="item-header header-1 p-2 row m-0 shadow">
        <!-- <button mat-icon-button class="btn-header-for" (click)="currentItemHeader('product')"
          [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button> -->
        <!-- <button color="primary" mat-mini-fab class="btn-header" (click)="openSheetButton('productos')">
          <mat-icon>compare</mat-icon>
        </button> -->

        <!-- <span class="col-8">
          <h5>{{dataJsonHeaderDashbardProduct.title()}}</h5>
          <h3>Porta cepillos con dispensador de pasta</h3>
          <h4>$5.99</h4>
          <h6>{{dataJsonHeaderDashbardProduct.text_footer()}}</h6>
        </span>
        <img class="col-4" src="assets/products_test/celular-cat-s52.jpg" alt=""> -->
        <div class="card-body">
          <!-- <ngx-spinner class="rounded-fz" name="total-ventas" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner> -->
          <div class="font-montserrat text-muted font-weight-bold text-value-sm">Total de ventas</div>
          <div class="font-montserrat my-3 font-weight-bold font-4xl">{{ total_sell | currency }}</div>
        </div>
      </mat-card>

      <mat-card class="item-header header-1 p-2 row m-0 shadow">
        <div class="card-body">
          <div class="font-montserrat text-muted font-weight-bold text-value-sm">Total valor medio</div>
          <div class="font-montserrat my-3 font-weight-bold font-4xl">{{ total_sell | currency }}</div>
        </div>
      </mat-card>

      <mat-card class="item-header header-1 p-2 row m-0 shadow">
        <div class="card-body">
          <div class="font-montserrat text-muted font-weight-bold text-value-sm">Total de Facturas</div>
          <div class="font-montserrat my-3 font-weight-bold font-4xl">{{ total_sell | currency }}</div>
        </div>
      </mat-card>

      <mat-card class="item-header header-1 p-2 row m-0 shadow">
        <div class="card-body">
          <div class="font-montserrat text-muted font-weight-bold text-value-sm">Total de productos vendidos</div>
          <div class="font-montserrat my-3 font-weight-bold font-4xl">{{ total_sell | currency }} <span>+5%</span></div>
        </div>
      </mat-card>

      <!-- <mat-card class="item-header header-2 p-2 row m-0 shadow">
        <button mat-icon-button class="btn-header-for" (click)="currentItemHeader('warehouse')"
          [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button color="primary" mat-mini-fab class="btn-header" (click)="openSheetButton('locales')">
          <mat-icon>compare</mat-icon>
        </button>
        <span class="col-8">
          <h5>Local con mas ventas</h5>
          <h3>Porta cepillos con dispensador de pasta</h3>
          <h4>$5.99</h4>
          <h6>Total de ventas mes 102</h6>
        </span>
        <img class="col-4" src="https://www.novicompu.com/img/stores/Guayaquil.jpg" alt="">
      </mat-card> -->

      <!-- <mat-card class="item-header header-3 p-2 row m-0 shadow">
        <button mat-icon-button class="btn-header-for" (click)="currentItemHeader('warehouse')"
          [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button color="primary" mat-mini-fab class="btn-header" (click)="openSheetButton('locales')">
          <mat-icon>compare</mat-icon>
        </button>
        <span class="col-8">
          <h5>Local con mas ventas</h5>
          <h3>Porta cepillos con dispensador de pasta</h3>
          <h4>$5.99</h4>
          <h6>Total de ventas mes 102</h6>
        </span>
        <img class="col-4" src="https://www.novicompu.com/img/stores/Guayaquil.jpg" alt="">
      </mat-card> -->
    </div>
    <div class="body-dashboard">
      <mat-card class="rounded-fz shadow p-3">
        <h3 class="font-montserrat font-3xl font-weight-bolder">Productos</h3>
        <div style="height: 400px;" class="d-flex align-items-center position-relative">
          <canvas style="height: 400px;" id="chart-main"></canvas>
        </div>
      </mat-card>
      <mat-card class="rounded-fz shadow p-3">
        <h3 class="font-montserrat font-3xl font-weight-bolder">Locales</h3>
        <div style="height: 400px;" class="d-flex align-items-center position-relative">
          <canvas id="chart-warehouses"></canvas>
        </div>
      </mat-card>
    </div>

    <div class="body-dashboard-2 my-2">
      <mat-card class="rounded-fz shadow p-3">
        <h3 class="font-montserrat font-3xl font-weight-bolder">Ventas</h3>
        <div class="d-flex align-items-center">
          <canvas  id="chart-ventas"></canvas>
        </div>
      </mat-card>

      <mat-card class="rounded-fz shadow p-3">
        <h3 class="font-montserrat font-3xl font-weight-bolder">Ventas por categorias</h3>
        <canvas height="300px" id="chart-other"></canvas>
      </mat-card>
    </div>

    <div class="grid-3">
      <mat-card class="my-2 rounded-fz">
        <h3 class="font-montserrat font-3xl font-weight-bolder">Ventas por cuidad</h3>
        <table class="table mt-3" style="color: inherit;">
          <thead class="bg-dark">
            <tr>
              <th>ID</th>
              <th>Ciudad</th>
              <th>Ventas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ELEMENT_DATA">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.total }}</td>
            </tr>
        </table>
      </mat-card>
      <mat-card class="my-2 rounded-fz">
        Hola mundo
      </mat-card>
    </div>
  </div>
</div>