<div class=" py-3">

  <mat-menu #menu="matMenu">
    <div class="font-facebook px-2 font-2xl">Ver Por</div>
    <button mat-menu-item (click)="viewFor('año')">Año</button>
    <button mat-menu-item (click)="viewFor('mes')">Mes</button>
    <button mat-menu-item (click)="viewFor('semana')">Semana</button>
    <button mat-menu-item (click)="viewFor('dia')">Dia</button>
  </mat-menu>

  <div [hidden]="!isCompare" class="search_product py-3">
    <app-compare-product [currentCompare]="currentCompare" (close)="closeCompare($event)"></app-compare-product>
  </div>
  <div [hidden]="!isCompareCompany" class="search_product py-3">
    <app-compare-company></app-compare-company>
  </div>
  <div class="d-flex my-3 justify-content-between">
    <div>
      <h1 class="font-montserrat d-inline-block font-5xl m-0">Dashboard</h1>
      <!-- <mat-form-field [appearance]="'standard'" class="line-none">
        <mat-select>
          <mat-option *ngFor="let company of companies" [value]="company.name">
            {{company.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

    </div>
    <div>
      <button mat-mini-fab class="btn-fechas" color="accent" [matMenuTriggerFor]="menuFechas">
        <mat-icon>event</mat-icon>
      </button>
      <mat-menu #menuFechas="matMenu" [overlapTrigger]="false">
        <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">
          <mat-form-field color="accent">
            <mat-label>Fecha inicial</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()" class="h-100">
          <mat-form-field color="accent">
            <mat-label>Fecha final</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div mat-menu-item [disableRipple]="true" class="h-100">
          <button color="accent" mat-raised-button (click)="applyFilter()">Aplicar filtros</button>
        </div>
      </mat-menu>
    </div>
  </div>

  <div class="grid-dashboard">
    <div class="header-dashboard mb-3">
      <mat-card class="item-header header-1 p-2 row m-0 shadow">
        <button mat-icon-button class="btn-header-for" (click)="currentItemHeader('product')"
          [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button color="primary" mat-mini-fab class="btn-header" (click)="openSheetButton('productos')">
          <mat-icon>compare</mat-icon>
        </button>
        <span class="col-8">
          <h5>{{dataJsonHeaderDashbardProduct.title()}}</h5>
          <h3>Porta cepillos con dispensador de pasta</h3>
          <h4>$5.99</h4>
          <h6>{{dataJsonHeaderDashbardProduct.text_footer()}}</h6>
        </span>
        <img class="col-4" src="assets/products_test/celular-cat-s52.jpg" alt="">
      </mat-card>

      <mat-card class="item-header header-2 p-2 row m-0 shadow">
        <button mat-icon-button class="btn-header-for" (click)="currentItemHeader('warehouse')"
          [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button color="primary" mat-mini-fab class="btn-header" (click)="openSheetButton('locales')">
          <mat-icon>compare</mat-icon>
        </button>
        <span class="col-8">
          <h5>Local con mas ventas</h5>
          <h3>Porta cepillos con dispensador de pasta</h3>
          <h4>$5.99</h4>
          <h6>Total de ventas mes 102</h6>
        </span>
        <img class="col-4" src="https://www.novicompu.com/img/stores/Guayaquil.jpg" alt="">
      </mat-card>

      <mat-card class="item-header header-3 p-2 row m-0 shadow">
        <button mat-icon-button class="btn-header-for" (click)="currentItemHeader('warehouse')"
          [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button color="primary" mat-mini-fab class="btn-header" (click)="openSheetButton('locales')">
          <mat-icon>compare</mat-icon>
        </button>
        <span class="col-8">
          <h5>Local con mas ventas</h5>
          <h3>Porta cepillos con dispensador de pasta</h3>
          <h4>$5.99</h4>
          <h6>Total de ventas mes 102</h6>
        </span>
        <img class="col-4" src="https://www.novicompu.com/img/stores/Guayaquil.jpg" alt="">
      </mat-card>
    </div>
    <div class="body-dashboard">
        <mat-card class="rounded-fz shadow p-3 h-100 ">
          <h3 class="font-montserrat font-3xl">Productos</h3>
          <div class="d-flex align-items-center h-100">
            <canvas height="300px" id="chart-main"></canvas>
          </div>
        </mat-card>

        <mat-card class="rounded-fz shadow h-100 p-3">
          <h3 class="font-montserrat font-3xl">Locales</h3>
          <canvas  height="300px" id="chart-warehouses"></canvas>
        </mat-card>
    </div>

    <div class="body-dashboard-2 my-2">
      <mat-card class="rounded-fz shadow p-3 h-100 ">
        <h3 class="font-montserrat font-3xl">Ventas</h3>
        <div class="d-flex align-items-center h-100">
          <canvas height="300px" id="chart-ventas"></canvas>
        </div>
      </mat-card>

      <mat-card class="rounded-fz shadow h-100 p-3">
        <h3 class="font-montserrat font-3xl">Ventas por categorias</h3>
        <canvas  height="300px" id="chart-other"></canvas>
      </mat-card>
  </div>

    <!-- <div class="footer-dashboard">
      <div class="p-3 bg-white rounded-fz">
        <h3 class="font-facebook">Ranking de Ventas por meses</h3>
        <canvas id="chart-months"></canvas>
      </div>
      <div class="p-3 bg-white"></div>
      <div class="p-3 bg-white"></div>
    </div> -->

  </div>
</div>