<div>
    <h1 class="my-3">Creador de Ticket</h1>

    <mat-card>
        <div class="card-body">
            <div [formGroup]="form" class="row">
                <mat-form-field class="col-md-6">
                 <mat-select formControlName="department_id"  placeholder="Seleccione un departamento">
                     <mat-option *ngFor="let department of departments" [value]="department.id">{{department.name}}</mat-option>
                 </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <input matInput formControlName="order_id">
                    <span class="text-muted mr-2" matPrefix>Orden #</span>
                    <button (click)="isOpenSearchOrder = !isOpenSearchOrder" type="button" mat-button matSuffix><mat-icon>search</mat-icon></button>
                </mat-form-field>
                <mat-form-field class="col-12">
                    <input matInput formControlName="subject" placeholder="Asunto" >
                </mat-form-field>
                <mat-form-field class="col-12">
                    <textarea matInput formControlName="message"  placeholder="Mensaje" ></textarea>
                </mat-form-field>
                <div *ngIf="fileUrl.url" class="col-12">
                    <div class="position-relative" style="width: 200px;">
                        <button class="btn-remove-img" (click)="removeImage()" mat-mini-fab><mat-icon>close</mat-icon></button>
                        <img class="rounded-fz shadow w-100" [src]="fileUrl.url" alt="">
                    </div>
                </div>
                <div *ngxPermissionsOnly="permissions.create" class="center">
                    <div class="position-relative">
                        <label class="file-img bg-orange center mr-1 mt-2 px-3 rounded-fz" for="file">
                            <mat-icon>attach_file</mat-icon> Adjuntar archivo
                        </label>
                        <input  formControlName="file" type="file" id="file" class="d-none" name="file" (change)="onFileChange($event)" />
                    </div>
                    <button mat-raised-button color="primary" [disabled]="isLoading" (click)="saveInServer()">Crear ticket <mat-icon>save</mat-icon></button>
                </div>
            </div>
        </div>
    </mat-card>

    <div [ngClass]="{'search-orders-container-close': !isOpenSearchOrder}" class="search-orders-container">
        <div class="position-relative">
            <button mat-icon-button (click)="isOpenSearchOrder = !isOpenSearchOrder" class="btn-close"><mat-icon color="warn">close</mat-icon></button>
            <div class="container">
                <app-search [placeholder]="'Buscador de ordenes por cliente'" [url]="urlOrders" (data)="getDataOrder($event)">
                    <ng-container data>
            
                                <mat-list class="row d-flex m-0">
                                        <mat-list-item class="col-md-6 bg-white p-2 shadow" *ngFor="let order of orders">
                                            <div matLine><span>Cliente:</span> {{order.client.first_name}} {{order.client.last_name}}</div>
                                            <div matLine><span>Estado:</span> {{order.status| translatefz: 'orders'}}</div>
                                            <div matLine><span>Total:</span> ${{order.total}}</div>
                                            <div matLine><span>Creado:</span> {{order.created_at | date}}</div>
                                            <div matLine><span># de orden:</span> {{order.id}}</div>
                                            <div matLine ><button (click)="getOrder(order.id)" mat-button color="primary">Seleccionar</button></div>
                                        </mat-list-item>
                                </mat-list>
            
                    </ng-container>
            
                </app-search>
            </div>
        </div>
    </div>
</div>