<mat-dialog-content>
  <div class="row">
    <div class="col-md-6">
      <h1 matDialogTitle>#{{ location.mba_code }} {{ location.name }}</h1>
      <h3 class="font-weight-bold mb-1">Horarios</h3>
      <div *ngIf="schedule">
        <div *ngFor="let day of DAYS">
          <span *ngIf="schedule[day.key].status; else templateClose">
            {{ day.day }} de {{ schedule[day.key]?.start }} a {{ schedule[day.key]?.end }}
          </span>
          <ng-template #templateClose>
            <span class="text-muted">{{ day.day }} - cerrado</span>
          </ng-template>
        </div>
      </div>
      <h3 class="font-weight-bold mb-1">Codigo Postal</h3>
      <div>{{ location.postal_code }}</div>
      <h3 class="font-weight-bold mb-1">Detalles</h3>
      <div>
        <ul>
          <li>Latitud: {{location.latitude}}</li>
          <li>Longitud: {{location.longitude}}</li>
          <li>Teléfono: {{location.phone}}</li>
          <li>Creado: {{location.created_at | date: 'medium'}}</li>
        </ul>
      </div>

    </div>
    <div class="col-md-6 pb-3">
      <div
        *ngIf="location.longitude && location.latitude"
        class="w-100 h-100 shadow rounded-fz pb-3"
        #mapElement
        id="map"></div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button color="warn" mat-button matDialogClose>
    Cerrar
    <i class="fa-solid fa-xmark"></i>
  </button>
</mat-dialog-actions>
