<div style="height: calc(100vh - 55px)">
  <div class="my-3 position-absolute">
    <button (click)="goBack()" mat-mini-fab><mat-icon>arrow_back</mat-icon></button>
  </div>
  <div class="row h-100 center">
    <div class="col-md-6 center">
      <div class="col-9">
        <h1 class="font-4xl font-weight-bold text-center">{{ title }}</h1>
        <mat-card class="w-100">
          <div>
            <form [formGroup]="form">
              <div>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Titulo" formControlName="title" />
                </mat-form-field>
              </div>
              <!-- <div>
                <mat-form-field class="w-100">
                  <input type="number" matInput placeholder="Precio" formControlName="price" />
                  <span matPrefix>$</span>
                </mat-form-field>
              </div> -->
              <div>
                <mat-form-field class="w-100">
                  <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="w-100">
                  <mat-select #selectType placeholder="Estado" formControlName="status">
                    <mat-option select value="active">Activo</mat-option>
                    <mat-option value="inactive">Inactivo</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- <div>
                <mat-form-field class="w-100">
                  <mat-select #selectType placeholder="Tipo de duración" formControlName="duration_type">
                    <mat-option value="undefined">Indefinido</mat-option>
                    <mat-option value="date_range">Rango de Fechas</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
              <!-- <div [hidden]="selectType.value != 'date_range'">
                <div>
                  <mat-form-field class="w-100">
                    <input readonly #dateMin matInput placeholder="Fecha Inicio" formControlName="start_date" />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="w-100">
                    <input readonly #dateMax matInput placeholder="Fecha Fin" formControlName="end_date" />
                  </mat-form-field>
                </div>
              </div> -->
              <div>
                <button color="primary" [disabled]="isLoading" (click)="saveInServer()" mat-button>
                  Guardar
                  <i class="fa-regular fa-floppy-disk"></i>
                </button>
              </div>
            </form>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="formArrayProductSelected.controls.length < 1; else TemplateProducts">
        <h3>Sin productos seleccionados</h3>
      </div>
      <ng-template #TemplateProducts>
        <div>
          <h3 class="font-3xl font-weight-bold">Productos seleccionados</h3>
          <div>
            <div style="max-height: 60vh; overflow: auto;" class="px-2">
              <div class="my-3 item-product" *ngFor="let formProduct of formArrayProductSelected.controls; let i = index">
                <div [formGroup]="formProduct" class="d-flex align-items-center">
                  <img
                    class="img-product mr-2"
                    [src]="formProduct.get('img').value || 'assets/img/img_not_available.png'"
                    alt="product image" />
                  <div>
                    <h3 class="m-0">
                      <span class="text-danger">#{{ formProduct.get("code").value }}</span>
                      {{ formProduct.get("name").value }}
                    </h3>
                    <mat-form-field>
                      <input matInput min="1" type="number" placeholder="Cantidad" formControlName="quantity" />
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput min="0.1" type="number" placeholder="Precio" formControlName="price" />
                    </mat-form-field>
                  </div>
                </div>
                <button (click)="deleteProduct(i)" color="warn" mat-icon-button><i class="fa-solid fa-trash"></i></button>
              </div>
            </div>
            <div class="mb-2 px-3 py-2">
              <h3 class="my-1">
                Total:
                <span class="text-primary">{{ getTotalPrice() | currency }}</span>
              </h3>
            </div>
          </div>
        </div>
      </ng-template>
      <button (click)="openDialogProductSearch()" mat-raised-button color="primary">
        Buscar productos
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <!-- <div [hidden]="hiddenSearchProducts">
    <app-search-products (add)="addProduct($event)" (isClose)="hiddenSearchProducts = true" [(productsSelected)]="productsSelected" [urlSearch]="'catalogs/campaigns/promotions/search-products'">
      <ng-template let-product>
        <h5 *ngIf="product?.value?.quantity">Cantidad: {{product?.value?.quantity}}</h5>
      </ng-template>
      
    </app-search-products>
  </div> -->

  <!-- <div [hidden]="hiddenAddQuantity" class="container-quantity">
    <div class="col-md-3">
      <mat-card>
        <h3>{{productsSelected.get(currentKey)?.name}}</h3>
        <mat-form-field class="w-100">
          <input #inputQuantity min="1" [formControl]="formControlQuantity" matInput placeholder="Cantidad">
        </mat-form-field>
        <div>
          <button (click)="addQuantity();" color="primary" mat-raised-button>Guardar</button>
          <button (click)="quitAddQuantity();" class="ml-2" color="warn" mat-raised-button>Cerrar</button>
        </div>
      </mat-card>
    </div>
  </div> -->
</div>

<div *ngIf="campaign" class="campaign">
  Campaña :
  <span class="text-success">#{{ campaign.id }} {{ campaign.title }}</span>
</div>
