<mat-selection-list *ngIf="!isManifest; else templeteDate" (selectionChange)="selectedView($event)" [multiple]="false">
  <mat-list-option value="docs">
    <mat-icon mat-list-icon>source</mat-icon>
    <div mat-line>Ver Guías</div>
  </mat-list-option>
  <mat-list-option value="labels">
    <mat-icon mat-list-icon>turned_in_not</mat-icon>
    <div mat-line>Ver Rótulos</div>
  </mat-list-option>
  <mat-list-option value="stickers">
    <mat-icon mat-list-icon>sticky_note_2</mat-icon>
    <div mat-line>Ver Stickers</div>
  </mat-list-option>
  <mat-list-option value="manifest">
    <mat-icon mat-list-icon>summarize</mat-icon>
    <div mat-line>Ver Manifiesto</div>
  </mat-list-option>
</mat-selection-list>

<ng-template #templeteDate>
  <mat-list>
      <mat-form-field>
        <input type="date" [formControl]="formDate" matInput placeholder="Selecciones una fecha">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="selectedManifest()">Ver Manifiesto</button>
    </mat-list>
</ng-template>

