<div>
  <div><h2 class="font-facebook font-5xl my-3">SITIOS VTEX</h2></div>

  <div class="card-columns" *ngIf="isload">
    <div *ngFor="let item of [1, 2, 3]" class="my-1  card rounded-fz card-body border-0">
      <ngx-skeleton-loader count="1" [theme]="{
          'border-radius': '5px',
          height: '50px'
        }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="1" [theme]="{
          'border-radius': '5px',
          height: '30px'
        }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="3" [theme]="{
          'border-radius': '5px',
          height: '40px',
          width: '150px',
          'margin-right': '5px'
        }"></ngx-skeleton-loader>
    </div>
  </div>

  <div class="card-columns">
    <ng-container *ngIf="!isload">
      <mat-card class="card rounded-fz border-0 shadow-sm" *ngFor="let vtexSite of vtexSites">
        <app-vtex-site (delete)="deleteVtexSite($event)" [vtexSite]="vtexSite"></app-vtex-site>
      </mat-card>
    </ng-container>
  </div>

  <ng-container *ngIf="!isload && vtexSites.length < 1">
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/img/respuesta_vacia.svg" alt="" width="100%" />
      </div>
      <div style="line-height: 1" class="col-md-6 font-facebook font-2xl d-flex align-items-center">
        Ups! Sin resultados en tu búsqueda
      </div>
    </div>
  </ng-container>
  <button class="btn-add" mat-fab (click)="goCreateVtexSites()"><mat-icon>add</mat-icon></button>
</div>
