<div class="my-3 section-order">
  <!-- <div class="center justify-content-between flex-wrap">
    <ng-container *ngxPermissionsOnly="permissionTaxAndDiscount.create">
      <button
        *ngIf="!isCancelled"
        color="primary"
        class="mb-1"
        mat-raised-button
        (click)="openDialogCreateOrEditDiscountOrTax()">
        Agregar monto
        <i class="fa-solid fa-plus"></i>
      </button>
    </ng-container>
  </div> -->

  <div class="align-items-center d-flex justify-content-between mb-2">
    <h4 class="font-2xl font-weight-bold text-primary m-0">Impuestos y descuentos</h4>
   <ng-container *ngIf="!isCancelled">
     <button class="btn-primary-custom"  (click)="openDialogCreateOrEditDiscountOrTax()" *ngxPermissionsOnly="permissionTaxAndDiscount.create">
      Agregar i/d <i class="fa-solid fa-plus"></i>
     </button>
   </ng-container>
  </div>
  <hr />
  <div class="row w-100">
    <mat-card class="w-100">
        <mat-card-content>
            <div>
              <table class="table table-sm table-borderless table-striped">
                <thead class="font-weight-bold text-muted">
                  <tr>
                    <th>
                      Tipo 
                    </th>
                    <th>
                      Tipo Monto
                    </th>
                    <th>
                      Descripción
                    </th>
                    <th>
                      Monto
                    </th>
                    <th>
                      Acciones
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="discountsAndTaxes.size === 0" class="text-muted">
                    <td colspan="6">
                      <div>No existen pagos asignados <i class="fa-regular fa-face-sad-tear"></i></div>
                    </td>
                  </tr>
                  <tr *ngFor="let discountOrTax of discountsAndTaxes | keyvalue">
                    <td>
                      {{ discountOrTax.value.type | translatefz: "orders" }}
                    </td>
                    <td>
                      {{ discountOrTax.value.amount_type | translatefz: "orders" }}
                    </td>
                    <td>
                      {{ discountOrTax.value.name }}
                    </td>
                    <td>
                      $ {{ discountOrTax.value.amount }}
                    </td>
                    <td>
                      <div class="d-flex" *ngIf="!isCancelled">
                        <button
                          *ngxPermissionsOnly="permissionTaxAndDiscount.edit"
                          class="btn-icon c-edit"
                          (click)="openDialogCreateOrEditDiscountOrTax(discountOrTax.key)">
                          <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button
                          *ngxPermissionsOnly="permissionTaxAndDiscount.destroy"
                          class="btn-icon c-delete"
                          (click)="deleteAdditionalAmount(discountOrTax.key)">
                          <!-- <mat-icon>delete</mat-icon> -->
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </mat-card-content>
    </mat-card>
    <!-- <div class="col-md-4 p-2" *ngFor="let discountOrTax of discountsAndTaxes | keyvalue">
      <mat-card>
        <div class="d-flex justify-content-between align-items-center">
          <span [class]="discountOrTax.value.type" class="badge-fz">
            {{ discountOrTax.value.type | translatefz: "orders" }}
          </span>
          <ng-container *ngxPermissionsOnly="permissionTaxAndDiscount.confirm_retention">
            <button
              *ngIf="discountOrTax.value.type === 'retention' && discountOrTax.value.status !== 'confirmed'"
              (click)="confirmedRetention(discountOrTax.key)"
              color="accent"
              mat-button>
              Confirmar
            </button>
          </ng-container>
        </div>
        <table class="table table-sm table-borderless">
          <tbody class="body-info">
            <tr>
              <td>Tipo de monto:</td>
              <td>
                {{ discountOrTax.value.amount_type | translatefz: "orders" }}
              </td>
            </tr>
            <tr>
              <td>Descripción:</td>
              <td>{{ discountOrTax.value.name }}</td>
            </tr>
            <tr>
              <td>Monto:</td>
              <td>$ {{ discountOrTax.value.amount }}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!isCancelled">
          <button
            *ngxPermissionsOnly="permissionTaxAndDiscount.edit"
            mat-icon-button
            color="primary"
            (click)="openDialogCreateOrEditDiscountOrTax(discountOrTax.key)">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button
            *ngxPermissionsOnly="permissionTaxAndDiscount.destroy"
            mat-icon-button
            color="warn"
            (click)="deleteAdditionalAmount(discountOrTax.key)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </mat-card>
    </div> -->
  </div>
</div>
