<div class="d-flex vh-100 align-items-center">
  <div class="grid-menu-multi-publication">
    <div routerLink="../create" class="item-menu">
      <div>
        <img src="/assets/logos/mercado-libre.svg" class="w-100" alt="mercado libre">
        <p class=" font-2xl ">Mercado Libre</p>
      </div>
    </div>
    <div routerLink="/admin-products/vtex-products/create-product-vtex" class="item-menu">
      <div>
        <img src="/assets/logos/vtex.svg" class="w-100" alt="vtex">
        <p class=" font-2xl ">Vtex</p>
      </div>
    </div>
    <div class="item-menu">
      <div routerLink="../multi-publicaciones">
        <img src="/assets/logos/mercado-libre.svg" class="w-50" alt="mercado libre">
        <img src="/assets/logos/vtex.svg" class="w-50" alt="vtex">
        <p class=" font-2xl ">Multi publicacion</p>
      </div>
    </div>
  </div>
</div>
