<div>
    <h1 class="m-0 mt-3">
        Departamentos de {{department?.name}}
    </h1>
</div>
<app-search-template [key_paginator]="'positions'" [url$]="url" (data)="getData($event)">

    <ng-container data>
        <mat-card class="rounded-fz shadow card border-0" *ngFor="let position of data | keyvalue">
            <mat-card-header>
                <mat-card-title>{{position.value.name}}</mat-card-title>
                <mat-card-subtitle>{{position.value.created_at | date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="mb-2">
                    <mat-chip-list class="text-capitalize">
                        <mat-chip>{{position.value.employe_type}}</mat-chip>
                        <mat-chip>{{position.value.hierarchy_type}}</mat-chip>
                    </mat-chip-list>
                </div>
                <button [routerLink]="['./', position.key, 'edit']" color="primary" mat-mini-fab><mat-icon>edit</mat-icon></button>
                <button (click)="deleteData(position.key)" color="warn" mat-mini-fab><mat-icon>delete</mat-icon></button>
                <!-- <button [routerLink]="['./', department.key, 'positions']" color="accent" mat-mini-fab><mat-icon>reduce_capacity</mat-icon></button> -->
            </mat-card-content>
        </mat-card>
    </ng-container>

    <ng-container menuBar>
        <mat-chip-list class="ml-1">
            <mat-chip [routerLink]="['./create']" ><mat-icon>add</mat-icon></mat-chip>
        </mat-chip-list>
    </ng-container>
    
</app-search-template>