<div>
    <h2 class="font-4xl mt-3 font-weight-bold d-flex align-items-center"><button mat-mini-fab
            [routerLink]="['/administracion-sistema/sidebar']">
            <mat-icon>arrow_back</mat-icon>
        </button>&nbsp; {{title}}</h2>
    <div>
        <div>
            <div>
                <mat-card>
                    <div [formGroup]="form" class="row m-0">
                        <mat-form-field class="col-md-6">
                            <input matInput placeholder="Nombre" formControlName="name">
                            <mat-error *ngIf="form.get('name').invalid">Este campo es requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-md-6">
                            <input matInput placeholder="Url" formControlName="url">
                            <mat-error *ngIf="form.get('url').invalid">Este campo es requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-md-6">
                            <input matInput placeholder="Icono" formControlName="icon">
                            <mat-error *ngIf="form.get('name').invalid">Este campo es requerido</mat-error>
                        </mat-form-field>

                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <input (click)="isOpenSearchPermission = !isOpenSearchPermission" type="text" readonly [formControl]="formPermission"  matInput placeholder="Permiso" >
                                <button mat-icon-button matSuffix [routerLink]="['/administracion-sistema/permissions']" ><mat-icon>add</mat-icon></button>
                                <mat-error *ngIf="form.get('name').invalid">Este campo es requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <button mat-raised-button color="primary" (click)="saveInServer()"
                            [disabled]="isLoading">Guardar <mat-icon>save</mat-icon></button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div [hidden]="!isOpenSearchPermission" class="search-permission">
    <button (click)="isOpenSearchPermission = !isOpenSearchPermission" mat-mini-fab color="warn" class="btn-close-search-product"><mat-icon>close</mat-icon></button>
    <div class="col-md-6 col-8 overflow-auto">
        <app-search placeholder="Buscador de permisos" [url]="urlPermission" (data)="getData($event)">
            <mat-selection-list [multiple]="false" data (selectionChange)="selectPermission($event)">
                <mat-list-option [value]="permission.id" mat-line *ngFor="let permission of permissions">
                    <div mat-line>{{permission?.name}}</div>
                    <div mat-line class="border-bottom">{{permission?.description}}</div>
                </mat-list-option>
            </mat-selection-list>
        </app-search>
    </div>
</div>