<div>
    <button mat-fab color="accent" style="    position: fixed;
    z-index: 10;
    right: 25px;
    bottom: 113px;" [routerLink]="['./create']"><mat-icon>add</mat-icon></button>
    <div [formGroup]="form_filter" class="mb-4 sticky-top p-0 card-body  row" style="z-index: 10;">
        <mat-tab-group class="py-0 col" style="overflow: hidden;">
            <mat-tab label="Busqueda">
                <div class="position-relative col-12  w-100 p-3" style="overflow: hidden;">
                    <input style="padding-left: 45px;height: 50px;" class="form-control font-2xl shadow rounded-pill font-facebook" placeholder="Escriba el nombre del producto" (keyup)="searchBar()" formControlName="search">
                    <button class="position-absolute" style="top: 0px;
                    left: 22px;height: 100%;" mat-icon-button (click)="searchBar()">
                        <mat-icon style="font-size: 30px;" type="search">search</mat-icon>
                    </button>
                </div>
            </mat-tab>
            <mat-tab label="Filtros">
                <mat-card>
                    <mat-card-content>
                        <div class="pt-3 px-2 row" style="overflow: hidden;">
                            <mat-form-field class="col-md-6">
                                <mat-label>Estados</mat-label>
                                <mat-select (selectionChange)="searchBar()" formControlName="state">
                                    <mat-option value="all">Todos</mat-option>
                                    <mat-option value="active">Activo</mat-option>
                                    <mat-option value="closed">Inactivo</mat-option>
                                    <mat-option value="payment_required">Pago requerido</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-md-3">
                                <mat-label>Precio Min</mat-label>
                                <input matInput formControlName="min" type="number" class="example-right-align">
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>
                            <mat-form-field class="col-md-3">
                                <mat-label>Precio Max</mat-label>
                                <input formControlName="max" matInput type="number" class="example-right-align">
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button (click)="searchBar()" color="primary">Aplicar Filtro</button>
                        <!-- <button mat-button>Ok</button> -->
                    </mat-card-actions>
                </mat-card>
            </mat-tab>
            <!-- <mat-tab label="Paginacion">     
            </mat-tab> -->
        </mat-tab-group>
    </div>

    <div *ngIf="isload" class="mt-4">
        <mat-card *ngFor="let item of [1,2,3]" class="my-1">
            <ngx-skeleton-loader count="1" [theme]="{ 
              'border-radius': '5px',
              height: '50px'
            }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ 
                'border-radius': '5px',
                height: '30px'
              }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="3" [theme]="{ 
                'border-radius': '5px',
                height: '40px',
                width:'150px',
                'margin-right':'5px'
              }"></ngx-skeleton-loader>
        </mat-card>
    </div>
    <div *ngIf="hasData; else elseTemplate" class="mt-4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- <ng-container [@fade] *ngFor="let p of products;index as i"> -->
            <app-publication [@fade] *ngFor="let p of products;index as i" [publication]="p" (delete)="destroyPublication($event)"></app-publication>
        </div>
    </div>
    <ng-template #elseTemplate>
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/img/respuesta_vacia.svg" alt="" width="100%">
            </div>
            <div class="col-md-6 font-facebook font-2xl d-flex align-items-center">
                Ups! Lo que Buscaste no lo encontramos mejorar el criterio de Busqueda
            </div>
        </div>
    </ng-template>
    <mat-paginator *ngIf="products.length > 0" class="float-right" #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="searchBar($event)">
    </mat-paginator>
</div>
<!-- <div class="card" id="publication-content" product_id="{{$p->id}}">
        
        <div class="header"> -->

<!-- <h2>
                <span style="color:#f44336; font-weight: bold;">#{{$p->id}}</span> {{$p->name}}
                @if($p->description)
                    <small><i>{{ str_limit($p->description, $limit = 150, $end = '...') }}</i></small>
                @endif
            </h2> -->
<!-- <div class="m-t-5">
            <span class="badge {{$p->status}}">{{trans('publication.status-'.$p->status)}}</span>

            @if($p->mlAccounts->count() > 0)
            Cuentas:

            @foreach ($p->mlAccounts as $account)
            <span class="badge {{$p->status}}">{{$account->user_name}}</span>
            @endforeach
            @endif
        </div> -->


<!-- @php ( $route = 'catalogs.publications.edit')
        @can($route)
        <ul class="header-dropdown m-r--5">
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                </a>

                <ul class="dropdown-menu pull-right">
                    @can($route)
                    <li><a href="{{ route($route, $p->id) }}">Editar Publicación</a></li>
                    @endcan

                    <li><a href="#" class="delete" id="{{$p->id}}">Eliminar Publicación</a></li>
                </ul>
            </li>
        </ul>
        @endcan -->

<!-- </div> -->

<!-- @if($p->mlInfos->count() > 0 || $p->errors->count() > 0)
    <div class="body">

        <div class="row">

            @if($p->mlInfos->count() > 0)
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="header header-info">
                    <h2>
                        Publicaciones
                    </h2>
                    @if(getMenuAvailableMlItems()->count() > 0 && $p->mlInfos->count() > 1)
                    <div class="options-bar">
                        <h2>Acciones</h2>
                        <div class="btn-group item-options">
                            <button type="button" class="btn btn-xs bg-orange waves-effect"><i
                                    class="material-icons">settings</i></button>
                            <button type="button" class="btn btn-xs bg-orange waves-effect dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="material-icons">keyboard_arrow_down</i>

                            </button>
                            <ul class="dropdown-menu">{!!
                                App\Http\Controllers\Catalogue\Product\ProductMlController::renderMlMenuItems($p,
                                'publication') !!}</ul>
                        </div>
                    </div>
                    @endif
                </div>
                @if(getMenuAvailableMlItems()->count() > 0 && $p->mlInfos->count() > 1)
                <div class="mobile-padding"></div>
                @endif
            </div>
            @endif
            {{-- Ml --}}
            <div id="ml-items-content">
                @foreach($p->mlInfos as $ml)


                @include('admin.catalogs.ml.mlInfosItem')
                <div class="more-ml-info" style="display: none;"></div>


                @endforeach
            </div>



        </div>

        @if ($p->errors->count() > 0)
        @foreach ($p->errors as $e)
        <div class="alert alert-danger">
            <strong>Error Code: {{ $e->code }} </strong> {{ $e->message }} [{{ $e->references }}] <strong>Account: {{
                $e->mlAccount->user_name }}</strong>
            - {{ $e->created_at }}
            .
        </div>
        @endforeach
        @endif

    </div>
    @endif -->
<!-- 
</div>
</div>
</div> -->