<div>
    <app-header-search [placeholder]="'Escriba la persona a buscar'" (isLoading)="isLoading = $event" [url]="'admin/people'" (products)="loadData($event)">
    </app-header-search>
    <div>
        <div style="margin-bottom: 58px;" class="card-columns">
            <mat-card *ngFor="let person of peoples" class="card border-0 rounded-fz">
                <app-person (delete)="deletePerson($event)" [permission]="permissions" [person]="person"></app-person>
            </mat-card>
        </div>

        <mat-paginator [hidden]="isLoading" *ngIf="peoples.length > 0" [pageSizeOptions]="[10, 20, 30]" (page)="changePaginator($event)" showFirstLastButtons [pageSize]="paginator.per_page" [length]="paginator.total" [pageIndex]="paginator.current_page-1">
        </mat-paginator>
    </div>

    <button *ngxPermissionsOnly="permissions.create" mat-fab style="position: fixed;bottom: 10px;right: 10px;" [routerLink]="['./create']" routerLinkActive="router-link-active">
      <mat-icon>add</mat-icon>
    </button>
</div>
