<div>
  <button
    [routerLink]="['/administracion-sistema/personas/create']"
    mat-raised-button
    color="accent"
    class="btn-add-person">
    <i class="fa-solid fa-person-circle-plus"></i>
    Agregar una persona
  </button>
  <h1 class="fw-bold mat-display-1 my-3">{{ title }}</h1>
  <small *ngIf="status === 'create' && personCurrent?.user" class="text-danger">
    Cuidado esta persona ya posee un usuario si continua se cambiara de usuario a esta persona con email
    {{ personCurrent?.user?.email }}
  </small>
  <div>
    <div>
      <mat-card>
        <mat-card-content>
          <form class="row" [formGroup]="form">
            <div class="col-md-6">
              <mat-card-header>
                <mat-card-title>Formulario de usuario</mat-card-title>
              </mat-card-header>
              <mat-form-field class="col-12">
                <mat-select placeholder="Correo electrónico" formControlName="email">
                  <mat-option *ngFor="let email of emails" [value]="email">
                    {{ email }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-12">
                <input matInput placeholder="Contraseña" formControlName="password" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-card-header>
                <mat-card-title>Selector de Persona <button color="accent" (click)="openSearchPerson()" mat-button><i class="fa-solid fa-magnifying-glass"></i> Buscar persona</button></mat-card-title>
              </mat-card-header>
              <div class="d-flex p-3 rounded-fz shadow" *ngIf="personCurrent; else notPerson">
                <div>
                  <img width="40" height="40" class="rounded-circle mr-2" [src]="personCurrent?.photo?.permalink || urlLetter + personCurrent?.first_name" alt="">
                </div>
                <div>
                  <h3 class="font-2xl font-weight-bold m-0 mb-1">{{personCurrent.first_name}}</h3>
                  <div>CI / Passport :{{ personCurrent.identification_number }}</div>
                  <div>Cargo: {{ personCurrent.position?.name }}</div>
                </div>
              </div>
              <ng-template #notPerson>
                <div class="text-danger">
                  No se ha seleccionado una persona, seleccione para poder continuar
                </div>
              </ng-template>
              
            </div>
          </form>
          <div class="mat-form-padding">
            <span>Roles:</span>
            <span class="example-list-section">
              <ul>
                <li [ngClass]="checked.checked ? 'badge-active': 'badge-desactive'" class="d-inline-block  rounded-pill px-3 py-2 m-1" *ngFor="let rol of roles">
                  <span class="d-flex align-items-center">
                    <mat-checkbox #checked [(ngModel)]="rol.checked">
                      <span>{{ rol.name }}</span>
                    </mat-checkbox>
                  </span>
                </li>
              </ul>
            </span>
          </div>
          <button mat-raised-button color="primary" (click)="saveInServer()">Guardar <i class="fa-regular fa-paper-plane"></i></button>
        </mat-card-content>
      </mat-card>
    </div>
  <!--   <div class="col-md-6">
      <mat-card class="search-people">
        <div>
          <div>
            <div class="d-flex justify-content-between align-items-center w-100">
              <span class="font-2xl">Persona selecciona</span>
              <button *ngIf="status === 'create'" color="accent" (click)="openSearchPerson()" mat-icon-button>
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="personCurrent; else templateNotPerson">
          <div class="d-flex">
            <img class="img-person" [src]="personCurrent?.photo?.permalink" />
            <div>
              <h3 class="font-2xl">{{ personCurrent.first_name + " " + personCurrent.last_name }}</h3>
            </div>
          </div>
          <mat-card-content class="m-0">
            <table class="table table-borderless table-custom">
              <tbody>
                <tr>
                  <td>Tipo de documento:</td>
                  <td>
                    <span>{{ personCurrent?.identification_type }}</span>
                  </td>
                </tr>
                <tr>
                  <td>CI / Passport:</td>
                  <td>
                    <span>{{ personCurrent?.identification_number }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Cargo:</td>
                  <td>
                    <span>{{ personCurrent?.position?.name }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Ciudad:</td>
                  <td>
                    <span>{{ personCurrent?.city?.name }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Estado:</td>
                  <td>
                    <span>{{ personCurrent?.status }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Sexo:</td>
                  <td>
                    <span>{{ personCurrent?.sex }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Con usuario asignado:</td>
                  <td>
                    <span [ngClass]="personCurrent?.user_id ? 'bg-danger' : 'bg-success'">
                      {{ personCurrent?.user_id ? "Si" : "No" }}
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>Fecha de ingreso:</td>
                  <td>
                    <span>{{ personCurrent?.start_date | date }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </div>
        <ng-template #templateNotPerson>
          <mat-card-content class="m-0">
            <p>No se ha seleccionado una persona</p>
          </mat-card-content>
        </ng-template>

        <div
          *ngIf="status === 'create'"
          [ngClass]="{ 'show-search-person': isSearchPerson }"
          class="main-style p-2 search-person-content">
         <app-search
            styles="height: 100%"
            classes="border-bottom"
            (data)="getPeople($event)"
            placeholder="Buscador de personas"
            [url]="'admin/user/people'">
            <div class="px-3 content-items" data>
               <mat-list>
                <mat-list-item *ngFor="let person of people">
                  <img
                    matListAvatar
                    [src]="person?.photo?.permalink || urlLetter + person?.first_name"
                    alt="foto de usuario" />
                  <h3 mat-line>{{ person.first_name + " " + person.last_name }}</h3>
                  <div mat-line>CI / Passport :{{ person.identification_number }}</div>
                  <div mat-line>Cargo: {{ person.position?.name }}</div>
                  <div mat-line>
                    <button mat-button color="primary" (click)="selectedPerson(person.id)">
                      <mat-icon>done</mat-icon>
                      Seleccionar
                    </button>
                  </div>
                </mat-list-item>
              </mat-list> -->
              <!-- <mat-card class="my-2" *ngFor="let person of people">
                <div>
                  <div class="d-flex">
                    <img class="img-person" [src]="person?.photo?.permalink" />
                    <h3>{{ person.first_name + " " + person.last_name }}</h3>
                  </div>
                </div>
                <mat-card-content class="m-0">
                  <p>CI / Passport :{{ person.identification_number }}</p>
                  <p>Cargo: {{ person.position?.name }}</p>
                </mat-card-content>
                <mat-card-actions align="start">
                  <button mat-button color="primary" (click)="selectedPerson(person.id)">
                    <mat-icon>done</mat-icon>
                    Seleccionar
                  </button>
                </mat-card-actions>
              </mat-card> 
            </div>
            <ng-container inputBtn>
              <button (click)="openSearchPerson()" class="btn-default"><i class="fas fa-times"></i></button>
            </ng-container>
          </app-search>
        </div>
      </mat-card>
    </div>-->
  </div>
</div>
