<div>
  <button
    [routerLink]="['/administracion-sistema/people/create']"
    mat-raised-button
    color="accent"
    class="btn-add-person">
    <i class="fa-solid fa-person-circle-plus"></i>
    Agregar una persona
  </button>
  <h1 class="fw-bold font-4xl my-3">{{ title }}</h1>
  <small *ngIf="status === 'create' && personCurrent?.user" class="text-danger">
    Cuidado esta persona ya posee un usuario si continua se cambiara de usuario a esta persona con email
    {{ personCurrent?.user?.email }}
  </small>
  <div>
    <div>
      <mat-card>
        <mat-card-content>
          <form class="row" [formGroup]="form">
            <div class="col-md-6">
              <mat-card-header>
                <mat-card-title>Formulario de usuario</mat-card-title>
              </mat-card-header>
              <mat-form-field class="col-12">
                <mat-select placeholder="Correo electrónico" formControlName="email">
                  <mat-option *ngFor="let email of emails" [value]="email">
                    {{ email }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-12">
                <input matInput placeholder="Contraseña" formControlName="password" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-card-header>
                <mat-card-title>Selector de Persona <button color="accent" (click)="openSearchPerson()" mat-button><i class="fa-solid fa-magnifying-glass"></i> Buscar persona</button></mat-card-title>
              </mat-card-header>
              <div class="d-flex p-3 rounded-fz shadow" *ngIf="personCurrent; else notPerson">
                <div>
                  <img width="40" height="40" class="rounded-circle mr-2" [src]="personCurrent?.photo?.permalink || urlLetter + personCurrent?.first_name" alt="">
                </div>
                <div>
                  <h3 class="font-2xl font-weight-bold m-0 mb-1">{{personCurrent.first_name}}</h3>
                  <div>CI / Passport :{{ personCurrent.identification_number }}</div>
                  <div>Cargo: {{ personCurrent.position?.name }}</div>
                </div>
              </div>
              <ng-template #notPerson>
                <div class="text-danger">
                  No se ha seleccionado una persona, seleccione para poder continuar
                </div>
              </ng-template>
              
            </div>
          </form>
          <div class="mat-form-padding">
            <span>Roles:</span>
            <span class="example-list-section">
              <ul>
                <li [ngClass]="checked.checked ? 'badge-active': 'badge-desactive'" class="d-inline-block  rounded-pill px-3 m-1" *ngFor="let rol of roles">
                  <span class="d-flex align-items-center">
                    <mat-checkbox #checked [(ngModel)]="rol.checked">
                      <span>{{ rol.name }}</span>
                    </mat-checkbox>
                  </span>
                </li>
              </ul>
            </span>
          </div>
          <button mat-raised-button color="primary" (click)="saveInServer()">Guardar <i class="fa-regular fa-paper-plane"></i></button>
        </mat-card-content>
      </mat-card>
    </div>
 
</div>
</div>
